/**
 * Handling for CSS color variable definitions.
 * Kept minimal, so end-users can easily override with custom colors, if desired.
 *
 * For documentation on how to add custom color themes, see the `example_colors` subfolder.
 * You will want to override this file in your own project,
 * providing an import structure similar to what's shown below.
 */


/* Import base AdminLte color variables. */
@import "./color-variables-base.css";

/* Example of importing custom color variables. */
@import "./example_colors/example-additional-colors.css";
