/**
 * Handling for CSS element theme definitions.
 * Kept minimal, so end-users can easily override with custom colors, if desired.
 *
 * For documentation on how to add custom color themes, see the `example_colors` subfolder.
 * You will want to override this file in your own project,
 * providing an import structure similar to what's shown below.
 */


/* Import base AdminLte color variables. */
@import "./extra-colors-base.css";

/* Example of importing custom element theme definitions. */
@import "./example_colors/indigo.css";
@import "./example_colors/lime.css";
@import "./example_colors/olive.css";
