{# Specialized Buttons #}

<div class="col-md-6">
  {% include 'adminlte2_demo_css/partials/buttons_block.html' with bootstrap_types=bootstrap_types %}
  {% include 'adminlte2_demo_css/partials/buttons_horizontal_group.html' with bootstrap_types=bootstrap_types %}
</div>

<div class="col-md-6">
  {% include 'adminlte2_demo_css/partials/buttons_split.html' with bootstrap_types=bootstrap_types %}
  {% include 'adminlte2_demo_css/partials/buttons_application.html' with bootstrap_types=bootstrap_types %}
  {% include 'adminlte2_demo_css/partials/buttons_vertical_group.html' with bootstrap_types=bootstrap_types %}
</div>
