{# Carousels #}
{% load static %}


{% for bootstrap_type in bootstrap_types %}

  <div
    class="col-sm-3 flex-column flex-center flex-grow-children bg-{{ bootstrap_type }}"
    style="min-height: 500px; padding-top: 20px; padding-bottom: 20px;"
  >

    <p>"{{ bootstrap_type|capfirst }}" Colored Carousels</p>

    <div
      id="carousel-example-generic-{{ bootstrap_type }}"
      class="carousel slide col-xs-12 carousel-{{ bootstrap_type }} bg-default"
      data-ride="carousel"
    >

      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic-{{ bootstrap_type }}" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic-{{ bootstrap_type }}" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic-{{ bootstrap_type }}" data-slide-to="2" class=""></li>
      </ol>

      <div class="carousel-inner">

        <div class="item active">
          <img src="{%  static 'third-party/font-awesome-5/5.8.2/svgs/regular/grin.svg' %}" alt="First slide">
          <div class="carousel-caption">
            First Slide
          </div>
        </div>

        <div class="item">
          <img src="{%  static 'third-party/font-awesome-5/5.8.2/svgs/regular/laugh-wink.svg' %}" alt="Second slide">
          <div class="carousel-caption">
            Second Slide
          </div>
        </div>

        <div class="item">
          <img src="{%  static 'third-party/font-awesome-5/5.8.2/svgs/regular/grin-squint.svg' %}" alt="Third slide">
          <div class="carousel-caption">
            Third Slide
          </div>
        </div>

      </div>

      <a class="left carousel-control" href="#carousel-example-generic-{{ bootstrap_type }}" data-slide="prev">
        <span class="fa fa-angle-left"></span>
      </a>

      <a class="right carousel-control" href="#carousel-example-generic-{{ bootstrap_type }}" data-slide="next">
        <span class="fa fa-angle-right"></span>
      </a>
    </div>

    <div
      id="carousel-example-generic-{{ bootstrap_type }}-bg"
      class="carousel slide col-xs-12 bg-{{ bootstrap_type }}"
      data-ride="carousel"
    >

      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic-{{ bootstrap_type }}-bg" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic-{{ bootstrap_type }}-bg" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic-{{ bootstrap_type }}-bg" data-slide-to="2" class=""></li>
      </ol>

      <div class="carousel-inner">

        <div class="item active">
          <img src="{%  static 'third-party/font-awesome-5/5.8.2/svgs/regular/grin.svg' %}" alt="First slide">
          <div class="carousel-caption">
            First Slide
          </div>
        </div>

        <div class="item">
          <img src="{%  static 'third-party/font-awesome-5/5.8.2/svgs/regular/laugh-wink.svg' %}" alt="Second slide">
          <div class="carousel-caption">
            Second Slide
          </div>
        </div>

        <div class="item">
          <img src="{%  static 'third-party/font-awesome-5/5.8.2/svgs/regular/grin-squint.svg' %}" alt="Third slide">
          <div class="carousel-caption">
            Third Slide
          </div>
        </div>

      </div>

      <a class="left carousel-control" href="#carousel-example-generic-{{ bootstrap_type }}-bg" data-slide="prev">
        <span class="fa fa-angle-left"></span>
      </a>

      <a class="right carousel-control" href="#carousel-example-generic-{{ bootstrap_type }}-bg" data-slide="next">
        <span class="fa fa-angle-right"></span>
      </a>
    </div>

  </div>

{% endfor %}
