{# Modals #}


<div class="box box-solid box-default">

  <div class="box-header with-border">
    <h3 class="box-title">Modals</h3>
  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <h4><i class="fa fa-question-circle"></i> AdminLTE Solid-Color Modals</h4>
      </div>
    </div>

    <div class="row">

      {% for bootstrap_type in bootstrap_types %}

        {# Example Elements Start Here #}
        <div class="col-sm-2" style="margin-bottom:10px;">
          <button class="btn btn-{{ bootstrap_type }}" data-toggle="modal" data-target="#modal-{{ bootstrap_type }}">
            {{ bootstrap_type|capfirst }} Modal
          </button>
        </div>
        {# Example Elements End Here #}

      {% endfor %}

    </div>

  </div>
</div>

<div class="box box-solid box-default">

  <div class="row">
    <div class="col-sm-12">
      <h4><i class="fa fa-question"></i> Solid Header Only Modals</h4>
    </div>
  </div>

  <div class="row">

    {% for bootstrap_type in bootstrap_types %}

      {# Example Elements Start Here #}
      <div class="col-sm-2" style="margin-bottom:10px;">
        <button
          class="btn btn-{{ bootstrap_type }}"
          data-toggle="modal"
          data-target="#modal-header-{{ bootstrap_type }}"
        >
          {{ bootstrap_type|capfirst }} Modal
        </button>
      </div>
      {# Example Elements End Here #}

    {% endfor %}

  </div>
</div>


<div class="box box-solid box-default">

  <div class="box-header with-border">
    <h3 class="box-title">Modals</h3>
  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <h4><i class="fa fa-question-circle"></i> Solid Footer Only Modals</h4>
      </div>
    </div>

    <div class="row">

      {% for bootstrap_type in bootstrap_types %}

        {# Example Elements Start Here #}
        <div class="col-sm-2" style="margin-bottom:10px;">
          <button class="btn btn-{{ bootstrap_type }}" data-toggle="modal" data-target="#modal-footer-{{ bootstrap_type }}">
            {{ bootstrap_type|capfirst }} Modal
          </button>
        </div>
        {# Example Elements End Here #}

      {% endfor %}

    </div>

  </div>
</div>
