{# Modal Popups #}

{% for bootstrap_type in bootstrap_types %}

  {# Example Elements Start Here #}
  <div class="modal modal-{{ bootstrap_type }} fade" id="modal-{{ bootstrap_type }}" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">{{ bootstrap_type }} Modal</h4>
        </div>

        <div class="modal-body">
          <p>One fine body…</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-{{ bootstrap_type }}">Save changes</button>
        </div>

      </div><!-- /.modal-content -->

    </div><!-- /.modal-dialog -->
  </div>
  {# Example Elements End Here #}

{% endfor %}


{% for bootstrap_type in bootstrap_types %}

  {# Example Elements Start Here #}
  <div class="modal fade" id="modal-solid-{{ bootstrap_type }}" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header alert-{{ bootstrap_type }}">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">{{ bootstrap_type }} Modal</h4>
        </div>

        <div class="modal-body">
          <p>One fine body…</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-{{ bootstrap_type }}">
            Save changes
          </button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  {# Example Elements End Here #}

{% endfor %}

