{# Hover Data Tables #}


<div class="box">

  {# Start Box Head #}
  <div class="box-header">
    <h3 class="box-title">Basic Table With Colored Headers</h3>

    {% include 'adminlte2_demo_css/partials/box_tools.html' %}
  </div>
  {# End Box Head #}

  {# Start Box Body #}
  <div class="box-body">

    <div class="row">
      <div class="col-sm-12">

        {% for bootstrap_type in bootstrap_types %}

          <table
            class="table table-bordered"
            role="grid"
          >

            {# Table Header #}
            <thead>
              {# Example Elements End Here #}
              <tr class="{{ bootstrap_type }}">

                <th rowspan="1" colspan="1">Colored</th>
                <th rowspan="1" colspan="1">Example</th>
                <th rowspan="1" colspan="1">Head</th>
                <th rowspan="1" colspan="1">Elements</th>

              </tr>
              {# Example Elements End Here #}
            </thead>

            {# Table Body #}
            <tbody>

              <tr>
                <td>Header / Footer</td>
                <td>is</td>
                <td>color</td>
                <td>{{ bootstrap_type }}</td>
              </tr>
              <tr>
                <td>This row</td>
                <td>has</td>
                <td>no</td>
                <td>color</td>
              </tr>

              <tr class="{{ bootstrap_type }}">
                <td>This row</td>
                <td>is</td>
                <td>color</td>
                <td>{{ bootstrap_type }}</td>
              </tr>

              <tr>
                <td>This row</td>
                <td>has</td>
                <td>no</td>
                <td>color</td>
              </tr>
              <tr>
                <td>Header / Footer</td>
                <td>is</td>
                <td>color</td>
                <td>{{ bootstrap_type }}</td>
              </tr>

            </tbody>

            {# Table Footer #}
            <tfoot>
              {# Example Elements Start Here #}
              <tr class="{{ bootstrap_type }}">

                <th rowspan="1" colspan="1">Colored</th>
                <th rowspan="1" colspan="1">Example</th>
                <th rowspan="1" colspan="1">Foot</th>
                <th rowspan="1" colspan="1">Elements</th>

              </tr>
              {# Example Elements End Here #}
            </tfoot>

          </table>

        {% endfor %}

      </div>
    </div>

  </div>

</div>
