{# Hover Data Tables #}


<div class="box">

  {# Start Box Head #}
  <div class="box-header">
    <h3 class="box-title">Basic Colored Tables</h3>

    {% include 'adminlte2_demo_css/partials/box_tools.html' %}
  </div>
  {# End Box Head #}

  {# Start Box Body #}
  <div class="box-body">

    <div class="row">
      <div class="col-sm-12">

        <div id="carousel-basic-table" class="carousel slide carousel-black" data-ride="carousel">

          <ol class="carousel-indicators">
            {% for bootstrap_type in bootstrap_types %}
              <li
                data-target="#carousel-basic-table"
                data-slide-to="{{ forloop.counter0 }}"
                class="{% if forloop.counter0 == 0 %}active{% else %}{% endif %}"
              ></li>
            {% endfor %}
          </ol>

          <div class="carousel-inner padding-right-05 padding-left-05">
            {% for bootstrap_type in bootstrap_types %}
              <div class="item {% if forloop.counter0 == 0 %}active{% else %}{% endif %}">

                <h4>"{{ bootstrap_type|capfirst }}" Colored Table</h4>

                {# Example Elements Start Here #}
                <table
                  class="table table-bordered"
                  role="grid"
                >

                  {# Table Header #}
                  <thead>
                    <tr class="{{ bootstrap_type }}">

                      <th rowspan="1" colspan="1">Colored</th>
                      <th rowspan="1" colspan="1">Example</th>
                      <th rowspan="1" colspan="1">Head</th>
                      <th rowspan="1" colspan="1">Elements</th>

                    </tr>
                  </thead>

                  {# Table Body #}
                  <tbody>

                    <tr>
                      <td>Header / Footer</td>
                      <td>is</td>
                      <td>color</td>
                      <td>{{ bootstrap_type }}</td>
                    </tr>

                    <tr class="{{ bootstrap_type }}">
                      <td>This row</td>
                      <td>is</td>
                      <td>color</td>
                      <td>{{ bootstrap_type }}</td>
                    </tr>

                    <tr>
                      <td>This row</td>
                      <td>has</td>
                      <td>no</td>
                      <td>color</td>
                    </tr>

                    <tr class="{{ bootstrap_type }}">
                      <td>This row</td>
                      <td>is</td>
                      <td>color</td>
                      <td>{{ bootstrap_type }}</td>
                    </tr>

                    <tr>
                      <td>Header / Footer</td>
                      <td>is</td>
                      <td>color</td>
                      <td>{{ bootstrap_type }}</td>
                    </tr>

                  </tbody>

                  {# Table Footer #}
                  <tfoot>

                    <tr class="{{ bootstrap_type }}">

                      <th rowspan="1" colspan="1">Colored</th>
                      <th rowspan="1" colspan="1">Example</th>
                      <th rowspan="1" colspan="1">Foot</th>
                      <th rowspan="1" colspan="1">Elements</th>

                    </tr>

                  </tfoot>

                </table>
                {# Example Elements End Here #}

                <div class="carousel-caption">
                  "{{ bootstrap_type|capfirst }}" Colored Table
                </div>

                <br>
                <br>
                <br>

              </div>
            {% endfor %}
          </div>

          <a
            class="left carousel-control max-width-25px"
            href="#carousel-basic-table"
            data-slide="prev"
          >
            <span class="fa fa-angle-left"></span>
          </a>

          <a
            class="right carousel-control max-width-25px"
            href="#carousel-basic-table"
            data-slide="next"
          >
            <span class="fa fa-angle-right"></span>
          </a>

        </div>

      </div>
    </div>

  </div>

</div>
