{% extends "adminlte2_demo_css/main.html" %}


{% block content %}
  <h1>Demo CSS <small>Example Button Elements</small></h1>

  {# Dropdown Menus #}
  {% include 'adminlte2_demo_css/partials/dropdown_menus.html' with bootstrap_types=bootstrap_types %}

  {# Anchor Buttons #}
  {% include 'adminlte2_demo_css/partials/anchor_buttons.html' with bootstrap_types=bootstrap_types %}

  {# Buttons #}
  {% include 'adminlte2_demo_css/partials/buttons.html' with bootstrap_types=bootstrap_types %}

{% endblock content %}
