{% if show_csb_extra_tab_panes %}
  {% comment %}
    Add as many additional tabs that you may want to the control-sidebar here.
    The context is passed through so any data you need can be placed in the main context
    and this template will have access to it.
  {% endcomment %}

  {% block control_sidebar_extra_tab_panes %}
    
    <!-- Settings tab content -->
    <div class="tab-pane {% if activate_csb_extra_tab_panes %}active{% endif %}" id="control-sidebar-extra-tab">
      <h3 class="control-sidebar-heading">Extra Tab</h3>
      <h2>Place Content Here!</h2>
    </div>
    
    <!-- /.tab-pane -->
  {% endblock control_sidebar_extra_tab_panes %}
{% endif %}
