{% extends "adminlte2/base.html" %}
{% load i18n static %}


{% block page_stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}"/>
{% endblock page_stylesheets %}


{% block breadcrumbs %}
  <ol class="breadcrumb">
    {% include "admin/partials/_breadcrumb_home.html" %}
    <li>
      {% trans 'Password change' %}
    </li>
  </ol>
{% endblock breadcrumbs %}


{% block title %}
  {{ title }}
{% endblock %}


{% block page_name %}
  <h1>
    {{ title }}
  </h1>
{% endblock page_name %}


{% block content %}
  <div id="content-main">
    <div class="box">
      <div class="box-body">
        <p>
          {% trans 'Your password was changed successfully.' %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
