{% extends "adminlte2/base_anonymous.html" %}


{% block anonymous_form_instructions %}
  <p class="login-box-msg">Register a new membership</p>
{% endblock anonymous_form_instructions %}


{% block anonymous_form_extra_top %}
  <div class="form-group has-feedback">
    <input name="full-name" class="form-control" placeholder="Full name">
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    <input name="email" class="form-control" placeholder="Email">
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
  </div>
{% endblock anonymous_form_extra_top %}


{% block anonymous_password %}
  <div class="form-group has-feedback">
    {% block anonymous_password_input %}
      <input type="password" name="password1" class="form-control" placeholder="Password">
    {% endblock anonymous_password_input %}
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>
{% endblock anonymous_password %}


{% block anonymous_form_extra_bottom %}
  <div class="form-group has-feedback">
    <input type="password" name="password2" class="form-control" placeholder="Retype password">
    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
  </div>
{% endblock anonymous_form_extra_bottom %}


{% block anonymous_form_remember_me %}
  <label>
    <input type="checkbox">
    I agree to the <a href="#">terms</a>
  </label>
{% endblock anonymous_form_remember_me %}


{% block anonymous_form_button %}
  <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
{% endblock anonymous_form_button %}


{% block social_auth_links %}
  <div class="social-auth-links text-center">
    <p>- OR -</p>
    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
      <i class="fa fa-facebook"></i>
      Sign up using Facebook
    </a>
    <a href="#" class="btn btn-block btn-social btn-google btn-flat">
      <i class="fa fa-google-plus"></i>
      Sign up using Google+
    </a>
  </div>
{% endblock social_auth_links %}


{% block anonymous_links %}
  <a href="{% url 'login' %}">I already have a membership</a>
{% endblock anonymous_links %}
