[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django="*"

[dev-packages]
black="*"
build="*"
coverage="*"
doc8="*"
esbonio="*"
pip-tools="*"
pylint="*"
pylint-django="*"
rstcheck = "~=3.5.0"
sphinx="*"
sphinx-autobuild="*"
sphinx_rtd_theme="*"
twine="*"

pytest = "*"                    # Base Pytest package. Current preferred testing method.
pytest-asyncio = "*"            # Additional Pytest logic for asyncio support.
pytest-django = "*"             # Additional Pytest logic for Django support.
pytest-xdist = "*"              # Additional Pytest features, such as multithreading and looping.

[requires]
python_version = "3.8"
