[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django="*"

[dev-packages]
autopep8="*"
coverage="*"
doc8="*"
esbonio="*"
pylint="*"
pylint-django="*"
rstcheck = "~=3.5.0"
sphinx="*"
sphinx-autobuild="*"
sphinx_rtd_theme="*"

[requires]
python_version = "3.8"
