{% load adminlte_tags %}
{% load sidebar_menu %}


<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    {% block sidebar %}

      {# Sidebar user panel. Displays gravitar icon and username. #}
      {% block sb_user_panel %}
        <div class="user-panel">
        
          {% block sb_gravitar %}
            <div class="pull-left image">
              <img src="{% get_avatar_url user=request.user size=90 %}" class="img-circle" alt="User Image">
            </div>
          {% endblock sb_gravitar %}
        
          {% block sb_username %}
            <div class="pull-left info">
              <p>{% firstof request.user.get_full_name request.user.username %}</p>
            </div>
            <div class="info-height-retainer"></div>
          {% endblock sb_username %}
        </div>
      {% endblock sb_user_panel %}

      {% block sb_form %}
      {% endblock sb_form %}
      
      {# The sidebar menu. Rendered with the render_menu tag. Styles can be found in sidebar.less #}
      {% block sidebar_menu %}

        <ul class="sidebar-menu">
          {% block sb_nav_links %}

            {% render_menu %}

          {% endblock sb_nav_links %}
        </ul>

        {% endblock sidebar_menu %}
      {% endblock sidebar %}
    </section><!-- /.sidebar -->
</aside>
