{% load adminlte_tags static %}

{% block scripts %}

  {% block scripts_main %}

    {# If in debug mode, load resources from localhost. Else, load from CDNs #}
    {% if debug %}
      {% block scripts_debug %}
        {% include 'adminlte2/partials/_scripts/_scripts_debug.html' %}
      {% endblock scripts_debug %}
    {% else %}
      {% block scripts_prod %}
        {% include 'adminlte2/partials/_scripts/_scripts_prod.html' %}
      {% endblock scripts_prod %}
    {% endif %}

  {% endblock scripts_main %}

  <!-- Override some AdminLTE options -->
  {% block adminlte_options %}
    {% comment %}
    {# See below commented section for an example.
    Also refer to: adminlte2_pdq/static/adminlte2_pdq/third-party/admin-lte/X.X.X/js/app.js
    for available options #}
    <script>
      $.AdminLTE.options.animationSpeed = 200;
      $.AdminLTE.options.sidebarExpandOnHover = true;
      $.AdminLTE.options.enableFastClick = true;
    </script>
    {% endcomment %}
  {% endblock adminlte_options %}

  {% block scripts_main_fixes %}
    <!-- Extra Features and Fixes -->
    <script src="{% static 'adminlte2_pdq/extra-features/extra-features.js' %}"></script>
    <script src="{% static 'adminlte2_pdq/extra-features/header-breadcrumb-overlap-fix.js' %}"></script>
  {% endblock scripts_main_fixes %}

  {% block scripts_main_extra %}
    <!-- Extra Libraries -->
  {% endblock scripts_main_extra %}

{% endblock scripts %}
