{% load static %}

{% block scripts %}
  {% if debug %}
    <!-- jQuery and jQuery UI -->
    <script src="{% static 'third-party/jquery/2.2.4/jquery.min.js' %}"></script>
    <script src="{% static 'third-party/jqueryui/1.11.4/jquery-ui.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'third-party/bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>
    <!-- AdminLTE -->
    <script src="{% static 'third-party/admin-lte/2.3.7/js/app.min.js' %}"></script>
    <!-- Inputmask for Phone numbers -->
    <script src="{% static 'third-party/inputmask/4.0.7/min/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'third-party/inputmask/4.0.7/min/inputmask/bindings/inputmask.binding.min.js' %}"></script>
  {% else %}
    <!-- jQuery and jQuery UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha512-iztkobsvnjKfAtTNdHkGVjAYTrrtlC7mGp/54c40wowO7LhURYl3gVzzcEqGl/qKXQltJ2HwMrdLcNUdo+N/RQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- AdminLTE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.7/js/app.min.js" integrity="sha256-twY1ayIs7adXt9vBEYizRfJ39b731Ar1CnUr7OjzD5o=" crossorigin="anonymous"></script>
    <!-- Inputmask for Phone numbers -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.7/inputmask/inputmask.min.js" integrity="sha256-cYCBSjEEjcJs7VWMxaqYR/lyi6NflWhI1PWEOKEmU4o=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.7/inputmask/bindings/inputmask.binding.min.js" integrity="sha256-bAERPQJaJku+Uh8XMM6VsIDxPU5ZgvNQ7L5YxGwuddA=" crossorigin="anonymous"></script>
  {% endif %}
  <script src="{% static 'adminlte2_pdq/extra-features/extra-features.js' %}"></script>
{% endblock scripts %}
