{% extends "adminlte2/demo_css/main.html" %}


{% block content %}
  <h1>Demo CSS <small>Example Button Elements</small></h1>

  {# Dropdown Menus #}
  {% include 'adminlte2/partials/demo_css/dropdown_menus.html' with bootstrap_types=bootstrap_types %}

  {# Anchor Buttons #}
  {% include 'adminlte2/partials/demo_css/anchor_buttons.html' with bootstrap_types=bootstrap_types %}

  {# Buttons #}
  {% include 'adminlte2/partials/demo_css/buttons.html' with bootstrap_types=bootstrap_types %}

{% endblock content %}
