/**
 * Extra coloring CSS for AdminLte `btn-app` elements.
 */


/* Border separation for application buttons, to make the notification element more visible. */

/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */

/* Default coloring. */
.btn.btn-app,
.btn.btn-app .badge,
.btn.btn-app.bg-default,
.btn.btn-app .badge.bg-default {
    color: var(--default-text-color);
    background-color: var(--default-base-color);
    border: 1px solid var(--default-border-color);
}
.btn.btn-app:active,
.btn.btn-app:focus,
.btn.btn-app:hover,
.btn.btn-app.bg-default:active,
.btn.btn-app.bg-default:focus,
.btn.btn-app.bg-default:hover {
    background-color: var(--default-active-color);
}


/* Primary coloring. */
/* Equivalent to `light-blue`. */
.btn.btn-app.bg-primary,
.btn.btn-app .badge.bg-primary {
    color: var(--primary-text-color);
    background-color: var(--primary-base-color);
    border: 1px solid var(--primary-border-color);
}
.btn.btn-app.bg-primary:active,
.btn.btn-app.bg-primary:focus,
.btn.btn-app.bg-primary:hover {
    background-color: var(--primary-active-color);
}


/* Info coloring. */
/* Equivalent to `aqua`. */
.btn.btn-app.bg-info,
.btn.btn-app .badge.bg-info {
    color: var(--info-text-color);
    background-color: var(--info-base-color);
    border: 1px solid var(--info-border-color);
}
.btn.btn-app.bg-info:active,
.btn.btn-app.bg-info:focus,
.btn.btn-app.bg-info:hover {
    background-color: var(--info-active-color);
}


/* Success coloring. */
/* Equivalent to `green`. */
.btn.btn-app.bg-success,
.btn.btn-app .badge.bg-success {
    color: var(--success-text-color);
    background-color: var(--success-base-color);
    border: 1px solid var(--success-border-color);
}
.btn.btn-app.bg-success:active,
.btn.btn-app.bg-success:focus,
.btn.btn-app.bg-success:hover {
    background-color: var(--success-active-color);
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
.btn.btn-app.bg-warning,
.btn.btn-app .badge.bg-warning {
    color: var(--warning-text-color);
    background-color: var(--warning-base-color);
    border: 1px solid var(--warning-border-color);
}
.btn.btn-app.bg-warning:active,
.btn.btn-app.bg-warning:focus,
.btn.btn-app.bg-warning:hover {
    background-color: var(--warning-active-color);
}


/* Danger coloring. */
/* Equivalent to `red`. */
.btn.btn-app.bg-danger,
.btn.btn-app .badge.bg-danger {
    color: var(--danger-text-color);
    background-color: var(--danger-base-color);
    border: 1px solid var(--danger-border-color);
}
.btn.btn-app.bg-danger:active,
.btn.btn-app.bg-danger:focus,
.btn.btn-app.bg-danger:hover {
    background-color: var(--danger-active-color);
}


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
.btn.btn-app.bg-light-blue,
.btn.btn-app .badge.bg-light-blue {
    color: var(--light-blue-text-color);
    background-color: var(--light-blue-base-color);
    border: 1px solid var(--light-blue-border-color);
}
.btn.btn-app.bg-light-blue:active,
.btn.btn-app.bg-light-blue:focus,
.btn.btn-app.bg-light-blue:hover {
    background-color: var(--light-blue-active-color);
}


/* Aqua coloring. */
/* Equivalent to `info`. */
.btn.btn-app.bg-aqua,
.btn.btn-app .badge.bg-aqua {
    color: var(--aqua-text-color);
    background-color: var(--aqua-base-color);
    border: 1px solid var(--aqua-border-color);
}
.btn.btn-app.bg-aqua:active,
.btn.btn-app.bg-aqua:focus,
.btn.btn-app.bg-aqua:hover {
    background-color: var(--aqua-active-color);
}


/* Green coloring. */
/* Equivalent to `success`. */
.btn.btn-app.bg-green,
.btn.btn-app .badge.bg-green {
    color: var(--green-text-color);
    background-color: var(--green-base-color);
    border: 1px solid var(--green-border-color);
}
.btn.btn-app.bg-green:active,
.btn.btn-app.bg-green:focus,
.btn.btn-app.bg-green:hover {
    background-color: var(--green-active-color);
}


/* Yellow coloring. */
/* Equivalent to `warning`. */
.btn.btn-app.bg-yellow,
.btn.btn-app .badge.bg-yellow {
    color: var(--yellow-text-color);
    background-color: var(--yellow-base-color);
    border: 1px solid var(--yellow-border-color);
}
.btn.btn-app.bg-yellow:active,
.btn.btn-app.bg-yellow:focus,
.btn.btn-app.bg-yellow:hover {
    background-color: var(--yellow-active-color);
}


/* Red coloring. */
/* Equivalent to `danger`. */
.btn.btn-app.bg-red,
.btn.btn-app .badge.bg-red {
    color: var(--red-text-color);
    background-color: var(--red-base-color);
    border: 1px solid var(--red-border-color);
}
.btn.btn-app.bg-red:active,
.btn.btn-app.bg-red:focus,
.btn.btn-app.bg-red:hover {
    background-color: var(--red-active-color);
}


/* Navy coloring. */
.btn.btn-app.bg-navy,
.btn.btn-app .badge.bg-navy {
    color: var(--navy-text-color);
    background-color: var(--navy-base-color);
    border: 1px solid var(--navy-border-color);
}
.btn.btn-app.bg-navy:active,
.btn.btn-app.bg-navy:focus,
.btn.btn-app.bg-navy:hover {
    background-color: var(--navy-active-color);
}


/* Blue coloring. */
.btn.btn-app.bg-blue,
.btn.btn-app .badge.bg-blue {
    color: var(--blue-text-color);
    background-color: var(--blue-base-color);
    border: 1px solid var(--blue-border-color);
}
.btn.btn-app.bg-blue:active,
.btn.btn-app.bg-blue:focus,
.btn.btn-app.bg-blue:hover {
    background-color: var(--blue-active-color);
}


/* Teal coloring. */
.btn.btn-app.bg-teal,
.btn.btn-app .badge.bg-teal {
    color: var(--teal-text-color);
    background-color: var(--teal-base-color);
    border: 1px solid var(--teal-border-color);
}
.btn.btn-app.bg-teal:active,
.btn.btn-app.bg-teal:focus,
.btn.btn-app.bg-teal:hover {
    background-color: var(--teal-active-color);
}


/* Orange coloring. */
.btn.btn-app.bg-orange,
.btn.btn-app .badge.bg-orange {
    color: var(--orange-text-color);
    background-color: var(--orange-base-color);
    border: 1px solid var(--orange-border-color);
}
.btn.btn-app.bg-orange:active,
.btn.btn-app.bg-orange:focus,
.btn.btn-app.bg-orange:hover {
    background-color: var(--orange-active-color);
}


/* Fuchsia coloring. */
.btn.btn-app.bg-fuchsia,
.btn.btn-app .badge.bg-fuchsia {
    color: var(--fuchsia-text-color);
    background-color: var(--fuchsia-base-color);
    border: 1px solid var(--fuchsia-border-color);
}
.btn.btn-app.bg-fuchsia:active,
.btn.btn-app.bg-fuchsia:focus,
.btn.btn-app.bg-fuchsia:hover {
    background-color: var(--fuchsia-active-color);
}


/* Purple coloring. */
.btn.btn-app.bg-purple,
.btn.btn-app .badge.bg-purple {
    color: var(--purple-text-color);
    background-color: var(--purple-base-color);
    border: 1px solid var(--purple-border-color);
}
.btn.btn-app.bg-purple:active,
.btn.btn-app.bg-purple:focus,
.btn.btn-app.bg-purple:hover {
    background-color: var(--purple-active-color);
}


/* Maroon coloring. */
.btn.btn-app.bg-maroon,
.btn.btn-app .badge.bg-maroon {
    color: var(--maroon-text-color);
    background-color: var(--maroon-base-color);
    border: 1px solid var(--maroon-border-color);
}
.btn.btn-app.bg-maroon:active,
.btn.btn-app.bg-maroon:focus,
.btn.btn-app.bg-maroon:hover {
    background-color: var(--maroon-active-color);
}


/* Gray coloring. */
.btn.btn-app.bg-gray,
.btn.btn-app .badge.bg-gray {
    color: var(--gray-text-color);
    background-color: var(--gray-base-color);
    border: 1px solid var(--gray-border-color);
}
.btn.btn-app.bg-gray:active,
.btn.btn-app.bg-gray:focus,
.btn.btn-app.bg-gray:hover {
    background-color: var(--gray-active-color);
}


/* Black coloring. */
.btn.btn-app.bg-black,
.btn.btn-app .badge.bg-black {
    color: var(--black-text-color);
    background-color: var(--black-base-color);
    border: 1px solid var(--black-border-color);
}
.btn.btn-app.bg-black:active,
.btn.btn-app.bg-black:focus,
.btn.btn-app.bg-black:hover {
    background-color: var(--black-active-color);
}
