/**
 * Extra coloring CSS for AdminLte `btn-app` elements.
 */


/* Border separation for application buttons, to make the notification element more visible. */

/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */

/* Default coloring. */
.btn.btn-app.bg-default,
.btn.btn-app .badge.bg-default {
  border: 1px solid #ddd;
}


/* Primary coloring. */
/* Equivalent to `light-blue`. */
.btn.btn-app.bg-primary,
.btn.btn-app .badge.bg-primary {
  border: 1px solid #367fa9;
}


/* Info coloring. */
/* Equivalent to `aqua`. */
.btn.btn-app.bg-info,
.btn.btn-app .badge.bg-info {
  border: 1px solid #00acd6;
}


/* Success coloring. */
/* Equivalent to `green`. */
.btn.btn-app.bg-success,
.btn.btn-app .badge.bg-success {
  border: 1px solid #008d4c;
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
.btn.btn-app.bg-warning,
.btn.btn-app .badge.bg-warning {
  border: 1px solid #e08e0b;
}


/* Danger coloring. */
/* Equivalent to `red`. */
.btn.btn-app.bg-danger,
.btn.btn-app .badge.bg-danger {
  border: 1px solid #d73925;
}


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
.btn.btn-app.bg-light-blue,
.btn.btn-app .badge.bg-light-blue {
  border: 1px solid #367fa9;
}


/* Aqua coloring. */
/* Equivalent to `info`. */
.btn.btn-app.bg-aqua,
.btn.btn-app .badge.bg-aqua {
  border: 1px solid #00acd6;
}


/* Green coloring. */
/* Equivalent to `success`. */
.btn.btn-app.bg-green,
.btn.btn-app .badge.bg-green {
  border: 1px solid #008d4c;
}


/* Yellow coloring. */
/* Equivalent to `warning`. */
.btn.btn-app.bg-yellow,
.btn.btn-app .badge.bg-yellow {
  border: 1px solid #e08e0b;
}


/* Red coloring. */
/* Equivalent to `danger`. */
.btn.btn-app.bg-red,
.btn.btn-app .badge.bg-red {
  border: 1px solid #d73925;
}


/* Navy coloring. */
.btn.btn-app.bg-navy,
.btn.btn-app .badge.bg-navy {
  border: 1px solid #001226;
}


/* Blue coloring. */
.btn.btn-app.bg-blue,
.btn.btn-app .badge.bg-blue {
  border: 1px solid #01578a;
}


/* Teal coloring. */
.btn.btn-app.bg-teal,
.btn.btn-app .badge.bg-teal {
  border: 1px solid #2aa2a2;
}


/* Olive coloring. */
.btn.btn-app.bg-olive,
.btn.btn-app .badge.bg-olive {
  border: 1px solid #2c6d50;
}


/* Lime coloring. */
.btn.btn-app.bg-lime,
.btn.btn-app .badge.bg-lime {
  border: 1px solid #00ce59;
}


/* Orange coloring. */
.btn.btn-app.bg-orange,
.btn.btn-app .badge.bg-orange {
  border: 1px solid #df6901;
}


/* Fuchsia coloring. */
.btn.btn-app.bg-fuchsia,
.btn.btn-app .badge.bg-fuchsia {
  border: 1px solid #bb0c95;
}


/* Indigo coloring. */
.btn.btn-app.bg-indigo,
.btn.btn-app .badge.bg-indigo {
  border: 1px solid #9a52d2;
}


/* Purple coloring. */
.btn.btn-app.bg-purple,
.btn.btn-app .badge.bg-purple {
  border: 1px solid #47447e;
}


/* Maroon coloring. */
.btn.btn-app.bg-maroon,
.btn.btn-app .badge.bg-maroon {
  border: 1px solid #a7154a;
}


/* Gray coloring. */
.btn.btn-app.bg-gray,
.btn.btn-app .badge.bg-gray {
  border: 1px solid #878d98
}


/* Black coloring. */
.btn.btn-app.bg-black,
.btn.btn-app .badge.bg-black {
  border: 1px solid #000000;
}
