/**
 * Extra coloring CSS for AdminLte `bg` elements.
 */


/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */

/* Default coloring. */
.bg-default {
    color: var(--default-text-color) !important;
    background-color: var(--default-base-color) !important;
    border-color: var(--default-border-color);
}
.bg-default-active {
    color: var(--default-text-color) !important;
    background-color: var(--default-active-color) !important;
}
.bg-default .color-palette-box h4,
.bg-text-default,
.color-palette-box h4.bg-text-default {
    color: var(--default-text-color);
}
code,
code.bg-default {
    color: var(--default-light-accent-text-color) !important;
    background-color: var(--default-light-accent-color) !important;
}


/* Primary coloring. */
/* Equivalent to `light-blue`. */
.bg-primary {
    color: var(--primary-text-color) !important;
    background-color: var(--primary-base-color) !important;
    border-color: var(--primary-border-color);
}
.bg-primary-active {
    color: var(--primary-text-color) !important;
    background-color: var(--primary-active-color) !important;
}
.bg-primary .color-palette-box h4,
.bg-text-primary,
.color-palette-box h4.bg-text-primary {
    color: var(--primary-text-color);
}
code.bg-primary {
    color: var(--primary-light-accent-text-color) !important;
    background-color: var(--primary-light-accent-color) !important;
}


/* Info coloring. */
/* Equivalent to `aqua`. */
.bg-info {
    color: var(--info-text-color) !important;
    background-color: var(--info-base-color) !important;
    border-color: var(--info-border-color);
}
.bg-info-active {
    color: var(--info-text-color) !important;
    background-color: var(--info-active-color) !important;
}
.bg-info .color-palette-box h4,
.bg-text-info,
.color-palette-box h4.bg-text-info {
    color: var(--info-text-color);
}
code.bg-info {
    color: var(--info-light-accent-text-color) !important;
    background-color: var(--info-light-accent-color) !important;
}


/* Success coloring. */
/* Equivalent to `green`. */
.bg-success {
    color: var(--success-text-color) !important;
    background-color: var(--success-base-color) !important;
    border-color: var(--success-border-color);
}
.bg-success-active {
    color: var(--success-text-color) !important;
    background-color: var(--success-active-color) !important;
}
.bg-success .color-palette-box h4,
.bg-text-success,
.color-palette-box h4.bg-text-success {
    color: var(--success-text-color);
}
code.bg-success {
    color: var(--success-light-accent-text-color) !important;
    background-color: var(--success-light-accent-color) !important;
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
.bg-warning {
    color: var(--warning-text-color) !important;
    background-color: var(--warning-base-color) !important;
    border-color: var(--warning-border-color);
}
.bg-warning-active {
    color: var(--warning-text-color) !important;
    background-color: var(--warning-active-color) !important;
}
.bg-warning .color-palette-box h4,
.bg-text-warning,
.color-palette-box h4.bg-text-warning {
    color: var(--warning-text-color);
}
code.bg-warning {
    color: var(--warning-light-accent-text-color) !important;
    background-color: var(--warning-light-accent-color) !important;
}


/* Danger coloring. */
/* Equivalent to `red`. */
.bg-danger {
    color: var(--danger-text-color) !important;
    background-color: var(--danger-base-color) !important;
    border-color: var(--danger-border-color);
}
.bg-danger-active {
    color: var(--danger-text-color) !important;
    background-color: var(--danger-active-color) !important;
}
.bg-danger .color-palette-box h4,
.bg-text-danger,
.color-palette-box h4.bg-text-danger {
    color: var(--danger-text-color);
}
code.bg-danger {
    color: var(--danger-light-accent-text-color) !important;
    background-color: var(--danger-light-accent-color) !important;
}


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-light-blue {
    color: var(--light-blue-text-color) !important;
    background-color: var(--light-blue-base-color) !important;
    border-color: var(--light-blue-border-color);
}
.bg-light-blue-active {
    color: var(--light-blue-text-color) !important;
    background-color: var(--light-blue-active-color) !important;
}
.bg-light-blue .color-palette-box h4,
.bg-text-light-blue,
.color-palette-box h4.bg-text-light-blue {
    color: var(--light-blue-text-color);
}
code.bg-light-blue {
    color: var(--light-blue-light-accent-text-color) !important;
    background-color: var(--light-blue-light-accent-color) !important;
}


/* Aqua coloring. */
/* Equivalent to `info`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-aqua {
    color: var(--aqua-text-color) !important;
    background-color: var(--aqua-base-color) !important;
    border-color: var(--aqua-border-color);
}
.bg-aqua-active {
    color: var(--aqua-text-color) !important;
    background-color: var(--aqua-active-color) !important;
}
.bg-aqua .color-palette-box h4,
.bg-text-aqua,
.color-palette-box h4.bg-text-aqua {
    color: var(--aqua-text-color);
}
code.bg-aqua {
    color: var(--aqua-light-accent-text-color) !important;
    background-color: var(--aqua-light-accent-color) !important;
}


/* Green coloring. */
/* Equivalent to `success`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-green {
    color: var(--green-text-color) !important;
    background-color: var(--green-base-color) !important;
    border-color: var(--green-border-color);
}
.bg-green-active {
    color: var(--green-text-color) !important;
    background-color: var(--green-active-color) !important;
}
.bg-green .color-palette-box h4,
.bg-text-green,
.color-palette-box h4.bg-text-green {
    color: var(--green-text-color);
}
code.bg-green {
    color: var(--green-light-accent-text-color) !important;
    background-color: var(--green-light-accent-color) !important;
}


/* Yellow coloring. */
/* Equivalent to `warning`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-yellow {
    color: var(--yellow-text-color) !important;
    background-color: var(--yellow-base-color) !important;
    border-color: var(--yellow-border-color);
}
.bg-yellow-active {
    color: var(--yellow-text-color) !important;
    background-color: var(--yellow-active-color) !important;
}
.bg-yellow .color-palette-box h4,
.bg-text-yellow,
.color-palette-box h4.bg-text-yellow {
    color: var(--yellow-text-color);
}
code.bg-yellow {
    color: var(--yellow-light-accent-text-color) !important;
    background-color: var(--yellow-light-accent-color) !important;
}


/* Red coloring. */
/* Equivalent to `danger`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-red {
    color: var(--red-text-color) !important;
    background-color: var(--red-base-color) !important;
    border-color: var(--red-border-color);
}
.bg-red-active {
    color: var(--red-text-color) !important;
    background-color: var(--red-active-color) !important;
}
.bg-red .color-palette-box h4,
.bg-text-red,
.color-palette-box h4.bg-text-red {
    color: var(--red-text-color);
}
code.bg-red {
    color: var(--red-light-accent-text-color) !important;
    background-color: var(--red-light-accent-color) !important;
}


/* Navy coloring. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-navy {
    color: var(--navy-text-color) !important;
    background-color: var(--navy-base-color) !important;
    border-color: var(--navy-border-color);
}
.bg-navy-active {
    color: var(--navy-text-color) !important;
    background-color: var(--navy-active-color) !important;
}
.bg-navy .color-palette-box h4,
.bg-text-navy,
.color-palette-box h4.bg-text-navy {
    color: var(--navy-text-color);
}
code.bg-navy {
    color: var(--navy-light-accent-text-color) !important;
    background-color: var(--navy-light-accent-color) !important;
}


/* Blue coloring. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-blue {
    color: var(--blue-text-color) !important;
    background-color: var(--blue-base-color) !important;
    border-color: var(--blue-border-color);
}
.bg-blue-active {
    color: var(--blue-text-color) !important;
    background-color: var(--blue-active-color) !important;
}
.bg-blue .color-palette-box h4,
.bg-text-blue,
.color-palette-box h4.bg-text-blue {
    color: var(--blue-text-color);
}
code.bg-blue {
    color: var(--blue-light-accent-text-color) !important;
    background-color: var(--blue-light-accent-color) !important;
}


/* Teal coloring. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-teal {
    color: var(--teal-text-color) !important;
    background-color: var(--teal-base-color) !important;
    border-color: var(--teal-border-color);
}
.bg-teal-active {
    color: var(--teal-text-color) !important;
    background-color: var(--teal-active-color) !important;
}
.bg-teal .color-palette-box h4,
.bg-text-teal,
.color-palette-box h4.bg-text-teal {
    color: var(--teal-text-color);
}
code.bg-teal {
    color: var(--teal-light-accent-text-color) !important;
    background-color: var(--teal-light-accent-color) !important;
}


/* Orange coloring. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-orange {
    color: var(--orange-text-color) !important;
    background-color: var(--orange-base-color) !important;
    border-color: var(--orange-border-color);
}
.bg-orange-active {
    color: var(--orange-text-color) !important;
    background-color: var(--orange-active-color) !important;
}
.bg-orange .color-palette-box h4,
.bg-text-orange,
.color-palette-box h4.bg-text-orange {
    color: var(--orange-text-color);
}
code.bg-orange {
    color: var(--orange-light-accent-text-color) !important;
    background-color: var(--orange-light-accent-color) !important;
}


/* Fuchsia coloring. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-fuchsia {
    color: var(--fuchsia-text-color) !important;
    background-color: var(--fuchsia-base-color) !important;
    border-color: var(--fuchsia-border-color);
}
.bg-fuchsia-active {
    color: var(--fuchsia-text-color) !important;
    background-color: var(--fuchsia-active-color) !important;
}
.bg-fuchsia .color-palette-box h4,
.bg-text-fuchsia,
.color-palette-box h4.bg-text-fuchsia {
    color: var(--fuchsia-text-color);
}
code.bg-fuchsia {
    color: var(--fuchsia-light-accent-text-color) !important;
    background-color: var(--fuchsia-light-accent-color) !important;
}


/* Purple coloring. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-purple {
    color: var(--purple-text-color) !important;
    background-color: var(--purple-base-color) !important;
    border-color: var(--purple-border-color);
}
.bg-purple-active {
    color: var(--purple-text-color) !important;
    background-color: var(--purple-active-color) !important;
}
.bg-purple .color-palette-box h4,
.bg-text-purple,
.color-palette-box h4.bg-text-purple {
    color: var(--purple-text-color);
}
code.bg-purple {
    color: var(--purple-light-accent-text-color) !important;
    background-color: var(--purple-light-accent-color) !important;
}


/* Maroon coloring. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-maroon {
    color: var(--maroon-text-color) !important;
    background-color: var(--maroon-base-color) !important;
    border-color: var(--maroon-border-color);
}
.bg-maroon-active {
    color: var(--maroon-text-color) !important;
    background-color: var(--maroon-active-color) !important;
}
.bg-maroon .color-palette-box h4,
.bg-text-maroon,
.color-palette-box h4.bg-text-maroon {
    color: var(--maroon-text-color);
}
code.bg-maroon {
    color: var(--maroon-light-accent-text-color) !important;
    background-color: var(--maroon-light-accent-color) !important;
}


/* Gray coloring. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-gray {
    color: var(--gray-text-color) !important;
    background-color: var(--gray-base-color) !important;
    border-color: var(--gray-border-color);
}
.bg-gray-active {
    color: var(--gray-text-color) !important;
    background-color: var(--gray-active-color) !important;
}
.bg-gray .color-palette-box h4,
.bg-text-gray,
.color-palette-box h4.bg-text-gray {
    color: var(--gray-text-color);
}
code.bg-gray {
    color: var(--gray-light-accent-text-color) !important;
    background-color: var(--gray-light-accent-color) !important;
}


/* Black coloring. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.bg-black {
    color: var(--black-text-color) !important;
    background-color: var(--black-base-color) !important;
    border-color: var(--black-border-color);
}
.bg-black-active {
    color: var(--black-text-color) !important;
    background-color: var(--black-active-color) !important;
}
.bg-black .color-palette-box h4,
.bg-text-black,
.color-palette-box h4.bg-text-black {
    color: var(--black-text-color);
}
code.bg-black {
    color: var(--black-light-accent-text-color) !important;
    background-color: var(--black-light-accent-color) !important;
}
