/**
 * Extra coloring CSS for AdminLte `box` and `box-solid` elements.
 */


/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */

/* Default coloring. */
.box,
.box.box-default {
    border-top-color: var(--default-base-color);
}
.box.box-solid,
.box.box-solid.box-default {
    color: var(--default-text-color);
    border: 1px solid var(--default-border-color);
}
.box.box-solid > .box-header,
.box.box-solid.box-default > .box-header {
    color: var(--default-text-color);
    background-color: var(--default-base-color);
}
.box > .box-body,
.box.box-default > .box-body {
    color: var(--default-text-dark);
}


/* Primary coloring. */
/* Equivalent to `light-blue`. */
.box.box-primary {
    border-top-color: var(--primary-base-color);
}
.box.box-solid.box-primary {
    color: var(--primary-text-color);
    border: 1px solid var(--primary-border-color);
}
.box.box-solid.box-primary > .box-header {
    color: var(--primary-text-color);
    background-color: var(--primary-base-color);
}
.box.box-primary .box-body {
    color: var(--default-text-dark);
}


/* Info coloring. */
/* Equivalent to `aqua`. */
.box.box-info {
    border-top-color: var(--info-base-color);
}
.box.box-solid.box-info {
    color: var(--info-text-color);
    border: 1px solid var(--info-border-color);
}
.box.box-solid.box-info > .box-header {
    color: var(--info-text-color);
    background-color: var(--info-base-color);
}
.box.box-info > .box-body {
    color: var(--default-text-dark);
}


/* Success coloring. */
/* Equivalent to `green`. */
.box.box-success {
    border-top-color: var(--success-base-color);
}
.box.box-solid.box-success {
    color: var(--success-text-color);
    border: 1px solid var(--success-border-color);
}
.box.box-solid.box-success > .box-header {
    color: var(--success-text-color);
    background-color: var(--success-base-color);
}
.box.box-success > .box-body {
    color: var(--default-text-dark);
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
.box.box-warning {
    border-top-color: var(--warning-base-color);
}
.box.box-solid.box-warning {
    color: var(--warning-text-color);
    border: 1px solid var(--warning-border-color);
}
.box.box-solid.box-warning > .box-header {
    color: var(--warning-text-color);
    background-color: var(--warning-base-color);
}
.box.box-warning > .box-body {
    color: var(--default-text-dark);
}


/* Danger coloring. */
/* Equivalent to `red`. */
.box.box-danger {
    border-top-color: var(--danger-base-color);
}
.box.box-solid.box-danger {
    color: var(--danger-text-color);
    border: 1px solid var(--danger-border-color);
}
.box.box-solid.box-danger > .box-header {
    color: var(--danger-text-color);
    background-color: var(--danger-base-color);
}
.box.box-danger > .box-body {
    color: var(--default-text-dark);
}



/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.box.box-light-blue {
    border-top-color: var(--light-blue-base-color);
}
.box.box-solid.box-light-blue {
    color: var(--light-blue-text-color);
    border: 1px solid var(--light-blue-border-color);
}
.box.box-solid.box-light-blue > .box-header {
    color: var(--light-blue-text-color);
    background-color: var(--light-blue-base-color);
}
.box.box-light-blue > .box-body {
    color: var(--default-text-dark);
}


/* Aqua coloring. */
/* Equivalent to `info`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.box.box-aqua {
    border-top-color: var(--aqua-base-color);
}
.box.box-solid.box-aqua {
    color: var(--aqua-text-color);
    border: 1px solid var(--aqua-border-color);
}
.box.box-solid.box-aqua > .box-header {
    color: var(--aqua-text-color);
    background-color: var(--aqua-base-color);
}
.box.box-aqua > .box-body {
    color: var(--default-text-dark);
}


/* Green coloring. */
/* Equivalent to `success`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.box.box-green {
    border-top-color: var(--green-base-color);
}
.box.box-solid.box-green {
    color: var(--green-text-color);
    border: 1px solid var(--green-border-color);
}
.box.box-solid.box-green > .box-header {
    color: var(--green-text-color);
    background-color: var(--green-base-color);
}
.box.box-green > .box-body {
    color: var(--default-text-dark);
}


/* Yellow coloring. */
/* Equivalent to `warning`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.box.box-yellow {
    border-top-color: var(--yellow-base-color);
}
.box.box-solid.box-yellow {
    color: var(--yellow-text-color);
    border: 1px solid var(--yellow-border-color);
}
.box.box-solid.box-yellow > .box-header {
    color: var(--yellow-text-color);
    background-color: var(--yellow-base-color);
}
.box.box-yellow > .box-body {
    color: var(--default-text-dark);
}


/* Red coloring. */
/* Equivalent to `danger`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.box.box-red {
    border-top-color: var(--red-base-color);
}
.box.box-solid.box-red {
    color: var(--red-text-color);
    border: 1px solid var(--red-border-color);
}
.box.box-solid.box-red > .box-header {
    color: var(--red-text-color);
    background-color: var(--red-base-color);
}
.box.box-red > .box-body {
    color: var(--default-text-dark);
}


/* Navy coloring. */
.box.box-navy {
    border-top-color: var(--navy-base-color);
}
.box.box-solid.box-navy {
    color: var(--navy-text-color);
    border: 1px solid var(--navy-border-color);
}
.box.box-solid.box-navy > .box-header {
    color: var(--navy-text-color);
    background-color: var(--navy-base-color);
}
.box.box-navy > .box-body {
    color: var(--default-text-dark);
}


/* Blue coloring. */
.box.box-blue {
    border-top-color: var(--blue-base-color);
}
.box.box-solid.box-blue {
    color: var(--blue-text-color);
    border: 1px solid var(--blue-border-color);
}
.box.box-solid.box-blue > .box-header {
    color: var(--blue-text-color);
    background-color: var(--blue-base-color);
}
.box.box-blue > .box-body {
    color: var(--default-text-dark);
}


/* Teal coloring. */
.box.box-teal {
    border-top-color: var(--teal-base-color);
}
.box.box-solid.box-teal {
    color: var(--teal-text-color);
    border: 1px solid var(--teal-border-color);
}
.box.box-solid.box-teal > .box-header {
    color: var(--teal-text-color);
    background-color: var(--teal-base-color);
}
.box.box-teal > .box-body {
    color: var(--default-text-dark);
}


/* Olive coloring. */
.box.box-olive {
    border-top-color: var(--olive-base-color);
}
.box.box-solid.box-olive {
    color: var(--olive-text-color);
    border: 1px solid var(--olive-border-color);
}
.box.box-solid.box-olive > .box-header {
    color: var(--olive-text-color);
    background-color: var(--olive-base-color);
}
.box.box-olive > .box-body {
    color: var(--default-text-dark);
}


/* Lime coloring. */
.box.box-lime {
    border-top-color: var(--lime-base-color);
}
.box.box-solid.box-lime {
    color: var(--lime-text-color);
    border: 1px solid var(--lime-border-color);
}
.box.box-solid.box-lime > .box-header {
    color: var(--lime-text-color);
    background-color: var(--lime-base-color);
}
.box.box-lime > .box-body {
    color: var(--default-text-dark);
}


/* Orange coloring. */
.box.box-orange {
    border-top-color: var(--orange-base-color);
}
.box.box-solid.box-orange {
    color: var(--orange-text-color);
    border: 1px solid var(--orange-border-color);
}
.box.box-solid.box-orange > .box-header {
    color: var(--orange-text-color);
    background-color: var(--orange-base-color);
}
.box.box-orange > .box-body {
    color: var(--default-text-dark);
}


/* Fuchsia coloring. */
.box.box-fuchsia {
    border-top-color: var(--fuchsia-base-color);
}
.box.box-solid.box-fuchsia {
    color: var(--fuchsia-text-color);
    border: 1px solid var(--fuchsia-border-color);
}
.box.box-solid.box-fuchsia > .box-header {
    color: var(--fuchsia-text-color);
    background-color: var(--fuchsia-base-color);
}
.box.box-fuchsia > .box-body {
    color: var(--default-text-dark);
}


/* Indigo coloring. */
.box.box-indigo {
    border-top-color: var(--indigo-base-color);
}
.box.box-solid.box-indigo {
    color: var(--indigo-text-color);
    border: 1px solid var(--indigo-border-color);
}
.box.box-solid.box-indigo > .box-header {
    color: var(--indigo-text-color);
    background-color: var(--indigo-base-color);
}
.box.box-indigo > .box-body {
    color: var(--default-text-dark);
}


/* Purple coloring. */
.box.box-purple {
    border-top-color: var(--purple-base-color);
}
.box.box-solid.box-purple {
    color: var(--purple-text-color);
    border: 1px solid var(--purple-border-color);
}
.box.box-solid.box-purple > .box-header {
    color: var(--purple-text-color);
    background-color: var(--purple-base-color);
}
.box.box-purple > .box-body {
    color: var(--default-text-dark);
}


/* Maroon coloring. */
.box.box-maroon {
    border-top-color: var(--maroon-base-color);
}
.box.box-solid.box-maroon {
    color: var(--maroon-text-color);
    border: 1px solid var(--maroon-border-color);
}
.box.box-solid.box-maroon > .box-header {
    color: var(--maroon-text-color);
    background-color: var(--maroon-base-color);
}
.box.box-maroon > .box-body {
    color: var(--default-text-dark);
}


/* Gray coloring. */
.box.box-gray {
    border-top-color: var(--gray-base-color);
}
.box.box-solid.box-gray {
    color: var(--gray-text-color);
    border: 1px solid var(--gray-border-color);
}
.box.box-solid.box-gray > .box-header {
    color: var(--gray-text-color);
    background-color: var(--gray-base-color);
}
.box.box-gray > .box-body {
    color: var(--default-text-dark);
}


/* Black coloring. */
.box.box-black {
    border-top-color: var(--black-base-color);
}
.box.box-solid.box-black {
    color: var(--black-text-color);
    border: 1px solid var(--black-border-color);
}
.box.box-solid.box-black > .box-header {
    color: var(--black-text-color);
    background-color: var(--black-base-color);
}
.box.box-black > .box-body {
    color: var(--default-text-dark);
}
