/**
 * Extra coloring CSS for AdminLte `callout` elements.
 */


/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */

/* Default coloring. */
.callout,
.callout.callout-default {
    color: var(--default-text-color) !important;
    background-color: var(--default-base-color) !important;
    border-color: var(--default-border-color);
}


/* Primary coloring. */
/* Equivalent to `light-blue`. */
.callout.callout-primary {
    color: var(--primary-text-color) !important;
    background-color: var(--primary-base-color) !important;
    border-color: var(--primary-border-color);
}


/* Info coloring. */
/* Equivalent to `aqua`. */
.callout.callout-info {
    color: var(--info-text-color) !important;
    background-color: var(--info-base-color) !important;
    border-color: var(--info-border-color);
}


/* Success coloring. */
/* Equivalent to `green`. */
.callout.callout-success {
    color: var(--success-text-color) !important;
    background-color: var(--success-base-color) !important;
    border-color: var(--success-border-color);
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
.callout.callout-warning {
    color: var(--warning-text-color) !important;
    background-color: var(--warning-base-color) !important;
    border-color: var(--warning-border-color);
}


/* Danger coloring. */
/* Equivalent to `red`. */
.callout.callout-danger {
    color: var(--danger-text-color) !important;
    background-color: var(--danger-base-color) !important;
    border-color: var(--danger-border-color);
}


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.callout.callout-light-blue {
    color: var(--light-blue-text-color) !important;
    background-color: var(--light-blue-base-color) !important;
    border-color: var(--light-blue-border-color);
}


/* Aqua coloring. */
/* Equivalent to `info`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.callout.callout-aqua {
    color: var(--aqua-text-color) !important;
    background-color: var(--aqua-base-color) !important;
    border-color: var(--aqua-border-color);
}


/* Green coloring. */
/* Equivalent to `success`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.callout.callout-green {
    color: var(--green-text-color) !important;
    background-color: var(--green-base-color) !important;
    border-color: var(--green-border-color);
}


/* Yellow coloring. */
/* Equivalent to `warning`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.callout.callout-yellow {
    color: var(--yellow-text-color) !important;
    background-color: var(--yellow-base-color) !important;
    border-color: var(--yellow-border-color);
}


/* Red coloring. */
/* Equivalent to `danger`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.callout.callout-red {
    color: var(--red-text-color) !important;
    background-color: var(--red-base-color) !important;
    border-color: var(--red-border-color);
}


/* Navy coloring. */
.callout.callout-navy {
    color: var(--navy-text-color) !important;
    background-color: var(--navy-base-color) !important;
    border-color: var(--navy-border-color);
}


/* Blue coloring. */
.callout.callout-blue {
    color: var(--blue-text-color) !important;
    background-color: var(--blue-base-color) !important;
    border-color: var(--blue-border-color);
}


/* Teal coloring. */
.callout.callout-teal {
    color: var(--teal-text-color) !important;
    background-color: var(--teal-base-color) !important;
    border-color: var(--teal-border-color);
}


/* Olive coloring. */
.callout.callout-olive {
    color: var(--olive-text-color) !important;
    background-color: var(--olive-base-color) !important;
    border-color: var(--olive-border-color);
}


/* Lime coloring. */
.callout.callout-lime {
    color: var(--lime-text-color) !important;
    background-color: var(--lime-base-color) !important;
    border-color: var(--lime-border-color);
}


/* Orange coloring. */
.callout.callout-orange {
    color: var(--orange-text-color) !important;
    background-color: var(--orange-base-color) !important;
    border-color: var(--orange-border-color);
}


/* Fuchsia coloring. */
.callout.callout-fuchsia {
    color: var(--fuchsia-text-color) !important;
    background-color: var(--fuchsia-base-color) !important;
    border-color: var(--fuchsia-border-color);
}


/* Indigo coloring. */
.callout.callout-indigo {
    color: var(--indigo-text-color) !important;
    background-color: var(--indigo-base-color) !important;
    border-color: var(--indigo-border-color);
}


/* Purple coloring. */
.callout.callout-purple {
    color: var(--purple-text-color) !important;
    background-color: var(--purple-base-color) !important;
    border-color: var(--purple-border-color);
}


/* Maroon coloring. */
.callout.callout-maroon {
    color: var(--maroon-text-color) !important;
    background-color: var(--maroon-base-color) !important;
    border-color: var(--maroon-border-color);
}


/* Gray coloring. */
.callout.callout-gray {
    color: var(--gray-text-color) !important;
    background-color: var(--gray-base-color) !important;
    border-color: var(--gray-border-color);
}


/* Black coloring. */
.callout.callout-black {
    color: var(--black-text-color) !important;
    background-color: var(--black-base-color) !important;
    border-color: var(--black-border-color);
}
