/**
 * Extra coloring CSS for AdminLte `dropdown-menu` elements.
 */


/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */


/* Default coloring. */
.dropdown-menu,
.dropdown-menu li > a,
.dropdown-menu li > input,
.dropdown-menu li > button,
.dropdown-menu.dropdown-menu-default,
.dropdown-menu.dropdown-menu-default li > a,
.dropdown-menu.dropdown-menu-default li > input,
.dropdown-menu.dropdown-menu-default li > button {
    color: var(--default-text-color);
    background-color: var(--default-base-color);
    border-color: var(--default-border-color);
}
.dropdown-menu li > a:hover,
.dropdown-menu li > input:hover,
.dropdown-menu li > button:hover,
.dropdown-menu li > a:focus,
.dropdown-menu li > input:focus,
.dropdown-menu li > button:focus,
.dropdown-menu.dropdown-menu-default li > a:hover,
.dropdown-menu.dropdown-menu-default li > input:hover,
.dropdown-menu.dropdown-menu-default li > button:hover,
.dropdown-menu.dropdown-menu-default li > a:focus,
.dropdown-menu.dropdown-menu-default li > input:focus,
.dropdown-menu.dropdown-menu-default li > button:focus {
    color: var(--default-text-color);
    background-color: var(--default-active-color);
}
.dropdown-menu li.divider,
.dropdown-menu.dropdown-menu-default li.divider {
    background-color: var(--default-border-color);
    border-color: var(--default-border-color);
}

/* Primary coloring. */
/* Equivalent to `light-blue`. */
.dropdown-menu.dropdown-menu-primary,
.dropdown-menu.dropdown-menu-primary li > a,
.dropdown-menu.dropdown-menu-primary li > input,
.dropdown-menu.dropdown-menu-primary li > button {
    color: var(--primary-text-color);
    background-color: var(--primary-base-color);
    border-color: var(--primary-border-color);
}
.dropdown-menu.dropdown-menu-primary li > a:hover,
.dropdown-menu.dropdown-menu-primary li > input:hover,
.dropdown-menu.dropdown-menu-primary li > button:hover,
.dropdown-menu.dropdown-menu-primary li > a:focus,
.dropdown-menu.dropdown-menu-primary li > input:focus,
.dropdown-menu.dropdown-menu-primary li > button:focus {
    color: var(--primary-text-color);
    background-color: var(--primary-active-color);
}
.dropdown-menu.dropdown-menu-primary li.divider {
    background-color: var(--primary-border-color);
    border-color: var(--primary-border-color);
}


/* Info coloring. */
/* Equivalent to `aqua`. */
.dropdown-menu.dropdown-menu-info,
.dropdown-menu.dropdown-menu-info li > a,
.dropdown-menu.dropdown-menu-info li > input,
.dropdown-menu.dropdown-menu-info li > button {
    color: var(--info-text-color);
    background-color: var(--info-base-color);
    border-color: var(--info-border-color);
}
.dropdown-menu.dropdown-menu-info li > a:hover,
.dropdown-menu.dropdown-menu-info li > input:hover,
.dropdown-menu.dropdown-menu-info li > button:hover,
.dropdown-menu.dropdown-menu-info li > a:focus,
.dropdown-menu.dropdown-menu-info li > input:focus,
.dropdown-menu.dropdown-menu-info li > button:focus {
    color: var(--info-text-color);
    background-color: var(--info-active-color);
}
.dropdown-menu.dropdown-menu-info li.divider {
    background-color: var(--info-border-color);
    border-color: var(--info-border-color);
}


/* Success coloring. */
/* Equivalent to `green`. */
.dropdown-menu.dropdown-menu-success,
.dropdown-menu.dropdown-menu-success li > a,
.dropdown-menu.dropdown-menu-success li > input,
.dropdown-menu.dropdown-menu-success li > button {
    color: var(--success-text-color);
    background-color: var(--success-base-color);
    border-color: var(--success-border-color);
}
.dropdown-menu.dropdown-menu-success li > a:hover,
.dropdown-menu.dropdown-menu-success li > input:hover,
.dropdown-menu.dropdown-menu-success li > button:hover,
.dropdown-menu.dropdown-menu-success li > a:focus,
.dropdown-menu.dropdown-menu-success li > input:focus,
.dropdown-menu.dropdown-menu-success li > button:focus {
    color: var(--success-text-color);
    background-color: var(--success-active-color);
}
.dropdown-menu.dropdown-menu-success li.divider {
    background-color: var(--success-border-color);
    border-color: var(--success-border-color);
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
.dropdown-menu.dropdown-menu-warning,
.dropdown-menu.dropdown-menu-warning li > a,
.dropdown-menu.dropdown-menu-warning li > input,
.dropdown-menu.dropdown-menu-warning li > button {
    color: var(--warning-text-color);
    background-color: var(--warning-base-color);
    border-color: var(--warning-border-color);
}
.dropdown-menu.dropdown-menu-warning li > a:hover,
.dropdown-menu.dropdown-menu-warning li > input:hover,
.dropdown-menu.dropdown-menu-warning li > button:hover,
.dropdown-menu.dropdown-menu-warning li > a:focus,
.dropdown-menu.dropdown-menu-warning li > input:focus,
.dropdown-menu.dropdown-menu-warning li > button:focus {
    color: var(--warning-text-color);
    background-color: var(--warning-active-color);
}
.dropdown-menu.dropdown-menu-warning li.divider {
    background-color: var(--warning-border-color);
    border-color: var(--warning-border-color);
}


/* Danger coloring. */
/* Equivalent to `red`. */
.dropdown-menu.dropdown-menu-danger,
.dropdown-menu.dropdown-menu-danger li > a,
.dropdown-menu.dropdown-menu-danger li > input,
.dropdown-menu.dropdown-menu-danger li > button {
    color: var(--danger-text-color);
    background-color: var(--danger-base-color);
    border-color: var(--danger-border-color);
}
.dropdown-menu.dropdown-menu-danger li > a:hover,
.dropdown-menu.dropdown-menu-danger li > input:hover,
.dropdown-menu.dropdown-menu-danger li > button:hover,
.dropdown-menu.dropdown-menu-danger li > a:focus,
.dropdown-menu.dropdown-menu-danger li > input:focus,
.dropdown-menu.dropdown-menu-danger li > button:focus {
    color: var(--danger-text-color);
    background-color: var(--danger-active-color);
}
.dropdown-menu.dropdown-menu-danger li.divider {
    background-color: var(--danger-border-color);
    border-color: var(--danger-border-color);
}


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.dropdown-menu.dropdown-menu-light-blue,
.dropdown-menu.dropdown-menu-light-blue li > a,
.dropdown-menu.dropdown-menu-light-blue li > input,
.dropdown-menu.dropdown-menu-light-blue li > button {
    color: var(--light-blue-text-color);
    background-color: var(--light-blue-base-color);
    border-color: var(--light-blue-border-color);
}
.dropdown-menu.dropdown-menu-light-blue li > a:hover,
.dropdown-menu.dropdown-menu-light-blue li > input:hover,
.dropdown-menu.dropdown-menu-light-blue li > button:hover,
.dropdown-menu.dropdown-menu-light-blue li > a:focus,
.dropdown-menu.dropdown-menu-light-blue li > input:focus,
.dropdown-menu.dropdown-menu-light-blue li > button:focus {
    color: var(--light-blue-text-color);
    background-color: var(--light-blue-active-color);
}
.dropdown-menu.dropdown-menu-light-blue li.divider {
    background-color: var(--light-blue-border-color);
    border-color: var(--light-blue-border-color);
}


/* Aqua coloring. */
/* Equivalent to `info`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.dropdown-menu.dropdown-menu-aqua,
.dropdown-menu.dropdown-menu-aqua li > a,
.dropdown-menu.dropdown-menu-aqua li > input,
.dropdown-menu.dropdown-menu-aqua li > button {
    color: var(--aqua-text-color);
    background-color: var(--aqua-base-color);
    border-color: var(--aqua-border-color);
}
.dropdown-menu.dropdown-menu-aqua li > a:hover,
.dropdown-menu.dropdown-menu-aqua li > input:hover,
.dropdown-menu.dropdown-menu-aqua li > button:hover,
.dropdown-menu.dropdown-menu-aqua li > a:focus,
.dropdown-menu.dropdown-menu-aqua li > input:focus,
.dropdown-menu.dropdown-menu-aqua li > button:focus {
    color: var(--aqua-text-color);
    background-color: var(--aqua-active-color);
}
.dropdown-menu.dropdown-menu-aqua li.divider {
    background-color: var(--aqua-border-color);
    border-color: var(--aqua-border-color);
}


/* Green coloring. */
/* Equivalent to `success`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.dropdown-menu.dropdown-menu-green,
.dropdown-menu.dropdown-menu-green li > a,
.dropdown-menu.dropdown-menu-green li > input,
.dropdown-menu.dropdown-menu-green li > button {
    color: var(--green-text-color);
    background-color: var(--green-base-color);
    border-color: var(--green-border-color);
}
.dropdown-menu.dropdown-menu-green li > a:hover,
.dropdown-menu.dropdown-menu-green li > input:hover,
.dropdown-menu.dropdown-menu-green li > button:hover,
.dropdown-menu.dropdown-menu-green li > a:focus,
.dropdown-menu.dropdown-menu-green li > input:focus,
.dropdown-menu.dropdown-menu-green li > button:focus {
    color: var(--green-text-color);
    background-color: var(--green-active-color);
}
.dropdown-menu.dropdown-menu-green li.divider {
    background-color: var(--green-border-color);
    border-color: var(--green-border-color);
}


/* Yellow coloring. */
/* Equivalent to `warning`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.dropdown-menu.dropdown-menu-yellow,
.dropdown-menu.dropdown-menu-yellow li > a,
.dropdown-menu.dropdown-menu-yellow li > input,
.dropdown-menu.dropdown-menu-yellow li > button {
    color: var(--yellow-text-color);
    background-color: var(--yellow-base-color);
    border-color: var(--yellow-border-color);
}
.dropdown-menu.dropdown-menu-yellow li > a:hover,
.dropdown-menu.dropdown-menu-yellow li > input:hover,
.dropdown-menu.dropdown-menu-yellow li > button:hover,
.dropdown-menu.dropdown-menu-yellow li > a:focus,
.dropdown-menu.dropdown-menu-yellow li > input:focus,
.dropdown-menu.dropdown-menu-yellow li > button:focus {
    color: var(--yellow-text-color);
    background-color: var(--yellow-active-color);
}
.dropdown-menu.dropdown-menu-yellow li.divider {
    background-color: var(--yellow-border-color);
    border-color: var(--yellow-border-color);
}


/* Red coloring. */
/* Equivalent to `danger`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.dropdown-menu.dropdown-menu-red,
.dropdown-menu.dropdown-menu-red li > a,
.dropdown-menu.dropdown-menu-red li > input,
.dropdown-menu.dropdown-menu-red li > button {
    color: var(--red-text-color);
    background-color: var(--red-base-color);
    border-color: var(--red-border-color);
}
.dropdown-menu.dropdown-menu-red li > a:hover,
.dropdown-menu.dropdown-menu-red li > input:hover,
.dropdown-menu.dropdown-menu-red li > button:hover,
.dropdown-menu.dropdown-menu-red li > a:focus,
.dropdown-menu.dropdown-menu-red li > input:focus,
.dropdown-menu.dropdown-menu-red li > button:focus {
    color: var(--red-text-color);
    background-color: var(--red-active-color);
}
.dropdown-menu.dropdown-menu-red li.divider {
    background-color: var(--red-border-color);
    border-color: var(--red-border-color);
}


/* Navy coloring. */
.dropdown-menu.dropdown-menu-navy,
.dropdown-menu.dropdown-menu-navy li > a,
.dropdown-menu.dropdown-menu-navy li > input,
.dropdown-menu.dropdown-menu-navy li > button {
    color: var(--navy-text-color);
    background-color: var(--navy-base-color);
    border-color: var(--navy-border-color);
}
.dropdown-menu.dropdown-menu-navy li > a:hover,
.dropdown-menu.dropdown-menu-navy li > input:hover,
.dropdown-menu.dropdown-menu-navy li > button:hover,
.dropdown-menu.dropdown-menu-navy li > a:focus,
.dropdown-menu.dropdown-menu-navy li > input:focus,
.dropdown-menu.dropdown-menu-navy li > button:focus {
    color: var(--navy-text-color);
    background-color: var(--navy-active-color);
}
.dropdown-menu.dropdown-menu-navy li.divider {
    background-color: var(--navy-border-color);
    border-color: var(--navy-border-color);
}


/* Blue coloring. */
.dropdown-menu.dropdown-menu-blue,
.dropdown-menu.dropdown-menu-blue li > a,
.dropdown-menu.dropdown-menu-blue li > input,
.dropdown-menu.dropdown-menu-blue li > button {
    color: var(--blue-text-color);
    background-color: var(--blue-base-color);
    border-color: var(--blue-border-color);
}
.dropdown-menu.dropdown-menu-blue li > a:hover,
.dropdown-menu.dropdown-menu-blue li > input:hover,
.dropdown-menu.dropdown-menu-blue li > button:hover,
.dropdown-menu.dropdown-menu-blue li > a:focus,
.dropdown-menu.dropdown-menu-blue li > input:focus,
.dropdown-menu.dropdown-menu-blue li > button:focus {
    color: var(--blue-text-color);
    background-color: var(--blue-active-color);
}
.dropdown-menu.dropdown-menu-blue li.divider {
    background-color: var(--blue-border-color);
    border-color: var(--blue-border-color);
}


/* Teal coloring. */
.dropdown-menu.dropdown-menu-teal,
.dropdown-menu.dropdown-menu-teal li > a,
.dropdown-menu.dropdown-menu-teal li > input,
.dropdown-menu.dropdown-menu-teal li > button {
    color: var(--teal-text-color);
    background-color: var(--teal-base-color);
    border-color: var(--teal-border-color);
}
.dropdown-menu.dropdown-menu-teal li > a:hover,
.dropdown-menu.dropdown-menu-teal li > input:hover,
.dropdown-menu.dropdown-menu-teal li > button:hover,
.dropdown-menu.dropdown-menu-teal li > a:focus,
.dropdown-menu.dropdown-menu-teal li > input:focus,
.dropdown-menu.dropdown-menu-teal li > button:focus {
    color: var(--teal-text-color);
    background-color: var(--teal-active-color);
}
.dropdown-menu.dropdown-menu-teal li.divider {
    background-color: var(--teal-border-color);
    border-color: var(--teal-border-color);
}


/* Orange coloring. */
.dropdown-menu.dropdown-menu-orange,
.dropdown-menu.dropdown-menu-orange li > a,
.dropdown-menu.dropdown-menu-orange li > input,
.dropdown-menu.dropdown-menu-orange li > button {
    color: var(--orange-text-color);
    background-color: var(--orange-base-color);
    border-color: var(--orange-border-color);
}
.dropdown-menu.dropdown-menu-orange li > a:hover,
.dropdown-menu.dropdown-menu-orange li > input:hover,
.dropdown-menu.dropdown-menu-orange li > button:hover,
.dropdown-menu.dropdown-menu-orange li > a:focus,
.dropdown-menu.dropdown-menu-orange li > input:focus,
.dropdown-menu.dropdown-menu-orange li > button:focus {
    color: var(--orange-text-color);
    background-color: var(--orange-active-color);
}
.dropdown-menu.dropdown-menu-orange li.divider {
    background-color: var(--orange-border-color);
    border-color: var(--orange-border-color);
}


/* Fuchsia coloring. */
.dropdown-menu.dropdown-menu-fuchsia,
.dropdown-menu.dropdown-menu-fuchsia li > a,
.dropdown-menu.dropdown-menu-fuchsia li > input,
.dropdown-menu.dropdown-menu-fuchsia li > button {
    color: var(--fuchsia-text-color);
    background-color: var(--fuchsia-base-color);
    border-color: var(--fuchsia-border-color);
}
.dropdown-menu.dropdown-menu-fuchsia li > a:hover,
.dropdown-menu.dropdown-menu-fuchsia li > input:hover,
.dropdown-menu.dropdown-menu-fuchsia li > button:hover,
.dropdown-menu.dropdown-menu-fuchsia li > a:focus,
.dropdown-menu.dropdown-menu-fuchsia li > input:focus,
.dropdown-menu.dropdown-menu-fuchsia li > button:focus {
    color: var(--fuchsia-text-color);
    background-color: var(--fuchsia-active-color);
}
.dropdown-menu.dropdown-menu-fuchsia li.divider {
    background-color: var(--fuchsia-border-color);
    border-color: var(--fuchsia-border-color);
}


/* Purple coloring. */
.dropdown-menu.dropdown-menu-purple,
.dropdown-menu.dropdown-menu-purple li > a,
.dropdown-menu.dropdown-menu-purple li > input,
.dropdown-menu.dropdown-menu-purple li > button {
    color: var(--purple-text-color);
    background-color: var(--purple-base-color);
    border-color: var(--purple-border-color);
}
.dropdown-menu.dropdown-menu-purple li > a:hover,
.dropdown-menu.dropdown-menu-purple li > input:hover,
.dropdown-menu.dropdown-menu-purple li > button:hover,
.dropdown-menu.dropdown-menu-purple li > a:focus,
.dropdown-menu.dropdown-menu-purple li > input:focus,
.dropdown-menu.dropdown-menu-purple li > button:focus {
    color: var(--purple-text-color);
    background-color: var(--purple-active-color);
}
.dropdown-menu.dropdown-menu-purple li.divider {
    background-color: var(--purple-border-color);
    border-color: var(--purple-border-color);
}


/* Maroon coloring. */
.dropdown-menu.dropdown-menu-maroon,
.dropdown-menu.dropdown-menu-maroon li > a,
.dropdown-menu.dropdown-menu-maroon li > input,
.dropdown-menu.dropdown-menu-maroon li > button {
    color: var(--maroon-text-color);
    background-color: var(--maroon-base-color);
    border-color: var(--maroon-border-color);
}
.dropdown-menu.dropdown-menu-maroon li > a:hover,
.dropdown-menu.dropdown-menu-maroon li > input:hover,
.dropdown-menu.dropdown-menu-maroon li > button:hover,
.dropdown-menu.dropdown-menu-maroon li > a:focus,
.dropdown-menu.dropdown-menu-maroon li > input:focus,
.dropdown-menu.dropdown-menu-maroon li > button:focus {
    color: var(--maroon-text-color);
    background-color: var(--maroon-active-color);
}
.dropdown-menu.dropdown-menu-maroon li.divider {
    background-color: var(--maroon-border-color);
    border-color: var(--maroon-border-color);
}


/* Gray coloring. */
.dropdown-menu.dropdown-menu-gray,
.dropdown-menu.dropdown-menu-gray li > a,
.dropdown-menu.dropdown-menu-gray li > input,
.dropdown-menu.dropdown-menu-gray li > button {
    color: var(--gray-text-color);
    background-color: var(--gray-base-color);
    border-color: var(--gray-border-color);
}
.dropdown-menu.dropdown-menu-gray li > a:hover,
.dropdown-menu.dropdown-menu-gray li > input:hover,
.dropdown-menu.dropdown-menu-gray li > button:hover,
.dropdown-menu.dropdown-menu-gray li > a:focus,
.dropdown-menu.dropdown-menu-gray li > input:focus,
.dropdown-menu.dropdown-menu-gray li > button:focus {
    color: var(--gray-text-color);
    background-color: var(--gray-active-color);
}
.dropdown-menu.dropdown-menu-gray li.divider {
    background-color: var(--gray-border-color);
    border-color: var(--gray-border-color);
}


/* Black coloring. */
.dropdown-menu.dropdown-menu-black,
.dropdown-menu.dropdown-menu-black li > a,
.dropdown-menu.dropdown-menu-black li > input,
.dropdown-menu.dropdown-menu-black li > button {
    color: var(--black-text-color);
    background-color: var(--black-base-color);
    border-color: var(--black-border-color);
}
.dropdown-menu.dropdown-menu-black li > a:hover,
.dropdown-menu.dropdown-menu-black li > input:hover,
.dropdown-menu.dropdown-menu-black li > button:hover,
.dropdown-menu.dropdown-menu-black li > a:focus,
.dropdown-menu.dropdown-menu-black li > input:focus,
.dropdown-menu.dropdown-menu-black li > button:focus {
    color: var(--black-text-color);
    background-color: var(--black-active-color);
}
.dropdown-menu.dropdown-menu-black li.divider {
    background-color: var(--black-border-color);
    border-color: var(--black-border-color);
}
