/**
 * Extra coloring CSS for AdminLte `dropdown-menu` elements.
 */


/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */

/* Default coloring. */


/* Primary coloring. */
/* Equivalent to `light-blue`. */
.dropdown-menu-primary, .dropdown-menu-primary li > a, .dropdown-menu-primary li > input, .dropdown-menu-primary li > button {
    background-color: #3c8dbc;
    color: white;
}
.dropdown-menu-primary li > a:hover, .dropdown-menu-primary li > input:hover, .dropdown-menu-primary li > button:hover,
.dropdown-menu-primary li > a:focus, .dropdown-menu-primary li > input:focus, .dropdown-menu-primary li > button:focus {
    background-color: #367fa9;
    color: white;
}


/* Info coloring. */
/* Equivalent to `aqua`. */
.dropdown-menu-info, .dropdown-menu-info li > a, .dropdown-menu-info li > input, .dropdown-menu-info li > button {
    background-color: #00c0ef;
    color: white;
}
.dropdown-menu-info li > a:hover, .dropdown-menu-info li > input:hover, .dropdown-menu-info li > button:hover,
.dropdown-menu-info li > a:focus, .dropdown-menu-info li > input:focus, .dropdown-menu-info li > button:focus {
    background-color: #00acd6;
    color: white;
}


/* Success coloring. */
/* Equivalent to `green`. */
.dropdown-menu-success, .dropdown-menu-success li > a, .dropdown-menu-success li > input, .dropdown-menu-success li > button {
    background-color: #00a65a;
    color: white;
}
.dropdown-menu-success li > a:hover, .dropdown-menu-success li > input:hover, .dropdown-menu-success li > button:hover,
.dropdown-menu-success li > a:focus, .dropdown-menu-success li > input:focus, .dropdown-menu-success li > button:focus {
    background-color: #008d4c;
    color: white;
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
.dropdown-menu-warning, .dropdown-menu-warning li > a, .dropdown-menu-warning li > input, .dropdown-menu-warning li > button {
    background-color: #f39c12;
    color: white;
}
.dropdown-menu-warning li > a:hover, .dropdown-menu-warning li > input:hover, .dropdown-menu-warning li > button:hover,
.dropdown-menu-warning li > a:focus, .dropdown-menu-warning li > input:focus, .dropdown-menu-warning li > button:focus {
    background-color: #e08e0b;
    color: white;
}

.dropdown-menu-danger, .dropdown-menu-danger li > a, .dropdown-menu-danger li > input, .dropdown-menu-danger li > button {
    background-color: #dd4b39;
    color: white;
}
.dropdown-menu-danger li > a:hover, .dropdown-menu-danger li > input:hover, .dropdown-menu-danger li > button:hover,
.dropdown-menu-danger li > a:focus, .dropdown-menu-danger li > input:focus, .dropdown-menu-danger li > button:focus {
    background-color: #d73925;
    color: white;
}


/* Danger coloring. */
/* Equivalent to `red`. */


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */


/* Aqua coloring. */
/* Equivalent to `info`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */


/* Green coloring. */
/* Equivalent to `success`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */


/* Yellow coloring. */
/* Equivalent to `warning`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */


/* Red coloring. */
/* Equivalent to `danger`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */


/* Navy coloring. */
.dropdown-menu-navy, .dropdown-menu-navy li > a, .dropdown-menu-navy li > input, .dropdown-menu-navy li > button {
    background-color: #001f3f;
    color: white;
}
.dropdown-menu-navy li > a:hover, .dropdown-menu-navy li > input:hover, .dropdown-menu-navy li > button:hover,
.dropdown-menu-navy li > a:focus, .dropdown-menu-navy li > input:focus, .dropdown-menu-navy li > button:focus {
    background-color: #001a35;
    color: white;
}


/* Blue coloring. */


/* Teal coloring. */
.dropdown-menu-teal, .dropdown-menu-teal li > a, .dropdown-menu-teal li > input, .dropdown-menu-teal li > button {
    background-color: #39cccc;
    color: white;
}
.dropdown-menu-teal li > a:hover, .dropdown-menu-teal li > input:hover, .dropdown-menu-teal li > button:hover,
.dropdown-menu-teal li > a:focus, .dropdown-menu-teal li > input:focus, .dropdown-menu-teal li > button:focus {
    background-color: #30bbbb;
    color: white;
}


/* Olive coloring. */
.dropdown-menu-olive, .dropdown-menu-olive li > a, .dropdown-menu-olive li > input, .dropdown-menu-olive li > button {
    background-color: #3d9970;
    color: white;
}
.dropdown-menu-olive li > a:hover, .dropdown-menu-olive li > input:hover, .dropdown-menu-olive li > button:hover,
.dropdown-menu-olive li > a:focus, .dropdown-menu-olive li > input:focus, .dropdown-menu-olive li > button:focus {
    background-color: #368763;
    color: white;
}


/* Lime coloring. */
.dropdown-menu-lime, .dropdown-menu-lime li > a, .dropdown-menu-lime li > input, .dropdown-menu-lime li > button {
    background-color: #01ff70;
    color: #333;
}
.dropdown-menu-lime li > a:hover, .dropdown-menu-lime li > input:hover, .dropdown-menu-lime li > button:hover,
.dropdown-menu-lime li > a:focus, .dropdown-menu-lime li > input:focus, .dropdown-menu-lime li > button:focus {
    background-color: #00e765;
    color: #262626;
}


/* Orange coloring. */
.dropdown-menu-orange, .dropdown-menu-orange li > a, .dropdown-menu-orange li > input, .dropdown-menu-orange li > button {
    background-color: #ff851b;
    color: white;
}
.dropdown-menu-orange li > a:hover, .dropdown-menu-orange li > input:hover, .dropdown-menu-orange li > button:hover,
.dropdown-menu-orange li > a:focus, .dropdown-menu-orange li > input:focus, .dropdown-menu-orange li > button:focus {
    background-color: #ff7701;
    color: white;
}


/* Fuchsia coloring. */
.dropdown-menu-fuchsia, .dropdown-menu-fuchsia li > a, .dropdown-menu-fuchsia li > input, .dropdown-menu-fuchsia li > button {
    background-color: #f012be;
    color: white;
}
.dropdown-menu-fuchsia li > a:hover, .dropdown-menu-fuchsia li > input:hover, .dropdown-menu-fuchsia li > button:hover,
.dropdown-menu-fuchsia li > a:focus, .dropdown-menu-fuchsia li > input:focus, .dropdown-menu-fuchsia li > button:focus {
    background-color: #db0ead;
    color: white;
}


/* Indigo coloring. */
.dropdown-menu-indigo, .dropdown-menu-indigo li > a, .dropdown-menu-indigo li > input, .dropdown-menu-indigo li > button {
    background-color: #a35cd8;
    color: white;
}
.dropdown-menu-indigo li > a:hover, .dropdown-menu-indigo li > input:hover, .dropdown-menu-indigo li > button:hover,
.dropdown-menu-indigo li > a:focus, .dropdown-menu-indigo li > input:focus, .dropdown-menu-indigo li > button:focus {
    background-color: #9a52d2;
    color: white;
}


/* Purple coloring. */
.dropdown-menu-purple, .dropdown-menu-purple li > a, .dropdown-menu-purple li > input, .dropdown-menu-purple li > button {
    background-color: #605ca8;
    color: white;
}
.dropdown-menu-purple li > a:hover, .dropdown-menu-purple li > input:hover, .dropdown-menu-purple li > button:hover,
.dropdown-menu-purple li > a:focus, .dropdown-menu-purple li > input:focus, .dropdown-menu-purple li > button:focus {
    background-color: #555299;
    color: white;
}


/* Maroon coloring. */
.dropdown-menu-maroon, .dropdown-menu-maroon li > a, .dropdown-menu-maroon li > input, .dropdown-menu-maroon li > button {
    background-color: #d81b60;
    color: white;
}
.dropdown-menu-maroon li > a:hover, .dropdown-menu-maroon li > input:hover, .dropdown-menu-maroon li > button:hover,
.dropdown-menu-maroon li > a:focus, .dropdown-menu-maroon li > input:focus, .dropdown-menu-maroon li > button:focus {
    background-color: #ca195a;
    color: white;
}


/* Gray coloring. */
.dropdown-menu-gray, .dropdown-menu-gray li > a, .dropdown-menu-gray li > input, .dropdown-menu-gray li > button {
    background-color: #b5bbc8;
    color: #333;
}
.dropdown-menu-gray li > a:hover, .dropdown-menu-gray li > input:hover, .dropdown-menu-gray li > button:hover,
.dropdown-menu-gray li > a:focus, .dropdown-menu-gray li > input:focus, .dropdown-menu-gray li > button:focus {
    background-color: #9ca2ae;
    color: #262626;
}


/* Black coloring. */
.dropdown-menu-black, .dropdown-menu-black li > a, .dropdown-menu-black li > input, .dropdown-menu-black li > button {
    background-color: #2b2b2b;
    color: white;
}
.dropdown-menu-black li > a:hover, .dropdown-menu-black li > input:hover, .dropdown-menu-black li > button:hover,
.dropdown-menu-black li > a:focus, .dropdown-menu-black li > input:focus, .dropdown-menu-black li > button:focus {
    background-color: #000000;
    color: white;
}
