/**
 * Extra coloring CSS for AdminLte `info-box` elements.
 */


/* Correct navy/black elements that aren't really visible. */
.info-box.bg-navy .info-box-icon,
.info-box.bg-black .info-box-icon {
  background: rgba(250, 250, 250, 0.2);
}
