/**
 * Extra coloring CSS for AdminLte `label` elements.
 */


/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */

/* Default coloring. */
.label,
.label.label-default {
    color: var(--default-text-color) !important;
    background-color: var(--default-base-color) !important;
}


/* Primary coloring. */
/* Equivalent to `light-blue`. */
.label.label-primary {
    color: var(--primary-text-color) !important;
    background-color: var(--primary-base-color) !important;
}


/* Info coloring. */
/* Equivalent to `aqua`. */
.label.label-info {
    color: var(--info-text-color) !important;
    background-color: var(--info-base-color) !important;
}


/* Success coloring. */
/* Equivalent to `green`. */
.label.label-success {
    color: var(--success-text-color) !important;
    background-color: var(--success-base-color) !important;
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
.label.label-warning {
    color: var(--warning-text-color) !important;
    background-color: var(--warning-base-color) !important;
}


/* Danger coloring. */
/* Equivalent to `red`. */
.label.label-danger {
    color: var(--danger-text-color) !important;
    background-color: var(--danger-base-color) !important;
}


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.label.label-light-blue {
    color: var(--light-blue-text-color) !important;
    background-color: var(--light-blue-base-color) !important;
}


/* Aqua coloring. */
/* Equivalent to `info`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.label.label-aqua {
    color: var(--aqua-text-color) !important;
    background-color: var(--aqua-base-color) !important;
}


/* Green coloring. */
/* Equivalent to `success`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.label.label-green {
    color: var(--green-text-color) !important;
    background-color: var(--green-base-color) !important;
}


/* Yellow coloring. */
/* Equivalent to `warning`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.label.label-yellow {
    color: var(--yellow-text-color) !important;
    background-color: var(--yellow-base-color) !important;
}


/* Red coloring. */
/* Equivalent to `danger`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.label.label-red {
    color: var(--red-text-color) !important;
    background-color: var(--red-base-color) !important;
}


/* Error coloring. */
/* Equivalent to `danger`. */
.label.label-error {
    color: var(--error-text-color) !important;
    background-color: var(--error-base-color) !important;
}


/* Navy coloring. */
.label.label-navy {
    color: var(--navy-text-color) !important;
    background-color: var(--navy-base-color) !important;
}


/* Blue coloring. */
.label.label-blue {
    color: var(--blue-text-color) !important;
    background-color: var(--blue-base-color) !important;
}


/* Teal coloring. */
.label.label-teal {
    color: var(--teal-text-color) !important;
    background-color: var(--teal-base-color) !important;
}


/* Orange coloring. */
.label.label-orange {
    color: var(--orange-text-color) !important;
    background-color: var(--orange-base-color) !important;
}


/* Fuchsia coloring. */
.label.label-fuchsia {
    color: var(--fuchsia-text-color) !important;
    background-color: var(--fuchsia-base-color) !important;
}


/* Purple coloring. */
.label.label-purple {
    color: var(--purple-text-color) !important;
    background-color: var(--purple-base-color) !important;
}


/* Maroon coloring. */
.label.label-maroon {
    color: var(--maroon-text-color) !important;
    background-color: var(--maroon-base-color) !important;
}


/* Gray coloring. */
.label.label-gray {
    color: var(--gray-text-color) !important;
    background-color: var(--gray-base-color) !important;
}


/* Black coloring. */
.label.label-black {
    color: var(--black-text-color) !important;
    background-color: var(--black-base-color) !important;
}
