/**
 * Extra coloring CSS for AdminLte `modal` elements.
 */


/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */

/* Default coloring. */
.modal .modal-header,
.modal .modal-footer,
.modal.modal-default .modal-header,
.modal.modal-default .modal-header .alert,
.modal.modal-default .modal-header .alert-default,
.modal.modal-default .modal-footer {
    color: var(--default-text-color) !important;
    background-color: var(--default-active-color) !important;
    border-color: var(--default-border-color);
}
.modal .modal-body,
.modal.modal-default .modal-body {
    color: var(--default-text-color) !important;
    background-color: var(--default-base-color) !important;
}


/* Primary coloring. */
/* Equivalent to `light-blue`. */
.modal.modal-primary .modal-header,
.modal.modal-primary .modal-header .alert-primary,
.modal.modal-primary .modal-footer {
    color: var(--primary-text-color) !important;
    background-color: var(--primary-active-color) !important;
    border-color: var(--primary-border-color);
}
.modal.modal-primary .modal-body {
    color: var(--primary-text-color) !important;
    background-color: var(--primary-base-color) !important;
}


/* Info coloring. */
/* Equivalent to `aqua`. */
.modal.modal-info .modal-header,
.modal.modal-info .modal-header .alert-info,
.modal.modal-info .modal-footer {
    color: var(--info-text-color) !important;
    background-color: var(--info-active-color) !important;
    border-color: var(--info-border-color);
}
.modal.modal-info .modal-body {
    color: var(--info-text-color) !important;
    background-color: var(--info-base-color) !important;
}


/* Success coloring. */
/* Equivalent to `green`. */
.modal.modal-success .modal-header,
.modal.modal-success .modal-header .alert-success,
.modal.modal-success .modal-footer {
    color: var(--success-text-color) !important;
    background-color: var(--success-active-color) !important;
    border-color: var(--success-border-color);
}
.modal.modal-success .modal-body {
    color: var(--success-text-color) !important;
    background-color: var(--success-base-color) !important;
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
.modal.modal-warning .modal-header,
.modal.modal-warning .modal-header .alert-warning,
.modal.modal-warning .modal-footer {
    color: var(--warning-text-color) !important;
    background-color: var(--warning-active-color) !important;
    border-color: var(--warning-border-color);
}
.modal.modal-warning .modal-body {
    color: var(--warning-text-color) !important;
    background-color: var(--warning-base-color) !important;
}


/* Danger coloring. */
/* Equivalent to `red`. */
.modal.modal-danger .modal-header,
.modal.modal-danger .modal-header .alert-danger,
.modal.modal-danger .modal-footer {
    color: var(--danger-text-color) !important;
    background-color: var(--danger-active-color) !important;
    border-color: var(--danger-border-color);
}
.modal.modal-danger .modal-body {
    color: var(--danger-text-color) !important;
    background-color: var(--danger-base-color) !important;
}


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.modal.modal-light-blue .modal-header,
.modal.modal-light-blue .modal-header .alert-light-blue,
.modal.modal-light-blue .modal-footer {
    color: var(--light-blue-text-color) !important;
    background-color: var(--light-blue-active-color) !important;
    border-color: var(--light-blue-border-color);
}
.modal.modal-light-blue .modal-body {
    color: var(--light-blue-text-color) !important;
    background-color: var(--light-blue-base-color) !important;
}


/* Aqua coloring. */
/* Equivalent to `info`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.modal.modal-aqua .modal-header,
.modal.modal-aqua .modal-header .alert-aqua,
.modal.modal-aqua .modal-footer {
    color: var(--aqua-text-color) !important;
    background-color: var(--aqua-active-color) !important;
    border-color: var(--aqua-border-color);
}
.modal.modal-aqua .modal-body {
    color: var(--aqua-text-color) !important;
    background-color: var(--aqua-base-color) !important;
}


/* Green coloring. */
/* Equivalent to `success`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.modal.modal-green .modal-header,
.modal.modal-green .modal-header green,
.modal.modal-green .modal-footer {
    color: var(--green-text-color) !important;
    background-color: var(--green-active-color) !important;
    border-color: var(--green-border-color);
}
.modal.modal-green .modal-body {
    color: var(--green-text-color) !important;
    background-color: var(--green-base-color) !important;
}


/* Yellow coloring. */
/* Equivalent to `warning`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.modal.modal-yellow .modal-header,
.modal.modal-yellow .modal-header .alert-yellow,
.modal.modal-yellow .modal-footer {
    color: var(--yellow-text-color) !important;
    background-color: var(--yellow-active-color) !important;
    border-color: var(--yellow-border-color);
}
.modal.modal-yellow .modal-body {
    color: var(--yellow-text-color) !important;
    background-color: var(--yellow-base-color) !important;
}


/* Red coloring. */
/* Equivalent to `danger`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.modal.modal-red .modal-header,
.modal.modal-red .modal-header .alert-red,
.modal.modal-red .modal-footer {
    color: var(--red-text-color) !important;
    background-color: var(--red-active-color) !important;
    border-color: var(--red-border-color);
}
.modal.modal-red .modal-body {
    color: var(--red-text-color) !important;
    background-color: var(--red-base-color) !important;
}


/* Navy coloring. */
.modal.modal-navy .modal-header,
.modal.modal-navy .modal-header .alert-navy,
.modal.modal-navy .modal-footer {
    color: var(--navy-text-color) !important;
    background-color: var(--navy-active-color) !important;
    border-color: var(--navy-border-color);
}
.modal.modal-navy .modal-body {
    color: var(--navy-text-color) !important;
    background-color: var(--navy-base-color) !important;
}


/* Blue coloring. */
.modal.modal-blue .modal-header,
.modal.modal-blue .modal-header .alert-blue,
.modal.modal-blue .modal-footer {
    color: var(--blue-text-color) !important;
    background-color: var(--blue-active-color) !important;
    border-color: var(--blue-border-color);
}
.modal.modal-blue .modal-body {
    color: var(--blue-text-color) !important;
    background-color: var(--blue-base-color) !important;
}


/* Teal coloring. */
.modal.modal-teal .modal-header,
.modal.modal-teal .modal-header .alert-teal,
.modal.modal-teal .modal-footer {
    color: var(--teal-text-color) !important;
    background-color: var(--teal-active-color) !important;
    border-color: var(--teal-border-color);
}
.modal.modal-teal .modal-body {
    color: var(--teal-text-color) !important;
    background-color: var(--teal-base-color) !important;
}


/* Olive coloring. */
.modal.modal-olive .modal-header,
.modal.modal-olive .modal-header .alert-olive,
.modal.modal-olive .modal-footer {
    color: var(--olive-text-color) !important;
    background-color: var(--olive-active-color) !important;
    border-color: var(--olive-border-color);
}
.modal.modal-olive .modal-body {
    color: var(--olive-text-color) !important;
    background-color: var(--olive-base-color) !important;
}


/* Lime coloring. */
.modal.modal-lime .modal-header,
.modal.modal-lime .modal-header .alert-lime,
.modal.modal-lime .modal-footer {
    color: var(--lime-text-color) !important;
    background-color: var(--lime-active-color) !important;
    border-color: var(--lime-border-color);
}
.modal.modal-lime .modal-body {
    color: var(--lime-text-color) !important;
    background-color: var(--lime-base-color) !important;
}


/* Orange coloring. */
.modal.modal-orange .modal-header,
.modal.modal-orange .modal-header .alert-orange,
.modal.modal-orange .modal-footer {
    color: var(--orange-text-color) !important;
    background-color: var(--orange-active-color) !important;
    border-color: var(--orange-border-color);
}
.modal.modal-orange .modal-body {
    color: var(--orange-text-color) !important;
    background-color: var(--orange-base-color) !important;
}


/* Fuchsia coloring. */
.modal.modal-fuchsia .modal-header,
.modal.modal-fuchsia .modal-header .alert-fuchsia,
.modal.modal-fuchsia .modal-footer {
    color: var(--fuchsia-text-color) !important;
    background-color: var(--fuchsia-active-color) !important;
    border-color: var(--fuchsia-border-color);
}
.modal.modal-fuchsia .modal-body {
    color: var(--fuchsia-text-color) !important;
    background-color: var(--fuchsia-base-color) !important;
}


/* Indigo coloring. */
.modal.modal-indigo .modal-header,
.modal.modal-indigo .modal-header .alert-indigo,
.modal.modal-indigo .modal-footer {
    color: var(--indigo-text-color) !important;
    background-color: var(--indigo-active-color) !important;
    border-color: var(--indigo-border-color);
}
.modal.modal-indigo .modal-body {
    color: var(--indigo-text-color) !important;
    background-color: var(--indigo-base-color) !important;
}


/* Purple coloring. */
.modal.modal-purple .modal-header,
.modal.modal-purple .modal-header .alert-purple,
.modal.modal-purple .modal-footer {
    color: var(--purple-text-color) !important;
    background-color: var(--purple-active-color) !important;
    border-color: var(--purple-border-color);
}
.modal.modal-purple .modal-body {
    color: var(--purple-text-color) !important;
    background-color: var(--purple-base-color) !important;
}


/* Maroon coloring. */
.modal.modal-maroon .modal-header,
.modal.modal-maroon .modal-header .alert-maroon,
.modal.modal-maroon .modal-footer {
    color: var(--maroon-text-color) !important;
    background-color: var(--maroon-active-color) !important;
    border-color: var(--maroon-border-color);
}
.modal.modal-maroon .modal-body {
    color: var(--maroon-text-color) !important;
    background-color: var(--maroon-base-color) !important;
}


/* Gray coloring. */
.modal.modal-gray .modal-header,
.modal.modal-gray .modal-header .alert-grey,
.modal.modal-gray .modal-footer {
    color: var(--gray-text-color) !important;
    background-color: var(--gray-active-color) !important;
    border-color: var(--gray-border-color);
}
.modal.modal-gray .modal-body {
    color: var(--gray-text-color) !important;
    background-color: var(--gray-base-color) !important;
}


/* Black coloring. */
.modal.modal-black .modal-header,
.modal.modal-black .modal-header .alert-black,
.modal.modal-black .modal-footer {
    color: var(--black-text-color) !important;
    background-color: var(--black-active-color) !important;
    border-color: var(--black-border-color);
}
.modal.modal-black .modal-body {
    color: var(--black-text-color) !important;
    background-color: var(--black-base-color) !important;
}
