/**
 * Extra coloring CSS for AdminLte `small-box` elements.
 */


/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */

/* Default coloring. */
.small-box .small-box-footer,
.small-box.bg-default .small-box-footer {
    color: var(--default-text-color) !important;
}

/* Primary coloring. */
/* Equivalent to `light-blue`. */
.small-box.bg-primary .small-box-footer {
    color: var(--primary-text-color) !important;
}


/* Info coloring. */
/* Equivalent to `aqua`. */
.small-box.bg-info .small-box-footer {
    color: var(--info-text-color) !important;
}


/* Success coloring. */
/* Equivalent to `green`. */
.small-box.bg-success .small-box-footer {
    color: var(--success-text-color) !important;
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
.small-box.bg-warning .small-box-footer {
    color: var(--warning-text-color) !important;
}


/* Danger coloring. */
/* Equivalent to `red`. */
.small-box.bg-danger .small-box-footer {
    color: var(--danger-text-color) !important;
}


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.small-box.bg-light-blue .small-box-footer {
    color: var(--light-blue-text-color) !important;
}


/* Aqua coloring. */
/* Equivalent to `info`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.small-box.bg-aqua .small-box-footer {
    color: var(--aqua-text-color) !important;
}


/* Green coloring. */
/* Equivalent to `success`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.small-box.bg-green .small-box-footer {
    color: var(--green-text-color) !important;
}


/* Yellow coloring. */
/* Equivalent to `warning`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.small-box.bg-yellow .small-box-footer {
    color: var(--yellow-text-color) !important;
}


/* Red coloring. */
/* Equivalent to `danger`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.small-box.bg-red .small-box-footer {
    color: var(--red-text-color) !important;
}


/* Error coloring. */
/* Equivalent to `danger`. */
.small-box.bg-error .small-box-footer {
    color: var(--error-text-color) !important;
}


/* Navy coloring. */
.small-box.bg-navy .small-box-footer {
    color: var(--navy-text-color) !important;
}


/* Blue coloring. */
.small-box.bg-blue .small-box-footer {
    color: var(--blue-text-color) !important;
}


/* Teal coloring. */
.small-box.bg-teal .small-box-footer {
    color: var(--teal-text-color) !important;
}


/* Orange coloring. */
.small-box.bg-orange .small-box-footer {
    color: var(--orange-text-color) !important;
}


/* Fuchsia coloring. */
.small-box.bg-fuchsia .small-box-footer {
    color: var(--fuchsia-text-color) !important;
}


/* Purple coloring. */
.small-box.bg-purple .small-box-footer {
    color: var(--purple-text-color) !important;
}


/* Maroon coloring. */
.small-box.bg-maroon .small-box-footer {
    color: var(--maroon-text-color) !important;
}


/* Gray coloring. */
.small-box.bg-gray .small-box-footer {
    color: var(--gray-text-color) !important;
}


/* Black coloring. */
.small-box.bg-black .small-box-footer {
    color: var(--black-text-color) !important;
}


/* Correct navy/black elements that aren't really visible. */
.small-box.bg-navy .icon,
.small-box.bg-black .icon {
  color: rgba(250, 250, 250, 0.15);
}
.small-box.bg-navy .small-box-footer,
.small-box.bg-black .small-box-footer {
  background: rgba(250, 250, 250, 0.1);
}
