/**
 * Extra coloring CSS for AdminLte `small-box` elements.
 */


/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */

/* Default coloring. */


/* Primary coloring. */
/* Equivalent to `light-blue`. */


/* Info coloring. */
/* Equivalent to `aqua`. */


/* Success coloring. */
/* Equivalent to `green`. */


/* Warning coloring. */
/* Equivalent to `yellow`. */


/* Danger coloring. */
/* Equivalent to `red`. */


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */


/* Aqua coloring. */
/* Equivalent to `info`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */


/* Green coloring. */
/* Equivalent to `success`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */


/* Yellow coloring. */
/* Equivalent to `warning`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */


/* Red coloring. */
/* Equivalent to `danger`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */


/* Navy coloring. */


/* Blue coloring. */


/* Teal coloring. */


/* Olive coloring. */


/* Lime coloring. */


/* Orange coloring. */


/* Fuchsia coloring. */


/* Indigo coloring. */


/* Purple coloring. */


/* Maroon coloring. */


/* Gray coloring. */


/* Black coloring. */


.small-box.bg-default .small-box-footer,
.small-box.bg-gray .small-box-footer,
.small-box.bg-teal .small-box-footer,
.small-box.bg-lime .small-box-footer {
  color: #333 !important;
}


/* Correct navy/black elements that aren't really visible. */
.small-box.bg-navy .icon,
.small-box.bg-black .icon {
  color: rgba(250, 250, 250, 0.15);
}
.small-box.bg-navy .small-box-footer,
.small-box.bg-black .small-box-footer {
  background: rgba(250, 250, 250, 0.1);
}
