/**
 * Extra coloring CSS for AdminLte `` elements.
 */


/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */

/* Default coloring. */
/* Handle for general table elements. */
.table > thead > tr > td.default,
.table > tfoot > tr > td.default,
.table > thead > tr > th.default,
.table > tfoot > tr > th.default,
.table > thead > tr.default > td,
.table > tfoot > tr.default > td,
.table > thead > tr.default > th,
.table > tfoot > tr.default > th {
    color: var(--default-text-color);
    background-color: var(--default-base-color);
}
.table > tbody > tr > td.default,
.table > tbody > tr > th.default,
.table > tbody > tr.default > td,
.table > tbody > tr.default > th {
    color: var(--default-text-dark);
    background-color: var(--default-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td:hover,
.table-hover > tbody > tr > th:hover,
.table-hover > tbody > tr:hover,
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th,
.table-hover > tbody > tr > td.default:hover,
.table-hover > tbody > tr > th.default:hover,
.table-hover > tbody > tr.default:hover > td,
.table-hover > tbody > tr:hover > .default,
.table-hover > tbody > tr.default:hover > th {
    background-color: var(--default-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered {
    border: 1px var(--default-base-color);
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td,
.table-bordered > colgroup + thead > tr:first-child > th,
.table-bordered.border-default > thead > tr > th,
.table-bordered.border-default > tbody > tr > th,
.table-bordered.border-default > tfoot > tr > th,
.table-bordered.border-default > thead > tr > td,
.table-bordered.border-default > tbody > tr > td,
.table-bordered.border-default > tfoot > tr > td {
    border: 1px solid var(--default-light-accent-color);
}
.table-bordered.border-default > thead > tr.default > th,
.table-bordered.border-default > tfoot > tr.default > th,
.table-bordered.border-default > thead > tr.default > td,
.table-bordered.border-default > tfoot > tr.default > td,
.table-bordered.border-default > thead > tr > th.default,
.table-bordered.border-default > tfoot > tr > th.default,
.table-bordered.border-default > thead > tr > td.default,
.table-bordered.border-default > tfoot > tr > td.default {
    border: 1px solid var(--default-border-color);
}
.table-bordered.border-default > tbody > tr.default > th,
.table-bordered.border-default > tbody > tr.default > td,
.table-bordered.border-default > tbody > tr > th.default,
.table-bordered.border-default > tbody > tr > td.default {
    border: 1px solid var(--default-base-color);
}


/* Primary coloring. */
/* Equivalent to `light-blue`. */
/* Handle for general table elements. */
.table > thead > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tfoot > tr.primary > th {
    color: var(--primary-text-color);
    background-color: var(--primary-base-color);
}
.table > tbody > tr > td.primary,
.table > tbody > tr > th.primary,
.table > tbody > tr.primary > td,
.table > tbody > tr.primary > th {
    color: var(--default-text-dark);
    background-color: var(--primary-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.primary:hover,
.table-hover > tbody > tr > th.primary:hover,
.table-hover > tbody > tr.primary:hover > td,
.table-hover > tbody > tr:hover > .primary,
.table-hover > tbody > tr.primary:hover > th {
    background-color: var(--primary-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-primary > thead > tr > th,
.table-bordered.border-primary > tbody > tr > th,
.table-bordered.border-primary > tfoot > tr > th,
.table-bordered.border-primary > thead > tr > td,
.table-bordered.border-primary > tbody > tr > td,
.table-bordered.border-primary > tfoot > tr > td {
    border: 1px solid var(--primary-light-accent-color);
}
.table-bordered.border-primary > thead > tr.primary > th,
.table-bordered.border-primary > tfoot > tr.primary > th,
.table-bordered.border-primary > thead > tr.primary > td,
.table-bordered.border-primary > tfoot > tr.primary > td,
.table-bordered.border-primary > thead > tr > th.primary,
.table-bordered.border-primary > tfoot > tr > th.primary,
.table-bordered.border-primary > thead > tr > td.primary,
.table-bordered.border-primary > tfoot > tr > td.primary {
    border: 1px solid var(--primary-border-color);
}
.table-bordered.border-primary > tbody > tr.primary > th,
.table-bordered.border-primary > tbody > tr.primary > td,
.table-bordered.border-primary > tbody > tr > th.primary,
.table-bordered.border-primary > tbody > tr > td.primary {
    border: 1px solid var(--primary-base-color);
}


/* Info coloring. */
/* Equivalent to `aqua`. */
/* Handle for general table elements. */
.table > thead > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tfoot > tr.info > th {
    color: var(--info-text-color);
    background-color: var(--info-base-color);
}
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tbody > tr.info > td,
.table > tbody > tr.info > th {
    color: var(--default-text-dark);
    background-color: var(--info-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
    background-color: var(--info-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-info > thead > tr > th,
.table-bordered.border-info > tbody > tr > th,
.table-bordered.border-info > tfoot > tr > th,
.table-bordered.border-info > thead > tr > td,
.table-bordered.border-info > tbody > tr > td,
.table-bordered.border-info > tfoot > tr > td {
    border: 1px solid var(--info-light-accent-color);
}
.table-bordered.border-info > thead > tr.info > th,
.table-bordered.border-info > tfoot > tr.info > th,
.table-bordered.border-info > thead > tr.info > td,
.table-bordered.border-info > tfoot > tr.info > td,
.table-bordered.border-info > thead > tr > th.info,
.table-bordered.border-info > tfoot > tr > th.info,
.table-bordered.border-info > thead > tr > td.info,
.table-bordered.border-info > tfoot > tr > td.info {
    border: 1px solid var(--info-border-color);
}
.table-bordered.border-info > tbody > tr.info > th,
.table-bordered.border-info > tbody > tr.info > td,
.table-bordered.border-info > tbody > tr > th.info,
.table-bordered.border-info > tbody > tr > td.info {
    border: 1px solid var(--info-base-color);
}


/* Success coloring. */
/* Equivalent to `green`. */
/* Handle for general table elements. */
.table > thead > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tfoot > tr.success > th {
    color: var(--success-text-color);
    background-color: var(--success-base-color);
}
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tbody > tr.success > td,
.table > tbody > tr.success > th {
    color: var(--default-text-dark);
    background-color: var(--success-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
    background-color: var(--success-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-success > thead > tr > th,
.table-bordered.border-success > tbody > tr > th,
.table-bordered.border-success > tfoot > tr > th,
.table-bordered.border-success > thead > tr > td,
.table-bordered.border-success > tbody > tr > td,
.table-bordered.border-success > tfoot > tr > td {
    border: 1px solid var(--success-light-accent-color);
}
.table-bordered.border-success > thead > tr.success > th,
.table-bordered.border-success > tfoot > tr.success > th,
.table-bordered.border-success > thead > tr.success > td,
.table-bordered.border-success > tfoot > tr.success > td,
.table-bordered.border-success > thead > tr > th.success,
.table-bordered.border-success > tfoot > tr > th.success,
.table-bordered.border-success > thead > tr > td.success,
.table-bordered.border-success > tfoot > tr > td.success {
    border: 1px solid var(--success-border-color);
}
.table-bordered.border-success > tbody > tr.success > th,
.table-bordered.border-success > tbody > tr.success > td,
.table-bordered.border-success > tbody > tr > th.success,
.table-bordered.border-success > tbody > tr > td.success {
    border: 1px solid var(--success-base-color);
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
/* Handle for general table elements. */
.table > thead > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tfoot > tr.warning > th {
    color: var(--warning-text-color);
    background-color: var(--warning-base-color);
}
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th {
    background-color: var(--warning-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
    background-color: var(--warning-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-warning > thead > tr > th,
.table-bordered.border-warning > tbody > tr > th,
.table-bordered.border-warning > tfoot > tr > th,
.table-bordered.border-warning > thead > tr > td,
.table-bordered.border-warning > tbody > tr > td,
.table-bordered.border-warning > tfoot > tr > td {
    border: 1px solid var(--warning-light-accent-color);
}
.table-bordered.border-warning > thead > tr.warning > th,
.table-bordered.border-warning > tfoot > tr.warning > th,
.table-bordered.border-warning > thead > tr.warning > td,
.table-bordered.border-warning > tfoot > tr.warning > td,
.table-bordered.border-warning > thead > tr > th.warning,
.table-bordered.border-warning > tfoot > tr > th.warning,
.table-bordered.border-warning > thead > tr > td.warning,
.table-bordered.border-warning > tfoot > tr > td.warning {
    border: 1px solid var(--warning-border-color);
}
.table-bordered.border-warning > tbody > tr.warning > th,
.table-bordered.border-warning > tbody > tr.warning > td,
.table-bordered.border-warning > tbody > tr > th.warning,
.table-bordered.border-warning > tbody > tr > td.warning {
    border: 1px solid var(--warning-base-color);
}


/* Danger coloring. */
/* Equivalent to `red`. */
/* Handle for general table elements. */
.table > thead > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tfoot > tr.danger > th {
    color: var(--danger-text-color);
    background-color: var(--danger-base-color);
}
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th {
    color: var(--default-text-dark);
    background-color: var(--danger-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
    background-color: var(--danger-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-danger > thead > tr > th,
.table-bordered.border-danger > tbody > tr > th,
.table-bordered.border-danger > tfoot > tr > th,
.table-bordered.border-danger > thead > tr > td,
.table-bordered.border-danger > tbody > tr > td,
.table-bordered.border-danger > tfoot > tr > td {
    border: 1px solid var(--danger-light-accent-color);
}
.table-bordered.border-danger > thead > tr.danger > th,
.table-bordered.border-danger > tfoot > tr.danger > th,
.table-bordered.border-danger > thead > tr.danger > td,
.table-bordered.border-danger > tfoot > tr.danger > td,
.table-bordered.border-danger > thead > tr > th.danger,
.table-bordered.border-danger > tfoot > tr > th.danger,
.table-bordered.border-danger > thead > tr > td.danger,
.table-bordered.border-danger > tfoot > tr > td.danger {
    border: 1px solid var(--danger-border-color);
}
.table-bordered.border-danger > tbody > tr.danger > th,
.table-bordered.border-danger > tbody > tr.danger > td,
.table-bordered.border-danger > tbody > tr > th.danger,
.table-bordered.border-danger > tbody > tr > td.danger {
    border: 1px solid var(--danger-base-color);
}


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
/* Handle for general table elements. */
.table > thead > tr > td.light-blue,
.table > tfoot > tr > td.light-blue,
.table > thead > tr > th.light-blue,
.table > tfoot > tr > th.light-blue,
.table > thead > tr.light-blue > td,
.table > tfoot > tr.light-blue > td,
.table > thead > tr.light-blue > th,
.table > tfoot > tr.light-blue > th {
    color: var(--light-blue-text-color);
    background-color: var(--light-blue-base-color);
}
.table > tbody > tr > td.light-blue,
.table > tbody > tr > th.light-blue,
.table > tbody > tr.light-blue > td,
.table > tbody > tr.light-blue > th {
    color: var(--default-text-dark);
    background-color: var(--light-blue-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.light-blue:hover,
.table-hover > tbody > tr > th.light-blue:hover,
.table-hover > tbody > tr.light-blue:hover > td,
.table-hover > tbody > tr:hover > .light-blue,
.table-hover > tbody > tr.light-blue:hover > th {
    background-color: var(--light-blue-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-light-blue > thead > tr > th,
.table-bordered.border-light-blue > tbody > tr > th,
.table-bordered.border-light-blue > tfoot > tr > th,
.table-bordered.border-light-blue > thead > tr > td,
.table-bordered.border-light-blue > tbody > tr > td,
.table-bordered.border-light-blue > tfoot > tr > td {
    border: 1px solid var(--light-blue-light-accent-color);
}
.table-bordered.border-light-blue > thead > tr.light-blue > th,
.table-bordered.border-light-blue > tfoot > tr.light-blue > th,
.table-bordered.border-light-blue > thead > tr.light-blue > td,
.table-bordered.border-light-blue > tfoot > tr.light-blue > td,
.table-bordered.border-light-blue > thead > tr > th.light-blue,
.table-bordered.border-light-blue > tfoot > tr > th.light-blue,
.table-bordered.border-light-blue > thead > tr > td.light-blue,
.table-bordered.border-light-blue > tfoot > tr > td.light-blue {
    border: 1px solid var(--light-blue-border-color);
}
.table-bordered.border-light-blue > tbody > tr.light-blue > th,
.table-bordered.border-light-blue > tbody > tr.light-blue > td,
.table-bordered.border-light-blue > tbody > tr > th.light-blue,
.table-bordered.border-light-blue > tbody > tr > td.light-blue {
    border: 1px solid var(--light-blue-base-color);
}


/* Aqua coloring. */
/* Equivalent to `info`. */
/* Handle for general table elements. */
.table > thead > tr > td.aqua,
.table > tfoot > tr > td.aqua,
.table > thead > tr > th.aqua,
.table > tfoot > tr > th.aqua,
.table > thead > tr.aqua > td,
.table > tfoot > tr.aqua > td,
.table > thead > tr.aqua > th,
.table > tfoot > tr.aqua > th {
    color: var(--aqua-text-color);
    background-color: var(--aqua-base-color);
}
.table > tbody > tr > td.aqua,
.table > tbody > tr > th.aqua,
.table > tbody > tr.aqua > td,
.table > tbody > tr.aqua > th {
    color: var(--default-text-dark);
    background-color: var(--aqua-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.aqua:hover,
.table-hover > tbody > tr > th.aqua:hover,
.table-hover > tbody > tr.aqua:hover > td,
.table-hover > tbody > tr:hover > .aqua,
.table-hover > tbody > tr.aqua:hover > th {
    background-color: var(--aqua-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-aqua > thead > tr > th,
.table-bordered.border-aqua > tbody > tr > th,
.table-bordered.border-aqua > tfoot > tr > th,
.table-bordered.border-aqua > thead > tr > td,
.table-bordered.border-aqua > tbody > tr > td,
.table-bordered.border-aqua > tfoot > tr > td {
    border: 1px solid var(--aqua-light-accent-color);
}
.table-bordered.border-aqua > thead > tr.aqua > th,
.table-bordered.border-aqua > tfoot > tr.aqua > th,
.table-bordered.border-aqua > thead > tr.aqua > td,
.table-bordered.border-aqua > tfoot > tr.aqua > td,
.table-bordered.border-aqua > thead > tr > th.aqua,
.table-bordered.border-aqua > tfoot > tr > th.aqua,
.table-bordered.border-aqua > thead > tr > td.aqua,
.table-bordered.border-aqua > tfoot > tr > td.aqua {
    border: 1px solid var(--aqua-border-color);
}
.table-bordered.border-aqua > tbody > tr.aqua > th,
.table-bordered.border-aqua > tbody > tr.aqua > td,
.table-bordered.border-aqua > tbody > tr > th.aqua,
.table-bordered.border-aqua > tbody > tr > td.aqua {
    border: 1px solid var(--aqua-base-color);
}


/* Green coloring. */
/* Equivalent to `success`. */
/* Handle for general table elements. */
.table > thead > tr > td.green,
.table > tfoot > tr > td.green,
.table > thead > tr > th.green,
.table > tfoot > tr > th.green,
.table > thead > tr.green > td,
.table > tfoot > tr.green > td,
.table > thead > tr.green > th,
.table > tfoot > tr.green > th {
    color: var(--green-text-color);
    background-color: var(--green-base-color);
}
.table > tbody > tr > td.green,
.table > tbody > tr > th.green,
.table > tbody > tr.green > td,
.table > tbody > tr.green > th {
    color: var(--default-text-dark);
    background-color: var(--green-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.green:hover,
.table-hover > tbody > tr > th.green:hover,
.table-hover > tbody > tr.green:hover > td,
.table-hover > tbody > tr:hover > .green,
.table-hover > tbody > tr.green:hover > th {
    background-color: var(--green-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-green > thead > tr > th,
.table-bordered.border-green > tbody > tr > th,
.table-bordered.border-green > tfoot > tr > th,
.table-bordered.border-green > thead > tr > td,
.table-bordered.border-green > tbody > tr > td,
.table-bordered.border-green > tfoot > tr > td {
    border: 1px solid var(--green-light-accent-color);
}
.table-bordered.border-green > thead > tr.green > th,
.table-bordered.border-green > tfoot > tr.green > th,
.table-bordered.border-green > thead > tr.green > td,
.table-bordered.border-green > tfoot > tr.green > td,
.table-bordered.border-green > thead > tr > th.green,
.table-bordered.border-green > tfoot > tr > th.green,
.table-bordered.border-green > thead > tr > td.green,
.table-bordered.border-green > tfoot > tr > td.green {
    border: 1px solid var(--green-border-color);
}
.table-bordered.border-green > tbody > tr.green > th,
.table-bordered.border-green > tbody > tr.green > td,
.table-bordered.border-green > tbody > tr > th.green,
.table-bordered.border-green > tbody > tr > td.green {
    border: 1px solid var(--green-base-color);
}


/* Yellow coloring. */
/* Equivalent to `warning`. */
/* Handle for general table elements. */
.table > thead > tr > td.yellow,
.table > tfoot > tr > td.yellow,
.table > thead > tr > th.yellow,
.table > tfoot > tr > th.yellow,
.table > thead > tr.yellow > td,
.table > tfoot > tr.yellow > td,
.table > thead > tr.yellow > th,
.table > tfoot > tr.yellow > th {
    color: var(--yellow-text-color);
    background-color: var(--yellow-base-color);
}
.table > tbody > tr > td.yellow,
.table > tbody > tr > th.yellow,
.table > tbody > tr.yellow > td,
.table > tbody > tr.yellow > th {
    color: var(--default-text-dark);
    background-color: var(--yellow-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.yellow:hover,
.table-hover > tbody > tr > th.yellow:hover,
.table-hover > tbody > tr.yellow:hover > td,
.table-hover > tbody > tr:hover > .yellow,
.table-hover > tbody > tr.yellow:hover > th {
    background-color: var(--yellow-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-yellow > thead > tr > th,
.table-bordered.border-yellow > tbody > tr > th,
.table-bordered.border-yellow > tfoot > tr > th,
.table-bordered.border-yellow > thead > tr > td,
.table-bordered.border-yellow > tbody > tr > td,
.table-bordered.border-yellow > tfoot > tr > td {
    border: 1px solid var(--yellow-light-accent-color);
}
.table-bordered.border-yellow > thead > tr.yellow > th,
.table-bordered.border-yellow > tfoot > tr.yellow > th,
.table-bordered.border-yellow > thead > tr.yellow > td,
.table-bordered.border-yellow > tfoot > tr.yellow > td,
.table-bordered.border-yellow > thead > tr > th.yellow,
.table-bordered.border-yellow > tfoot > tr > th.yellow,
.table-bordered.border-yellow > thead > tr > td.yellow,
.table-bordered.borderyellow- > tfoot > tr > td.yellow {
    border: 1px solid var(--yellow-border-color);
}
.table-bordered.border-yellow > tbody > tr.yellow > th,
.table-bordered.border-yellow > tbody > tr.yellow > td,
.table-bordered.border-yellow > tbody > tr > th.yellow,
.table-bordered.border-yellow > tbody > tr > td.yellow {
    border: 1px solid var(--yellow-base-color);
}


/* Red coloring. */
/* Equivalent to `danger`. */
/* Handle for general table elements. */
.table > thead > tr > td.red,
.table > tfoot > tr > td.red,
.table > thead > tr > th.red,
.table > tfoot > tr > th.red,
.table > thead > tr.red > td,
.table > tfoot > tr.red > td,
.table > thead > tr.red > th,
.table > tfoot > tr.red > th {
    color: var(--red-text-color);
    background-color: var(--red-base-color);
}
.table > tbody > tr > td.red,
.table > tbody > tr > th.red,
.table > tbody > tr.red > td,
.table > tbody > tr.red > th {
    color: var(--default-text-dark);
    background-color: var(--red-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.red:hover,
.table-hover > tbody > tr > th.red:hover,
.table-hover > tbody > tr.red:hover > td,
.table-hover > tbody > tr:hover > .red,
.table-hover > tbody > tr.red:hover > th {
    background-color: var(--red-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-red > thead > tr > th,
.table-bordered.border-red > tbody > tr > th,
.table-bordered.border-red > tfoot > tr > th,
.table-bordered.border-red > thead > tr > td,
.table-bordered.border-red > tbody > tr > td,
.table-bordered.border-red > tfoot > tr > td {
    border: 1px solid var(--red-light-accent-color);
}
.table-bordered.border-red > thead > tr.red > th,
.table-bordered.border-red > tfoot > tr.red > th,
.table-bordered.border-red > thead > tr.red > td,
.table-bordered.border-red > tfoot > tr.red > td,
.table-bordered.border-red > thead > tr > th.red,
.table-bordered.border-red > tfoot > tr > th.red,
.table-bordered.border-red > thead > tr > td.red,
.table-bordered.border-red > tfoot > tr > td.red {
    border: 1px solid var(--red-border-color);
}
.table-bordered.border-red > tbody > tr.red > th,
.table-bordered.border-red > tbody > tr.red > td,
.table-bordered.border-red > tbody > tr > th.red,
.table-bordered.border-red > tbody > tr > td.red {
    border: 1px solid var(--red-base-color);
}


/* Error coloring. */
/* Equivalent to `danger`. */
/* Handle for general table elements. */
.table > thead > tr > td.error,
.table > tfoot > tr > td.error,
.table > thead > tr > th.error,
.table > tfoot > tr > th.error,
.table > thead > tr.error > td,
.table > tfoot > tr.error > td,
.table > thead > tr.error > th,
.table > tfoot > tr.error > th {
    color: var(--error-text-color);
    background-color: var(--error-base-color);
}
.table > tbody > tr > td.error,
.table > tbody > tr > th.error,
.table > tbody > tr.error > td,
.table > tbody > tr.error > th {
    color: var(--default-text-dark);
    background-color: var(--error-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.error:hover,
.table-hover > tbody > tr > th.error:hover,
.table-hover > tbody > tr.error:hover > td,
.table-hover > tbody > tr:hover > .error,
.table-hover > tbody > tr.error:hover > th {
    background-color: var(--error-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-error > thead > tr > th,
.table-bordered.border-error > tbody > tr > th,
.table-bordered.border-error > tfoot > tr > th,
.table-bordered.border-error > thead > tr > td,
.table-bordered.border-error > tbody > tr > td,
.table-bordered.border-error > tfoot > tr > td {
    border: 1px solid var(--error-light-accent-color);
}
.table-bordered.border-error > thead > tr.error > th,
.table-bordered.border-error > tfoot > tr.error > th,
.table-bordered.border-error > thead > tr.error > td,
.table-bordered.border-error > tfoot > tr.error > td,
.table-bordered.border-error > thead > tr > th.error,
.table-bordered.border-error > tfoot > tr > th.error,
.table-bordered.border-error > thead > tr > td.error,
.table-bordered.border-error > tfoot > tr > td.error {
    border: 1px solid var(--error-border-color);
}
.table-bordered.border-error > tbody > tr.error > th,
.table-bordered.border-error > tbody > tr.error > td,
.table-bordered.border-error > tbody > tr > th.error,
.table-bordered.border-error > tbody > tr > td.error {
    border: 1px solid var(--error-base-color);
}


/* Navy coloring. */
/* Handle for general table elements. */
.table > thead > tr > td.navy,
.table > tfoot > tr > td.navy,
.table > thead > tr > th.navy,
.table > tfoot > tr > th.navy,
.table > thead > tr.navy > td,
.table > tfoot > tr.navy > td,
.table > thead > tr.navy > th,
.table > tfoot > tr.navy > th {
    color: var(--navy-text-color);
    background-color: var(--navy-base-color);
}
.table > tbody > tr > td.navy,
.table > tbody > tr > th.navy,
.table > tbody > tr.navy > td,
.table > tbody > tr.navy > th {
    color: var(--default-text-dark);
    background-color: var(--navy-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.navy:hover,
.table-hover > tbody > tr > th.navy:hover,
.table-hover > tbody > tr.navy:hover > td,
.table-hover > tbody > tr:hover > .navy,
.table-hover > tbody > tr.navy:hover > th {
    background-color: var(--navy-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-navy > thead > tr > th,
.table-bordered.border-navy > tbody > tr > th,
.table-bordered.border-navy > tfoot > tr > th,
.table-bordered.border-navy > thead > tr > td,
.table-bordered.border-navy > tbody > tr > td,
.table-bordered.border-navy > tfoot > tr > td {
    border: 1px solid var(--navy-light-accent-color);
}
.table-bordered.border-navy > thead > tr.navy > th,
.table-bordered.border-navy > tfoot > tr.navy > th,
.table-bordered.border-navy > thead > tr.navy > td,
.table-bordered.border-navy > tfoot > tr.navy > td,
.table-bordered.border-navy > thead > tr > th.navy,
.table-bordered.border-navy > tfoot > tr > th.navy,
.table-bordered.border-navy > thead > tr > td.navy,
.table-bordered.border-navy > tfoot > tr > td.navy {
    border: 1px solid var(--navy-border-color);
}
.table-bordered.border-navy > tbody > tr.navy > th,
.table-bordered.border-navy > tbody > tr.navy > td,
.table-bordered.border-navy > tbody > tr > th.navy,
.table-bordered.border-navy > tbody > tr > td.navy {
    border: 1px solid var(--navy-base-color);
}


/* Blue coloring. */
/* Handle for general table elements. */
.table > thead > tr > td.blue,
.table > tfoot > tr > td.blue,
.table > thead > tr > th.blue,
.table > tfoot > tr > th.blue,
.table > thead > tr.blue > td,
.table > tfoot > tr.blue > td,
.table > thead > tr.blue > th,
.table > tfoot > tr.blue > th {
    color: var(--blue-text-color);
    background-color: var(--blue-base-color);
}
.table > tbody > tr > td.blue,
.table > tbody > tr > th.blue,
.table > tbody > tr.blue > td,
.table > tbody > tr.blue > th {
    color: var(--default-text-dark);
    background-color: var(--blue-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.blue:hover,
.table-hover > tbody > tr > th.blue:hover,
.table-hover > tbody > tr.blue:hover > td,
.table-hover > tbody > tr:hover > .blue,
.table-hover > tbody > tr.blue:hover > th {
    background-color: var(--blue-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-blue > thead > tr > th,
.table-bordered.border-blue > tbody > tr > th,
.table-bordered.border-blue > tfoot > tr > th,
.table-bordered.border-blue > thead > tr > td,
.table-bordered.border-blue > tbody > tr > td,
.table-bordered.border-blue > tfoot > tr > td {
    border: 1px solid var(--blue-light-accent-color);
}
.table-bordered.border-blue > thead > tr.blue > th,
.table-bordered.border-blue > tfoot > tr.blue > th,
.table-bordered.border-blue > thead > tr.blue > td,
.table-bordered.border-blue > tfoot > tr.blue > td,
.table-bordered.border-blue > thead > tr > th.blue,
.table-bordered.border-blue > tfoot > tr > th.blue,
.table-bordered.border-blue > thead > tr > td.blue,
.table-bordered.border-blue > tfoot > tr > td.blue {
    border: 1px solid var(--blue-border-color);
}
.table-bordered.border-blue > tbody > tr.blue > th,
.table-bordered.border-blue > tbody > tr.blue > td,
.table-bordered.border-blue > tbody > tr > th.blue,
.table-bordered.border-blue > tbody > tr > td.blue {
    border: 1px solid var(--blue-base-color);
}


/* Teal coloring. */
/* Handle for general table elements. */
.table > thead > tr > td.teal,
.table > tfoot > tr > td.teal,
.table > thead > tr > th.teal,
.table > tfoot > tr > th.teal,
.table > thead > tr.teal > td,
.table > tfoot > tr.teal > td,
.table > thead > tr.teal > th,
.table > tfoot > tr.teal > th {
    color: var(--teal-text-color);
    background-color: var(--teal-base-color);
}
.table > tbody > tr > td.teal,
.table > tbody > tr > th.teal,
.table > tbody > tr.teal > td,
.table > tbody > tr.teal > th {
    color: var(--default-text-dark);
    background-color: var(--teal-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.teal:hover,
.table-hover > tbody > tr > th.teal:hover,
.table-hover > tbody > tr.teal:hover > td,
.table-hover > tbody > tr:hover > .teal,
.table-hover > tbody > tr.teal:hover > th {
    background-color: var(--teal-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-teal > thead > tr > th,
.table-bordered.border-teal > tbody > tr > th,
.table-bordered.border-teal > tfoot > tr > th,
.table-bordered.border-teal > thead > tr > td,
.table-bordered.border-teal > tbody > tr > td,
.table-bordered.border-teal > tfoot > tr > td {
    border: 1px solid var(--teal-light-accent-color);
}
.table-bordered.border-teal > thead > tr.teal > th,
.table-bordered.border-teal > tfoot > tr.teal > th,
.table-bordered.border-teal > thead > tr.teal > td,
.table-bordered.border-teal > tfoot > tr.teal > td,
.table-bordered.border-teal > thead > tr > th.teal,
.table-bordered.border-teal > tfoot > tr > th.teal,
.table-bordered.border-teal > thead > tr > td.teal,
.table-bordered.border-teal > tfoot > tr > td.teal {
    border: 1px solid var(--teal-border-color);
}
.table-bordered.border-teal > tbody > tr.teal > th,
.table-bordered.border-teal > tbody > tr.teal > td,
.table-bordered.border-teal > tbody > tr > th.teal,
.table-bordered.border-teal > tbody > tr > td.teal {
    border: 1px solid var(--teal-base-color);
}


/* Orange coloring. */
/* Handle for general table elements. */
.table > thead > tr > td.orange,
.table > tfoot > tr > td.orange,
.table > thead > tr > th.orange,
.table > tfoot > tr > th.orange,
.table > thead > tr.orange > td,
.table > tfoot > tr.orange > td,
.table > thead > tr.orange > th,
.table > tfoot > tr.orange > th {
    color: var(--orange-text-color);
    background-color: var(--orange-base-color);
}
.table > tbody > tr > td.orange,
.table > tbody > tr > th.orange,
.table > tbody > tr.orange > td,
.table > tbody > tr.orange > th {
    color: var(--default-text-dark);
    background-color: var(--orange-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.orange:hover,
.table-hover > tbody > tr > th.orange:hover,
.table-hover > tbody > tr.orange:hover > td,
.table-hover > tbody > tr:hover > .orange,
.table-hover > tbody > tr.orange:hover > th {
    background-color: var(--orange-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-orange > thead > tr > th,
.table-bordered.border-orange > tbody > tr > th,
.table-bordered.border-orange > tfoot > tr > th,
.table-bordered.border-orange > thead > tr > td,
.table-bordered.border-orange > tbody > tr > td,
.table-bordered.border-orange > tfoot > tr > td {
    border: 1px solid var(--orange-light-accent-color);
}
.table-bordered.border-orange > thead > tr.orange > th,
.table-bordered.border-orange > tfoot > tr.orange > th,
.table-bordered.border-orange > thead > tr.orange > td,
.table-bordered.border-orange > tfoot > tr.orange > td,
.table-bordered.border-orange > thead > tr > th.orange,
.table-bordered.border-orange > tfoot > tr > th.orange,
.table-bordered.border-orange > thead > tr > td.orange,
.table-bordered.border-orange > tfoot > tr > td.orange {
    border: 1px solid var(--orange-border-color);
}
.table-bordered.border-orange > tbody > tr.orange > th,
.table-bordered.border-orange > tbody > tr.orange > td,
.table-bordered.border-orange > tbody > tr > th.orange,
.table-bordered.border-orange > tbody > tr > td.orange {
    border: 1px solid var(--orange-base-color);
}


/* Fuchsia coloring. */
/* Handle for general table elements. */
.table > thead > tr > td.fuchsia,
.table > tfoot > tr > td.fuchsia,
.table > thead > tr > th.fuchsia,
.table > tfoot > tr > th.fuchsia,
.table > thead > tr.fuchsia > td,
.table > tfoot > tr.fuchsia > td,
.table > thead > tr.fuchsia > th,
.table > tfoot > tr.fuchsia > th {
    color: var(--fuchsia-text-color);
    background-color: var(--fuchsia-base-color);
}
.table > tbody > tr > td.fuchsia,
.table > tbody > tr > th.fuchsia,
.table > tbody > tr.fuchsia > td,
.table > tbody > tr.fuchsia > th {
    color: var(--default-text-dark);
    background-color: var(--fuchsia-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.fuchsia:hover,
.table-hover > tbody > tr > th.fuchsia:hover,
.table-hover > tbody > tr.fuchsia:hover > td,
.table-hover > tbody > tr:hover > .fuchsia,
.table-hover > tbody > tr.fuchsia:hover > th {
    background-color: var(--fuchsia-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-fuchsia > thead > tr > th,
.table-bordered.border-fuchsia > tbody > tr > th,
.table-bordered.border-fuchsia > tfoot > tr > th,
.table-bordered.border-fuchsia > thead > tr > td,
.table-bordered.border-fuchsia > tbody > tr > td,
.table-bordered.border-fuchsia > tfoot > tr > td {
    border: 1px solid var(--fuchsia-light-accent-color);
}
.table-bordered.border-fuchsia > thead > tr.fuchsia > th,
.table-bordered.border-fuchsia > tfoot > tr.fuchsia > th,
.table-bordered.border-fuchsia > thead > tr.fuchsia > td,
.table-bordered.border-fuchsia > tfoot > tr.fuchsia > td,
.table-bordered.border-fuchsia > thead > tr > th.fuchsia,
.table-bordered.border-fuchsia > tfoot > tr > th.fuchsia,
.table-bordered.border-fuchsia > thead > tr > td.fuchsia,
.table-bordered.border-fuchsia > tfoot > tr > td.fuchsia {
    border: 1px solid var(--fuchsia-border-color);
}
.table-bordered.border-fuchsia > tbody > tr.fuchsia > th,
.table-bordered.border-fuchsia > tbody > tr.fuchsia > td,
.table-bordered.border-fuchsia > tbody > tr > th.fuchsia,
.table-bordered.border-fuchsia > tbody > tr > td.fuchsia {
    border: 1px solid var(--fuchsia-base-color);
}


/* Purple coloring. */
/* Handle for general table elements. */
.table > thead > tr > td.purple,
.table > tfoot > tr > td.purple,
.table > thead > tr > th.purple,
.table > tfoot > tr > th.purple,
.table > thead > tr.purple > td,
.table > tfoot > tr.purple > td,
.table > thead > tr.purple > th,
.table > tfoot > tr.purple > th {
    color: var(--purple-text-color);
    background-color: var(--purple-base-color);
}
.table > tbody > tr > td.purple,
.table > tbody > tr > th.purple,
.table > tbody > tr.purple > td,
.table > tbody > tr.purple > th {
    color: var(--default-text-dark);
    background-color: var(--purple-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.purple:hover,
.table-hover > tbody > tr > th.purple:hover,
.table-hover > tbody > tr.purple:hover > td,
.table-hover > tbody > tr:hover > .purple,
.table-hover > tbody > tr.purple:hover > th {
    background-color: var(--purple-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-purple > thead > tr > th,
.table-bordered.border-purple > tbody > tr > th,
.table-bordered.border-purple > tfoot > tr > th,
.table-bordered.border-purple > thead > tr > td,
.table-bordered.border-purple > tbody > tr > td,
.table-bordered.border-purple > tfoot > tr > td {
    border: 1px solid var(--purple-light-accent-color);
}
.table-bordered.border-purple > thead > tr.purple > th,
.table-bordered.border-purple > tfoot > tr.purple > th,
.table-bordered.border-purple > thead > tr.purple > td,
.table-bordered.border-purple > tfoot > tr.purple > td,
.table-bordered.border-purple > thead > tr > th.purple,
.table-bordered.border-purple > tfoot > tr > th.purple,
.table-bordered.border-purple > thead > tr > td.purple,
.table-bordered.border-purple > tfoot > tr > td.purple {
    border: 1px solid var(--purple-border-color);
}
.table-bordered.border-purple > tbody > tr.purple > th,
.table-bordered.border-purple > tbody > tr.purple > td,
.table-bordered.border-purple > tbody > tr > th.purple,
.table-bordered.border-purple > tbody > tr > td.purple {
    border: 1px solid var(--purple-base-color);
}


/* Maroon coloring. */
/* Handle for general table elements. */
.table > thead > tr > td.maroon,
.table > tfoot > tr > td.maroon,
.table > thead > tr > th.maroon,
.table > tfoot > tr > th.maroon,
.table > thead > tr.maroon > td,
.table > tfoot > tr.maroon > td,
.table > thead > tr.maroon > th,
.table > tfoot > tr.maroon > th {
    color: var(--maroon-text-color);
    background-color: var(--maroon-base-color);
}
.table > tbody > tr > td.maroon,
.table > tbody > tr > th.maroon,
.table > tbody > tr.maroon > td,
.table > tbody > tr.maroon > th {
    color: var(--default-text-dark);
    background-color: var(--maroon-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.maroon:hover,
.table-hover > tbody > tr > th.maroon:hover,
.table-hover > tbody > tr.maroon:hover > td,
.table-hover > tbody > tr:hover > .maroon,
.table-hover > tbody > tr.maroon:hover > th {
    background-color: var(--maroon-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-maroon > thead > tr > th,
.table-bordered.border-maroon > tbody > tr > th,
.table-bordered.border-maroon > tfoot > tr > th,
.table-bordered.border-maroon > thead > tr > td,
.table-bordered.border-maroon > tbody > tr > td,
.table-bordered.border-maroon > tfoot > tr > td {
    border: 1px solid var(--maroon-light-accent-color);
}
.table-bordered.border-maroon > thead > tr.maroon > th,
.table-bordered.border-maroon > tfoot > tr.maroon > th,
.table-bordered.border-maroon > thead > tr.maroon > td,
.table-bordered.border-maroon > tfoot > tr.maroon > td,
.table-bordered.border-maroon > thead > tr > th.maroon,
.table-bordered.border-maroon > tfoot > tr > th.maroon,
.table-bordered.border-maroon > thead > tr > td.maroon,
.table-bordered.border-maroon > tfoot > tr > td.maroon {
    border: 1px solid var(--maroon-border-color);
}
.table-bordered.border-maroon > tbody > tr.maroon > th,
.table-bordered.border-maroon > tbody > tr.maroon > td,
.table-bordered.border-maroon > tbody > tr > th.maroon,
.table-bordered.border-maroon > tbody > tr > td.maroon {
    border: 1px solid var(--maroon-base-color);
}


/* Gray coloring. */
/* Handle for general table elements. */
.table > thead > tr > td.gray,
.table > tfoot > tr > td.gray,
.table > thead > tr > th.gray,
.table > tfoot > tr > th.gray,
.table > thead > tr.gray > td,
.table > tfoot > tr.gray > td,
.table > thead > tr.gray > th,
.table > tfoot > tr.gray > th {
    color: var(--gray-text-color);
    background-color: var(--gray-base-color);
}
.table > tbody > tr > td.gray,
.table > tbody > tr > th.gray,
.table > tbody > tr.gray > td,
.table > tbody > tr.gray > th {
    color: var(--default-text-dark);
    background-color: var(--gray-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.gray:hover,
.table-hover > tbody > tr > th.gray:hover,
.table-hover > tbody > tr.gray:hover > td,
.table-hover > tbody > tr:hover > .gray,
.table-hover > tbody > tr.gray:hover > th {
    background-color: var(--gray-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-gray > thead > tr > th,
.table-bordered.border-gray > tbody > tr > th,
.table-bordered.border-gray > tfoot > tr > th,
.table-bordered.border-gray > thead > tr > td,
.table-bordered.border-gray > tbody > tr > td,
.table-bordered.border-gray > tfoot > tr > td {
    border: 1px solid var(--gray-light-accent-color);
}
.table-bordered.border-gray > thead > tr.gray > th,
.table-bordered.border-gray > tfoot > tr.gray > th,
.table-bordered.border-gray > thead > tr.gray > td,
.table-bordered.border-gray > tfoot > tr.gray > td,
.table-bordered.border-gray > thead > tr > th.gray,
.table-bordered.border-gray > tfoot > tr > th.gray,
.table-bordered.border-gray > thead > tr > td.gray,
.table-bordered.border-gray > tfoot > tr > td.gray {
    border: 1px solid var(--gray-border-color);
}
.table-bordered.border-gray > tbody > tr.gray > th,
.table-bordered.border-gray > tbody > tr.gray > td,
.table-bordered.border-gray > tbody > tr > th.gray,
.table-bordered.border-gray > tbody > tr > td.gray {
    border: 1px solid var(--gray-base-color);
}


/* Black coloring. */
/* Handle for general table elements. */
.table > thead > tr > td.black,
.table > tfoot > tr > td.black,
.table > thead > tr > th.black,
.table > tfoot > tr > th.black,
.table > thead > tr.black > td,
.table > tfoot > tr.black > td,
.table > thead > tr.black > th,
.table > tfoot > tr.black > th {
    color: var(--black-text-color);
    background-color: var(--black-base-color);
}
.table > tbody > tr > td.black,
.table > tbody > tr > th.black,
.table > tbody > tr.black > td,
.table > tbody > tr.black > th {
    color: var(--default-text-dark);
    background-color: var(--black-light-accent-color);
}
/* Handle for table-hover elements. */
.table-hover > tbody > tr > td.black:hover,
.table-hover > tbody > tr > th.black:hover,
.table-hover > tbody > tr.black:hover > td,
.table-hover > tbody > tr:hover > .black,
.table-hover > tbody > tr.black:hover > th {
    background-color: var(--black-table-hover-color);
}
/* Handle for table-border elements. */
.table-bordered.border-black > thead > tr > th,
.table-bordered.border-black > tbody > tr > th,
.table-bordered.border-black > tfoot > tr > th,
.table-bordered.border-black > thead > tr > td,
.table-bordered.border-black > tbody > tr > td,
.table-bordered.border-black > tfoot > tr > td {
    border: 1px solid var(--black-light-accent-color);
}
.table-bordered.border-black > thead > tr.black > th,
.table-bordered.border-black > tfoot > tr.black > th,
.table-bordered.border-black > thead > tr.black > td,
.table-bordered.border-black > tfoot > tr.black > td,
.table-bordered.border-black > thead > tr > th.black,
.table-bordered.border-black > tfoot > tr > th.black,
.table-bordered.border-black > thead > tr > td.black,
.table-bordered.border-black > tfoot > tr > td.black {
    border: 1px solid var(--black-border-color);
}
.table-bordered.border-black > tbody > tr.black > th,
.table-bordered.border-black > tbody > tr.black > td,
.table-bordered.border-black > tbody > tr > th.black,
.table-bordered.border-black > tbody > tr > td.black {
    border: 1px solid var(--black-base-color);
}
