/**
 * Extra coloring CSS for AdminLte `` elements.
 */


/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */

/* Default coloring. */
.table > thead > tr > td.default,
.table > tfoot > tr > td.default,
.table > thead > tr > th.default,
.table > tfoot > tr > th.default,
.table > thead > tr.default > td,
.table > tfoot > tr.default > td,
.table > thead > tr.default > th,
.table > tfoot > tr.default > th {
  color: #333;
  background-color: #f4f4f4;
}
.table > tbody > tr > td.default,
.table > tbody > tr > th.default,
.table > tbody > tr.default > td,
.table > tbody > tr.default > th {
  color: #333;
  background-color: #f4f4f4;
}
.table-hover > tbody > tr > td.default:hover,
.table-hover > tbody > tr > th.default:hover,
.table-hover > tbody > tr.default:hover > td,
.table-hover > tbody > tr:hover > .default,
.table-hover > tbody > tr.default:hover > th {
  background-color: #f4f4f4;
}


/* Primary coloring. */
/* Equivalent to `light-blue`. */
.table > thead > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tfoot > tr.primary > th {
  color: #fff;
  background-color: #3c8dbc;
}
.table > tbody > tr > td.primary,
.table > tbody > tr > th.primary,
.table > tbody > tr.primary > td,
.table > tbody > tr.primary > th {
  color: #fff;
  background-color: #6a9ebd;
}
.table-hover > tbody > tr > td.primary:hover,
.table-hover > tbody > tr > th.primary:hover,
.table-hover > tbody > tr.primary:hover > td,
.table-hover > tbody > tr:hover > .primary,
.table-hover > tbody > tr.primary:hover > th {
  background-color: #7da5bd;
}


/* Info coloring. */
/* Equivalent to `aqua`. */
.table > thead > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tfoot > tr.info > th {
  color: #333;
  background-color: #00c0ef;
}
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tbody > tr.info > td,
.table > tbody > tr.info > th {
  color: #333;
  background-color: #60d3f0;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #78d8f0;
}


/* Success coloring. */
/* Equivalent to `green`. */
.table > thead > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tfoot > tr.success > th {
  color: #fff;
  background-color: #00a65a;
}
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tbody > tr.success > td,
.table > tbody > tr.success > th {
  color: #fff;
  background-color: #42a679;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #53a680;
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
.table > thead > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tfoot > tr.warning > th {
  color: #fff;
  background-color: #f39c12;
}
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th {
  color: #fff;
  background-color: #f2be6b;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #f2c883;
}


/* Danger coloring. */
/* Equivalent to `red`. */
.table > thead > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tfoot > tr.danger > th {
  color: #fff;
  background-color: #dd4b39;
}
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th {
  color: #fff;
  background-color: #de8276;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #de958c;
}


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
.table > thead > tr > td.light-blue,
.table > tfoot > tr > td.light-blue,
.table > thead > tr > th.light-blue,
.table > tfoot > tr > th.light-blue,
.table > thead > tr.light-blue > td,
.table > tfoot > tr.light-blue > td,
.table > thead > tr.light-blue > th,
.table > tfoot > tr.light-blue > th {
  color: #fff;
  background-color: #3c8dbc;
}
.table > tbody > tr > td.light-blue,
.table > tbody > tr > th.light-blue,
.table > tbody > tr.light-blue > td,
.table > tbody > tr.light-blue > th {
  color: #fff;
  background-color: #6a9ebd;
}
.table-hover > tbody > tr > td.light-blue:hover,
.table-hover > tbody > tr > th.light-blue:hover,
.table-hover > tbody > tr.light-blue:hover > td,
.table-hover > tbody > tr:hover > .light-blue,
.table-hover > tbody > tr.light-blue:hover > th {
  background-color: #7da5bd;
}


/* Aqua coloring. */
/* Equivalent to `info`. */
.table > thead > tr > td.aqua,
.table > tfoot > tr > td.aqua,
.table > thead > tr > th.aqua,
.table > tfoot > tr > th.aqua,
.table > thead > tr.aqua > td,
.table > tfoot > tr.aqua > td,
.table > thead > tr.aqua > th,
.table > tfoot > tr.aqua > th {
  color: #333;
  background-color: #00c0ef;
}
.table > tbody > tr > td.aqua,
.table > tbody > tr > th.aqua,
.table > tbody > tr.aqua > td,
.table > tbody > tr.aqua > th {
  color: #333;
  background-color: #60d3f0;
}
.table-hover > tbody > tr > td.aqua:hover,
.table-hover > tbody > tr > th.aqua:hover,
.table-hover > tbody > tr.aqua:hover > td,
.table-hover > tbody > tr:hover > .aqua,
.table-hover > tbody > tr.aqua:hover > th {
  background-color: #78d8f0;
}


/* Green coloring. */
/* Equivalent to `success`. */
.table > thead > tr > td.green,
.table > tfoot > tr > td.green,
.table > thead > tr > th.green,
.table > tfoot > tr > th.green,
.table > thead > tr.green > td,
.table > tfoot > tr.green > td,
.table > thead > tr.green > th,
.table > tfoot > tr.green > th {
  color: #fff;
  background-color: #00a65a;
}
.table > tbody > tr > td.green,
.table > tbody > tr > th.green,
.table > tbody > tr.green > td,
.table > tbody > tr.green > th {
  color: #fff;
  background-color: #42a679;
}
.table-hover > tbody > tr > td.green:hover,
.table-hover > tbody > tr > th.green:hover,
.table-hover > tbody > tr.green:hover > td,
.table-hover > tbody > tr:hover > .green,
.table-hover > tbody > tr.green:hover > th {
  background-color: #53a680;
}


/* Yellow coloring. */
/* Equivalent to `warning`. */
.table > thead > tr > td.yellow,
.table > tfoot > tr > td.yellow,
.table > thead > tr > th.yellow,
.table > tfoot > tr > th.yellow,
.table > thead > tr.yellow > td,
.table > tfoot > tr.yellow > td,
.table > thead > tr.yellow > th,
.table > tfoot > tr.yellow > th {
  color: #fff;
  background-color: #f39c12;
}
.table > tbody > tr > td.yellow,
.table > tbody > tr > th.yellow,
.table > tbody > tr.yellow > td,
.table > tbody > tr.yellow > th {
  color: #fff;
  background-color: #f2be6b;
}
.table-hover > tbody > tr > td.yellow:hover,
.table-hover > tbody > tr > th.yellow:hover,
.table-hover > tbody > tr.yellow:hover > td,
.table-hover > tbody > tr:hover > .yellow,
.table-hover > tbody > tr.yellow:hover > th {
  background-color: #f2c883;
}


/* Red coloring. */
/* Equivalent to `danger`. */
.table > thead > tr > td.red,
.table > tfoot > tr > td.red,
.table > thead > tr > th.red,
.table > tfoot > tr > th.red,
.table > thead > tr.red > td,
.table > tfoot > tr.red > td,
.table > thead > tr.red > th,
.table > tfoot > tr.red > th {
  color: #fff;
  background-color: #dd4b39;
}
.table > tbody > tr > td.red,
.table > tbody > tr > th.red,
.table > tbody > tr.red > td,
.table > tbody > tr.red > th {
  color: #fff;
  background-color: #de8276;
}
.table-hover > tbody > tr > td.red:hover,
.table-hover > tbody > tr > th.red:hover,
.table-hover > tbody > tr.red:hover > td,
.table-hover > tbody > tr:hover > .red,
.table-hover > tbody > tr.red:hover > th {
  background-color: #de958c;
}


/* Navy coloring. */
.table > thead > tr > td.navy,
.table > tfoot > tr > td.navy,
.table > thead > tr > th.navy,
.table > tfoot > tr > th.navy,
.table > thead > tr.navy > td,
.table > tfoot > tr.navy > td,
.table > thead > tr.navy > th,
.table > tfoot > tr.navy > th {
  color: #fff;
  background-color: #001f3f;
}

.table > tbody > tr > td.navy,
.table > tbody > tr > th.navy,
.table > tbody > tr.navy > td,
.table > tbody > tr.navy > th {
  color: #fff;
  background-color: #2d5173;
}
.table-hover > tbody > tr > td.navy:hover,
.table-hover > tbody > tr > th.navy:hover,
.table-hover > tbody > tr.navy:hover > td,
.table-hover > tbody > tr:hover > .navy,
.table-hover > tbody > tr.navy:hover > th {
  background-color: #2d4359;
}


/* Blue coloring. */
.table > thead > tr > td.blue,
.table > tfoot > tr > td.blue,
.table > thead > tr > th.blue,
.table > tfoot > tr > th.blue,
.table > thead > tr.blue > td,
.table > tfoot > tr.blue > td,
.table > thead > tr.blue > th,
.table > tfoot > tr.blue > th {
  color: #fff;
  background-color: #0073b7;
}
.table > tbody > tr > td.blue,
.table > tbody > tr > th.blue,
.table > tbody > tr.blue > td,
.table > tbody > tr.blue > th {
  color: #fff;
  background-color: #498fb8;
}
.table-hover > tbody > tr > td.blue:hover,
.table-hover > tbody > tr > th.blue:hover,
.table-hover > tbody > tr.blue:hover > td,
.table-hover > tbody > tr:hover > .blue,
.table-hover > tbody > tr.blue:hover > th {
  background-color: #5c96b8;
}


/* Teal coloring. */
.table > thead > tr > td.teal,
.table > tfoot > tr > td.teal,
.table > thead > tr > th.teal,
.table > tfoot > tr > th.teal,
.table > thead > tr.teal > td,
.table > tfoot > tr.teal > td,
.table > thead > tr.teal > th,
.table > tfoot > tr.teal > th {
  color: #333;
  background-color: #39cccc;
}
.table > tbody > tr > td.teal,
.table > tbody > tr > th.teal,
.table > tbody > tr.teal > td,
.table > tbody > tr.teal > th {
  color: #333;
  background-color: #6ecccc;
}
.table-hover > tbody > tr > td.teal:hover,
.table-hover > tbody > tr > th.teal:hover,
.table-hover > tbody > tr.teal:hover > td,
.table-hover > tbody > tr:hover > .teal,
.table-hover > tbody > tr.teal:hover > th {
  background-color: #83cccc;
}


/* Olive coloring. */
.table > thead > tr > td.olive,
.table > tfoot > tr > td.olive,
.table > thead > tr > th.olive,
.table > tfoot > tr > th.olive,
.table > thead > tr.olive > td,
.table > tfoot > tr.olive > td,
.table > thead > tr.olive > th,
.table > tfoot > tr.olive > th {
  color: #fff;
  background-color: #3d9970;
}
.table > tbody > tr > td.olive,
.table > tbody > tr > th.olive,
.table > tbody > tr.olive > td,
.table > tbody > tr.olive > th {
  color: #fff;
  background-color: #5c997d;
}
.table-hover > tbody > tr > td.olive:hover,
.table-hover > tbody > tr > th.olive:hover,
.table-hover > tbody > tr.olive:hover > td,
.table-hover > tbody > tr:hover > .olive,
.table-hover > tbody > tr.olive:hover > th {
  background-color: #6b9984;
}

/* Lime coloring. */
.table > thead > tr > td.lime,
.table > tfoot > tr > td.lime,
.table > thead > tr > th.lime,
.table > tfoot > tr > th.lime,
.table > thead > tr.lime > td,
.table > tfoot > tr.lime > td,
.table > thead > tr.lime > th,
.table > tfoot > tr.lime > th {
  color: #333;
  background-color: #01ff70;
}
.table > tbody > tr > td.lime,
.table > tbody > tr > th.lime,
.table > tbody > tr.lime > td,
.table > tbody > tr.lime > th {
  color: #333;
  background-color: #66ffa8;
}
.table-hover > tbody > tr > td.lime:hover,
.table-hover > tbody > tr > th.lime:hover,
.table-hover > tbody > tr.lime:hover > td,
.table-hover > tbody > tr:hover > .lime,
.table-hover > tbody > tr.lime:hover > th {
  background-color: #80ffb7;
}

/* Orange coloring. */
.table > thead > tr > td.orange,
.table > tfoot > tr > td.orange,
.table > thead > tr > th.orange,
.table > tfoot > tr > th.orange,
.table > thead > tr.orange > td,
.table > tfoot > tr.orange > td,
.table > thead > tr.orange > th,
.table > tfoot > tr.orange > th {
  color: #fff;
  background-color: #ff851b;
}
.table > tbody > tr > td.orange,
.table > tbody > tr > th.orange,
.table > tbody > tr.orange > td,
.table > tbody > tr.orange > th {
  color: #fff;
  background-color: #ffb16c;
}
.table-hover > tbody > tr > td.orange:hover,
.table-hover > tbody > tr > th.orange:hover,
.table-hover > tbody > tr.orange:hover > td,
.table-hover > tbody > tr:hover > .orange,
.table-hover > tbody > tr.orange:hover > th {
  background-color: #f7bd8a;
}


/* Fuchsia coloring. */
.table > thead > tr > td.fuchsia,
.table > tfoot > tr > td.fuchsia,
.table > thead > tr > th.fuchsia,
.table > tfoot > tr > th.fuchsia,
.table > thead > tr.fuchsia > td,
.table > tfoot > tr.fuchsia > td,
.table > thead > tr.fuchsia > th,
.table > tfoot > tr.fuchsia > th {
  color: #fff;
  background-color: #f012be;
}
.table > tbody > tr > td.fuchsia,
.table > tbody > tr > th.fuchsia,
.table > tbody > tr.fuchsia > td,
.table > tbody > tr.fuchsia > th {
  color: #fff;
  background-color: #f069d0;
}
.table-hover > tbody > tr > td.fuchsia:hover,
.table-hover > tbody > tr > th.fuchsia:hover,
.table-hover > tbody > tr.fuchsia:hover > td,
.table-hover > tbody > tr:hover > .fuchsia,
.table-hover > tbody > tr.fuchsia:hover > th {
  background-color: #f081d6;
}


/* Indigo coloring. */
.table > thead > tr > td.indigo,
.table > tfoot > tr > td.indigo,
.table > thead > tr > th.indigo,
.table > tfoot > tr > th.indigo,
.table > thead > tr.indigo > td,
.table > tfoot > tr.indigo > td,
.table > thead > tr.indigo > th,
.table > tfoot > tr.indigo > th {
  color: #fff;
  background-color: #a35cd8;
}
.table > tbody > tr > td.indigo,
.table > tbody > tr > th.indigo,
.table > tbody > tr.indigo > td,
.table > tbody > tr.indigo > th {
  color: #fff;
  background-color: #b586d9;
}
.table-hover > tbody > tr > td.indigo:hover,
.table-hover > tbody > tr > th.indigo:hover,
.table-hover > tbody > tr.indigo:hover > td,
.table-hover > tbody > tr:hover > .indigo,
.table-hover > tbody > tr.indigo:hover > th {
  background-color: #be9cd9;
}


/* Purple coloring. */
.table > thead > tr > td.purple,
.table > tfoot > tr > td.purple,
.table > thead > tr > th.purple,
.table > tfoot > tr > th.purple,
.table > thead > tr.purple > td,
.table > tfoot > tr.purple > td,
.table > thead > tr.purple > th,
.table > tfoot > tr.purple > th {
  color: #fff;
  background-color: #605ca8;
}
.table > tbody > tr > td.purple,
.table > tbody > tr > th.purple,
.table > tbody > tr.purple > td,
.table > tbody > tr.purple > th {
  color: #fff;
  background-color: #a09afc;
}
.table-hover > tbody > tr > td.purple:hover,
.table-hover > tbody > tr > th.purple:hover,
.table-hover > tbody > tr.purple:hover > td,
.table-hover > tbody > tr:hover > .purple,
.table-hover > tbody > tr.purple:hover > th {
  background-color: #b9b6f7;
}


/* Maroon coloring. */
.table > thead > tr > td.maroon,
.table > tfoot > tr > td.maroon,
.table > thead > tr > th.maroon,
.table > tfoot > tr > th.maroon,
.table > thead > tr.maroon > td,
.table > tfoot > tr.maroon > td,
.table > thead > tr.maroon > th,
.table > tfoot > tr.maroon > th {
  color: #fff;
  background-color: #d81b60;
}
.table > tbody > tr > td.maroon,
.table > tbody > tr > th.maroon,
.table > tbody > tr.maroon > td,
.table > tbody > tr.maroon > th {
  color: #fff;
  background-color: #d9648f;
}
.table-hover > tbody > tr > td.maroon:hover,
.table-hover > tbody > tr > th.maroon:hover,
.table-hover > tbody > tr.maroon:hover > td,
.table-hover > tbody > tr:hover > .maroon,
.table-hover > tbody > tr.maroon:hover > th {
  background-color: #d9799c;
}


/* Gray coloring. */
.table > thead > tr > td.gray,
.table > tfoot > tr > td.gray,
.table > thead > tr > th.gray,
.table > tfoot > tr > th.gray,
.table > thead > tr.gray > td,
.table > tfoot > tr.gray > td,
.table > thead > tr.gray > th,
.table > tfoot > tr.gray > th {
  color: #333;
  background-color: #d2d6de;
}
.table > tbody > tr > td.gray,
.table > tbody > tr > th.gray,
.table > tbody > tr.gray > td,
.table > tbody > tr.gray > th {
  color: #333;
  background-color: #d2d6de;
}
.table-hover > tbody > tr > td.gray:hover,
.table-hover > tbody > tr > th.gray:hover,
.table-hover > tbody > tr.gray:hover > td,
.table-hover > tbody > tr:hover > .gray,
.table-hover > tbody > tr.gray:hover > th {
  background-color: #d2d6de;
}


/* Black coloring. */
.table > thead > tr > td.black,
.table > tfoot > tr > td.black,
.table > thead > tr > th.black,
.table > tfoot > tr > th.black,
.table > thead > tr.black > td,
.table > tfoot > tr.black > td,
.table > thead > tr.black > th,
.table > tfoot > tr.black > th {
  color: #fff;
  background-color: #111111;
}
.table > tbody > tr > td.black,
.table > tbody > tr > th.black,
.table > tbody > tr.black > td,
.table > tbody > tr.black > th {
  color: #fff;
  background-color: #454545;
}
.table-hover > tbody > tr > td.black:hover,
.table-hover > tbody > tr > th.black:hover,
.table-hover > tbody > tr.black:hover > td,
.table-hover > tbody > tr:hover > .black,
.table-hover > tbody > tr.black:hover > th {
  background-color: #2b2b2b;
}
