/**
 * Extra coloring CSS for AdminLte `tooltip` elements.
 */


/**
 * Implement existing AdminLte color terms (warning, info, danger, etc).
 * AdminLte already had the equivalent via colors (yellow, red, etc),
 * but this allows using these terms to do the same as well.
 */


/* Default coloring. */
.tooltip + .tooltip.top .tooltip-arrow,
.tooltip.top .tooltip-arrow,
.tooltip-default + .tooltip.top .tooltip-arrow,
.tooltip-default.tooltip.top .tooltip-arrow {
    border-top-color: var(--default-base-color);
}
.tooltip + .tooltip.bottom .tooltip-arrow,
.tooltip.bottom .tooltip-arrow,
.tooltip-default + .tooltip.bottom .tooltip-arrow,
.tooltip-default.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--default-base-color);
}
.tooltip + .tooltip.left .tooltip-arrow,
.tooltip.left .tooltip-arrow,
.tooltip-default + .tooltip.left .tooltip-arrow,
.tooltip-default.tooltip.left .tooltip-arrow {
    border-left-color: var(--default-base-color);
}
.tooltip + .tooltip.right .tooltip-arrow,
.tooltip.right .tooltip-arrow,
.tooltip-default + .tooltip.right .tooltip-arrow,
.tooltip-default.tooltip.right .tooltip-arrow {
    border-right-color: var(--default-base-color);
}
.tooltip + .tooltip > .tooltip-inner,
.tooltip > .tooltip-inner,
.tooltip-default + .tooltip > .tooltip-inner,
.tooltip-default.tooltip > .tooltip-inner {
    color: var(--default-text-color);
    background-color: var(--default-base-color);
    border-color: var(--default-base-color);
}


/* Primary coloring. */
/* Equivalent to `light-blue`. */
.tooltip-primary + .tooltip.top .tooltip-arrow,
.tooltip-primary.tooltip.top .tooltip-arrow {
    border-top-color: var(--primary-base-color);
}
.tooltip-primary + .tooltip.bottom .tooltip-arrow,
.tooltip-primary.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--primary-base-color);
}
.tooltip-primary + .tooltip.left .tooltip-arrow,
.tooltip-primary.tooltip.left .tooltip-arrow {
    border-left-color: var(--primary-base-color);
}
.tooltip-primary + .tooltip.right .tooltip-arrow,
.tooltip-primary.tooltip.right .tooltip-arrow {
    border-right-color: var(--primary-base-color);
}
.tooltip-primary + .tooltip > .tooltip-inner,
.tooltip-primary.tooltip > .tooltip-inner {
    color: var(--primary-text-color);
    background-color: var(--primary-base-color);
    border-color: var(--primary-base-color);
}


/* Info coloring. */
/* Equivalent to `aqua`. */
.tooltip-info + .tooltip.top .tooltip-arrow,
.tooltip-info.tooltip.top .tooltip-arrow {
    border-top-color: var(--info-base-color);
}
.tooltip-info + .tooltip.bottom .tooltip-arrow,
.tooltip-info.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--info-base-color);
}
.tooltip-info + .tooltip.left .tooltip-arrow,
.tooltip-info.tooltip.left .tooltip-arrow {
    border-left-color: var(--info-base-color);
}
.tooltip-info + .tooltip.right .tooltip-arrow,
.tooltip-info.tooltip.right .tooltip-arrow {
    border-right-color: var(--info-base-color);
}
.tooltip-info + .tooltip > .tooltip-inner,
.tooltip-info.tooltip > .tooltip-inner {
    color: var(--info-text-color);
    background-color: var(--info-base-color);
    border-color: var(--info-base-color);
}


/* Success coloring. */
/* Equivalent to `green`. */
.tooltip-success + .tooltip.top .tooltip-arrow,
.tooltip-success.tooltip.top .tooltip-arrow {
    border-top-color: var(--success-base-color);
}
.tooltip-success + .tooltip.bottom .tooltip-arrow,
.tooltip-success.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--success-base-color);
}
.tooltip-success + .tooltip.left .tooltip-arrow,
.tooltip-success.tooltip.left .tooltip-arrow {
    border-left-color: var(--success-base-color);
}
.tooltip-success + .tooltip.right .tooltip-arrow,
.tooltip-success.tooltip.right .tooltip-arrow {
    border-right-color: var(--success-base-color);
}
.tooltip-success + .tooltip > .tooltip-inner,
.tooltip-success.tooltip > .tooltip-inner {
    color: var(--success-text-color);
    background-color: var(--success-base-color);
    border-color: var(--success-base-color);
}


/* Warning coloring. */
/* Equivalent to `yellow`. */
.tooltip-warning + .tooltip.top .tooltip-arrow,
.tooltip-warning.tooltip.top .tooltip-arrow {
    border-top-color: var(--warning-base-color);
}
.tooltip-warning + .tooltip.bottom .tooltip-arrow,
.tooltip-warning.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--warning-base-color);
}
.tooltip-warning + .tooltip.left .tooltip-arrow,
.tooltip-warning.tooltip.left .tooltip-arrow {
    border-left-color: var(--warning-base-color);
}
.tooltip-warning + .tooltip.right .tooltip-arrow,
.tooltip-warning.tooltip.right .tooltip-arrow {
    border-right-color: var(--warning-base-color);
}
.tooltip-warning + .tooltip > .tooltip-inner,
.tooltip-warning.tooltip > .tooltip-inner {
    color: var(--warning-text-color);
    background-color: var(--warning-base-color);
    border-color: var(--warning-base-color);
}


/* Danger coloring. */
/* Equivalent to `red`. */
.tooltip-danger + .tooltip.top .tooltip-arrow,
.tooltip-danger.tooltip.top .tooltip-arrow {
    border-top-color: var(--danger-base-color);
}
.tooltip-danger + .tooltip.bottom .tooltip-arrow,
.tooltip-danger.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--danger-base-color);
}
.tooltip-danger + .tooltip.left .tooltip-arrow,
.tooltip-danger.tooltip.left .tooltip-arrow {
    border-left-color: var(--danger-base-color);
}
.tooltip-danger + .tooltip.right .tooltip-arrow,
.tooltip-danger.tooltip.right .tooltip-arrow {
    border-right-color: var(--danger-base-color);
}
.tooltip-danger + .tooltip > .tooltip-inner,
.tooltip-danger.tooltip > .tooltip-inner {
    color: var(--danger-text-color);
    background-color: var(--danger-base-color);
    border-color: var(--danger-base-color);
}


/**
 * Implement additional Bootstrap colors for AdminLte stylings.
 */

/* Light-blue coloring. */
/* Equivalent to `primary`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.tooltip-light-blue + .tooltip.top .tooltip-arrow,
.tooltip-light-blue.tooltip.top .tooltip-arrow {
    border-top-color: var(--light-blue-base-color);
}
.tooltip-light-blue + .tooltip.bottom .tooltip-arrow,
.tooltip-light-blue.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--light-blue-base-color);
}
.tooltip-light-blue + .tooltip.left .tooltip-arrow,
.tooltip-light-blue.tooltip.left .tooltip-arrow {
    border-left-color: var(--light-blue-base-color);
}
.tooltip-light-blue + .tooltip.right .tooltip-arrow,
.tooltip-light-blue.tooltip.right .tooltip-arrow {
    border-right-color: var(--light-blue-base-color);
}
.tooltip-light-blue + .tooltip > .tooltip-inner,
.tooltip-light-blue.tooltip > .tooltip-inner {
    color: var(--light-blue-text-color);
    background-color: var(--light-blue-base-color);
    border-color: var(--light-blue-base-color);
}


/* Aqua coloring. */
/* Equivalent to `info`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.tooltip-aqua + .tooltip.top .tooltip-arrow,
.tooltip-aqua.tooltip.top .tooltip-arrow {
    border-top-color: var(--aqua-base-color);
}
.tooltip-aqua + .tooltip.bottom .tooltip-arrow,
.tooltip-aqua.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--aqua-base-color);
}
.tooltip-aqua + .tooltip.left .tooltip-arrow,
.tooltip-aqua.tooltip.left .tooltip-arrow {
    border-left-color: var(--aqua-base-color);
}
.tooltip-aqua + .tooltip.right .tooltip-arrow,
.tooltip-aqua.tooltip.right .tooltip-arrow {
    border-right-color: var(--aqua-base-color);
}
.tooltip-aqua + .tooltip > .tooltip-inner,
.tooltip-aqua.tooltip > .tooltip-inner {
    color: var(--aqua-text-color);
    background-color: var(--aqua-base-color);
    border-color: var(--aqua-base-color);
}


/* Green coloring. */
/* Equivalent to `success`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.tooltip-green + .tooltip.top .tooltip-arrow,
.tooltip-green.tooltip.top .tooltip-arrow {
    border-top-color: var(--green-base-color);
}
.tooltip-green + .tooltip.bottom .tooltip-arrow,
.tooltip-green.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--green-base-color);
}
.tooltip-green + .tooltip.left .tooltip-arrow,
.tooltip-green.tooltip.left .tooltip-arrow {
    border-left-color: var(--green-base-color);
}
.tooltip-green + .tooltip.right .tooltip-arrow,
.tooltip-green.tooltip.right .tooltip-arrow {
    border-right-color: var(--green-base-color);
}
.tooltip-green + .tooltip > .tooltip-inner,
.tooltip-green.tooltip > .tooltip-inner {
    color: var(--green-text-color);
    background-color: var(--green-base-color);
    border-color: var(--green-base-color);
}


/* Yellow coloring. */
/* Equivalent to `warning`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.tooltip-yellow + .tooltip.top .tooltip-arrow,
.tooltip-yellow.tooltip.top .tooltip-arrow {
    border-top-color: var(--yellow-base-color);
}
.tooltip-yellow + .tooltip.bottom .tooltip-arrow,
.tooltip-yellow.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--yellow-base-color);
}
.tooltip-yellow + .tooltip.left .tooltip-arrow,
.tooltip-yellow.tooltip.left .tooltip-arrow {
    border-left-color: var(--yellow-base-color);
}
.tooltip-yellow + .tooltip.right .tooltip-arrow,
.tooltip-yellow.tooltip.right .tooltip-arrow {
    border-right-color: var(--yellow-base-color);
}
.tooltip-yellow + .tooltip > .tooltip-inner,
.tooltip-yellow.tooltip > .tooltip-inner {
    color: var(--yellow-text-color);
    background-color: var(--yellow-base-color);
    border-color: var(--yellow-base-color);
}


/* Red coloring. */
/* Equivalent to `danger`. */
/* Already implemented by AdminLte, but redefined again here to guarantee package consistency. */
.tooltip-red + .tooltip.top .tooltip-arrow,
.tooltip-red.tooltip.top .tooltip-arrow {
    border-top-color: var(--red-base-color);
}
.tooltip-red + .tooltip.bottom .tooltip-arrow,
.tooltip-red.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--red-base-color);
}
.tooltip-red + .tooltip.left .tooltip-arrow,
.tooltip-red.tooltip.left .tooltip-arrow {
    border-left-color: var(--red-base-color);
}
.tooltip-red + .tooltip.right .tooltip-arrow,
.tooltip-red.tooltip.right .tooltip-arrow {
    border-right-color: var(--red-base-color);
}
.tooltip-red + .tooltip > .tooltip-inner,
.tooltip-red.tooltip > .tooltip-inner {
    color: var(--red-text-color);
    background-color: var(--red-base-color);
    border-color: var(--red-base-color);
}


/* Navy coloring. */
.tooltip-navy + .tooltip.top .tooltip-arrow,
.tooltip-navy.tooltip.top .tooltip-arrow {
    border-top-color: var(--navy-base-color);
}
.tooltip-navy + .tooltip.bottom .tooltip-arrow,
.tooltip-navy.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--navy-base-color);
}
.tooltip-navy + .tooltip.left .tooltip-arrow,
.tooltip-navy.tooltip.left .tooltip-arrow {
    border-left-color: var(--navy-base-color);
}
.tooltip-navy + .tooltip.right .tooltip-arrow,
.tooltip-navy.tooltip.right .tooltip-arrow {
    border-right-color: var(--navy-base-color);
}
.tooltip-navy + .tooltip > .tooltip-inner,
.tooltip-navy.tooltip > .tooltip-inner {
    color: var(--navy-text-color);
    background-color: var(--navy-base-color);
    border-color: var(--navy-base-color);
}


/* Blue coloring. */
.tooltip-blue + .tooltip.top .tooltip-arrow,
.tooltip-blue.tooltip.top .tooltip-arrow {
    border-top-color: var(--blue-base-color);
}
.tooltip-blue + .tooltip.bottom .tooltip-arrow,
.tooltip-blue.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--blue-base-color);
}
.tooltip-blue + .tooltip.left .tooltip-arrow,
.tooltip-blue.tooltip.left .tooltip-arrow {
    border-left-color: var(--blue-base-color);
}
.tooltip-blue + .tooltip.right .tooltip-arrow,
.tooltip-blue.tooltip.right .tooltip-arrow {
    border-right-color: var(--blue-base-color);
}
.tooltip-blue + .tooltip > .tooltip-inner,
.tooltip-blue.tooltip > .tooltip-inner {
    color: var(--blue-text-color);
    background-color: var(--blue-base-color);
    border-color: var(--blue-base-color);
}


/* Teal coloring. */
.tooltip-teal + .tooltip.top .tooltip-arrow,
.tooltip-teal.tooltip.top .tooltip-arrow {
    border-top-color: var(--teal-base-color);
}
.tooltip-teal + .tooltip.bottom .tooltip-arrow,
.tooltip-teal.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--teal-base-color);
}
.tooltip-teal + .tooltip.left .tooltip-arrow,
.tooltip-teal.tooltip.left .tooltip-arrow {
    border-left-color: var(--teal-base-color);
}
.tooltip-teal + .tooltip.right .tooltip-arrow,
.tooltip-teal.tooltip.right .tooltip-arrow {
    border-right-color: var(--teal-base-color);
}
.tooltip-teal + .tooltip > .tooltip-inner,
.tooltip-teal.tooltip > .tooltip-inner {
    color: var(--teal-text-color);
    background-color: var(--teal-base-color);
    border-color: var(--teal-base-color);
}


/* Olive coloring. */
.tooltip-olive + .tooltip.top .tooltip-arrow,
.tooltip-olive.tooltip.top .tooltip-arrow {
    border-top-color: var(--olive-base-color);
}
.tooltip-olive + .tooltip.bottom .tooltip-arrow,
.tooltip-olive.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--olive-base-color);
}
.tooltip-olive + .tooltip.left .tooltip-arrow,
.tooltip-olive.tooltip.left .tooltip-arrow {
    border-left-color: var(--olive-base-color);
}
.tooltip-olive + .tooltip.right .tooltip-arrow,
.tooltip-olive.tooltip.right .tooltip-arrow {
    border-right-color: var(--olive-base-color);
}
.tooltip-olive + .tooltip > .tooltip-inner,
.tooltip-olive.tooltip > .tooltip-inner {
    color: var(--olive-text-color);
    background-color: var(--olive-base-color);
    border-color: var(--olive-base-color);
}


/* Lime coloring. */
.tooltip-lime + .tooltip.top .tooltip-arrow,
.tooltip-lime.tooltip.top .tooltip-arrow {
    border-top-color: var(--lime-base-color);
}
.tooltip-lime + .tooltip.bottom .tooltip-arrow,
.tooltip-lime.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--lime-base-color);
}
.tooltip-lime + .tooltip.left .tooltip-arrow,
.tooltip-lime.tooltip.left .tooltip-arrow {
    border-left-color: var(--lime-base-color);
}
.tooltip-lime + .tooltip.right .tooltip-arrow,
.tooltip-lime.tooltip.right .tooltip-arrow {
    border-right-color: var(--lime-base-color);
}
.tooltip-lime + .tooltip > .tooltip-inner,
.tooltip-lime.tooltip > .tooltip-inner {
    color: var(--lime-text-color);
    background-color: var(--lime-base-color);
    border-color: var(--lime-base-color);
}


/* Orange coloring. */
.tooltip-orange + .tooltip.top .tooltip-arrow,
.tooltip-orange.tooltip.top .tooltip-arrow {
    border-top-color: var(--orange-base-color);
}
.tooltip-orange + .tooltip.bottom .tooltip-arrow,
.tooltip-orange.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--orange-base-color);
}
.tooltip-orange + .tooltip.left .tooltip-arrow,
.tooltip-orange.tooltip.left .tooltip-arrow {
    border-left-color: var(--orange-base-color);
}
.tooltip-orange + .tooltip.right .tooltip-arrow,
.tooltip-orange.tooltip.right .tooltip-arrow {
    border-right-color: var(--orange-base-color);
}
.tooltip-orange + .tooltip > .tooltip-inner,
.tooltip-orange.tooltip > .tooltip-inner {
    color: var(--orange-text-color);
    background-color: var(--orange-base-color);
    border-color: var(--orange-base-color);
}


/* Fuchsia coloring. */
.tooltip-fuchsia + .tooltip.top .tooltip-arrow,
.tooltip-fuchsia.tooltip.top .tooltip-arrow {
    border-top-color: var(--fuchsia-base-color);
}
.tooltip-fuchsia + .tooltip.bottom .tooltip-arrow,
.tooltip-fuchsia.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--fuchsia-base-color);
}
.tooltip-fuchsia + .tooltip.left .tooltip-arrow,
.tooltip-fuchsia.tooltip.left .tooltip-arrow {
    border-left-color: var(--fuchsia-base-color);
}
.tooltip-fuchsia + .tooltip.right .tooltip-arrow,
.tooltip-fuchsia.tooltip.right .tooltip-arrow {
    border-right-color: var(--fuchsia-base-color);
}
.tooltip-fuchsia + .tooltip > .tooltip-inner,
.tooltip-fuchsia.tooltip > .tooltip-inner {
    color: var(--fuchsia-text-color);
    background-color: var(--fuchsia-base-color);
    border-color: var(--fuchsia-base-color);
}


/* Indigo coloring. */
.tooltip-indigo + .tooltip.top .tooltip-arrow,
.tooltip-indigo.tooltip.top .tooltip-arrow {
    border-top-color: var(--indigo-base-color);
}
.tooltip-indigo + .tooltip.bottom .tooltip-arrow,
.tooltip-indigo.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--indigo-base-color);
}
.tooltip-indigo + .tooltip.left .tooltip-arrow,
.tooltip-indigo.tooltip.left .tooltip-arrow {
    border-left-color: var(--indigo-base-color);
}
.tooltip-indigo + .tooltip.right .tooltip-arrow,
.tooltip-indigo.tooltip.right .tooltip-arrow {
    border-right-color: var(--indigo-base-color);
}
.tooltip-indigo + .tooltip > .tooltip-inner,
.tooltip-indigo.tooltip > .tooltip-inner {
    color: var(--indigo-text-color);
    background-color: var(--indigo-base-color);
    border-color: var(--indigo-base-color);
}


/* Purple coloring. */
.tooltip-purple + .tooltip.top .tooltip-arrow,
.tooltip-purple.tooltip.top .tooltip-arrow {
    border-top-color: var(--purple-base-color);
}
.tooltip-purple + .tooltip.bottom .tooltip-arrow,
.tooltip-purple.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--purple-base-color);
}
.tooltip-purple + .tooltip.left .tooltip-arrow,
.tooltip-purple.tooltip.left .tooltip-arrow {
    border-left-color: var(--purple-base-color);
}
.tooltip-purple + .tooltip.right .tooltip-arrow,
.tooltip-purple.tooltip.right .tooltip-arrow {
    border-right-color: var(--purple-base-color);
}
.tooltip-purple + .tooltip > .tooltip-inner,
.tooltip-purple.tooltip > .tooltip-inner {
    color: var(--purple-text-color);
    background-color: var(--purple-base-color);
    border-color: var(--purple-base-color);
}


/* Maroon coloring. */
.tooltip-maroon + .tooltip.top .tooltip-arrow,
.tooltip-maroon.tooltip.top .tooltip-arrow {
    border-top-color: var(--maroon-base-color);
}
.tooltip-maroon + .tooltip.bottom .tooltip-arrow,
.tooltip-maroon.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--maroon-base-color);
}
.tooltip-maroon + .tooltip.left .tooltip-arrow,
.tooltip-maroon.tooltip.left .tooltip-arrow {
    border-left-color: var(--maroon-base-color);
}
.tooltip-maroon + .tooltip.right .tooltip-arrow,
.tooltip-maroon.tooltip.right .tooltip-arrow {
    border-right-color: var(--maroon-base-color);
}
.tooltip-maroon + .tooltip > .tooltip-inner,
.tooltip-maroon.tooltip > .tooltip-inner {
    color: var(--maroon-text-color);
    background-color: var(--maroon-base-color);
    border-color: var(--maroon-base-color);
}


/* Gray coloring. */
.tooltip-gray + .tooltip.top .tooltip-arrow,
.tooltip-gray.tooltip.top .tooltip-arrow {
    border-top-color: var(--gray-base-color);
}
.tooltip-gray + .tooltip.bottom .tooltip-arrow,
.tooltip-gray.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--gray-base-color);
}
.tooltip-gray + .tooltip.left .tooltip-arrow,
.tooltip-gray.tooltip.left .tooltip-arrow {
    border-left-color: var(--gray-base-color);
}
.tooltip-gray + .tooltip.right .tooltip-arrow,
.tooltip-gray.tooltip.right .tooltip-arrow {
    border-right-color: var(--gray-base-color);
}
.tooltip-gray + .tooltip > .tooltip-inner,
.tooltip-gray.tooltip > .tooltip-inner {
    color: var(--gray-text-color);
    background-color: var(--gray-base-color);
    border-color: var(--gray-base-color);
}


/* Black coloring. */
.tooltip-black + .tooltip.top .tooltip-arrow,
.tooltip-black.tooltip.top .tooltip-arrow {
    border-top-color: var(--black-base-color);
}
.tooltip-black + .tooltip.bottom .tooltip-arrow,
.tooltip-black.tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--black-base-color);
}
.tooltip-black + .tooltip.left .tooltip-arrow,
.tooltip-black.tooltip.left .tooltip-arrow {
    border-left-color: var(--black-base-color);
}
.tooltip-black + .tooltip.right .tooltip-arrow,
.tooltip-black.tooltip.right .tooltip-arrow {
    border-right-color: var(--black-base-color);
}
.tooltip-black + .tooltip > .tooltip-inner,
.tooltip-black.tooltip > .tooltip-inner {
    color: var(--black-text-color);
    background-color: var(--black-base-color);
    border-color: var(--black-base-color);
}
