###
 # Python Package Declarations for Documentation.
 ##

# Ensure main dependencies exist
-r ../requirements.txt

sphinx                      # Core package to build project docs.
sphinx-autobuild            # Additional Sphinx logic to autobuild from project code documentation.
sphinx-rtd-theme            # Additional Sphinx logic for building with standard ReadTheDocs theme.
