{% extends "adminlte2/base.html" %}
{% load i18n %}


{% block breadcrumbs %}
  <ol class="breadcrumb">
    {% include "admin/partials/_breadcrumb_home.html" %}
    <li>
      {% trans 'Demo CSS' %}
    </li>
  </ol>
{% endblock breadcrumbs %}


{% block content %}
  <h1>Demo CSS</h1>

  {# Dropdown Menus #}
  {% include 'adminlte2/demo_css/dropdown_menus.html' with bootstrap_types=bootstrap_types %}

  {# Anchor Buttons #}
  {% include 'adminlte2/demo_css/anchor_buttons.html' with bootstrap_types=bootstrap_types %}

  {# Buttons #}
  {% include 'adminlte2/demo_css/buttons.html' with bootstrap_types=bootstrap_types %}

  {# Labels #}
  {% include 'adminlte2/demo_css/labels.html' with bootstrap_types=bootstrap_types %}

  {# Tooltips #}

  {# Boxes #}
  {% include 'adminlte2/demo_css/boxes.html' with bootstrap_types=bootstrap_types %}

  {# Solid Boxes #}
  {% include 'adminlte2/demo_css/solid_boxes.html' with bootstrap_types=bootstrap_types %}

  {# Alerts and Callouts #}
  {% include 'adminlte2/demo_css/alerts_and_callouts.html' with bootstrap_types=bootstrap_types %}

  {# Modal Launch Buttons #}
  {% include 'adminlte2/demo_css/modal_launch_buttons.html' with bootstrap_types=bootstrap_types %}

  {# Tables #}
  {% include 'adminlte2/demo_css/tables.html' with bootstrap_types=bootstrap_types %}

{% endblock content %}


{% block modals %}

  {# Modal Popups #}
  {% include 'adminlte2/demo_css/modal_popups.html' with bootstrap_types=bootstrap_types %}

{% endblock modals %}
