{% extends "adminlte2/base.html" %}
{% load i18n adminlte_tags %}
{% block breadcrumbs %}
  <ol class="breadcrumb">
    {% include "admin/partials/_breadcrumb_home.html" %}
    <li>
      {% trans 'Sample Form' %}
    </li>
  </ol>
{% endblock breadcrumbs %}
{% block content %}
  <h1>This is the sample form page!</h1>
  <form class="form">
    {% csrf_token %}
    {% render_form form %}
    {% render_horizontal_formset formset 'Sample Formset' %}
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
{% endblock content %}
