/* Handle any CSS conflicts between the various libraries */

/*
The django admin css applies a blanket square style to 'ul li',
this messes with our dropdown menus.
*/
ul.dropdown-menu li,
ul.treeview-menu li {
    list-style: none;
    padding: initial;
}

/* Fix datepickers in admin */
.calendarbox, .clockbox {
    z-index: 900;
}

/*
Fix headers to remove the django base css
*/
h1 {
    margin: 0;
    font-weight: 500;
    color: inherit;
}

/*
Fix headers in modals on admin pages
*/
h4.modal-title {
    font-size: initial;
}

/*
Prevent label-success green from blending in with navbar green.
*/
.skin-green-light .main-header .navbar .label-success {
    /* background-color: white !important;
    color: #00a65a !important; */
    /* font-size: 1em !important; */
    border: 1px solid white;
}

/*
Fix extra padding added to nav-bar header from base.css
*/
ul.nav > li,
ul.nav-bar-nav > li {
    padding: 0;
}

/*
Fix error lists so that the default is not have a style or margin
*/
.error-list > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Show scrollbars if form too wide */
fieldset.module {
    overflow: auto;
}

/*
Show form errors for checkboxes too.
(Based on '.form-group.has-error .help-block')
*/
.checkbox.has-error .help-block,
.checkbox.has-error label {
    color: #dd4b39;
}

/*
Fix error in content with content-main div
*/
#content-main {
    float: none;
}

/*
Put object tools closer to the filter so it doesn't clash with other elements.
*/
.object-tools {
    margin-top: 0px;
    position: inherit;
    margin:  0 15px 15px 15px;
}

/*
Fix error in delete button where it was not tall enough
*/
.submit-row a.deletelink {
    height: auto;
    color: #fff;
}

.delete-confirmation form a.cancel-link {
    height: auto;
}

/*
Fix color on links that are styled as buttons
*/
a.btn-default {
    color:#444;
}

/*
Fix color on links that are styled as alerts
*/
.alert a:link,
.alert a:visited {
    color: #fff;
    text-decoration: underline;
}

/*
Bootstrap has a class 'collapse' that hides the element.
This conflicts with the admin that uses 'collapse' to signify
that an element can be 'collapsed' but isn't always hidden.
*/
.admin-change-form .collapse {
    display: block;
}
/*
For some reason the text that is str(object) for above inlines is cut off
because the height is only 1.1em. I reset it to initial here to fix that.
*/
.inline-group .tabular td.original p {
    height: initial;
}

/*
Prevent tooltip opacity
*/
.tooltip.in {
    opacity: 1;
}

/*
Prevent datepicker from being underneath top headers.
*/
div.datepicker.datepicker-dropdown.dropdown-menu {
    z-index: 1100 !important;
}

@media (max-width: 767px) {
    .selector ul.selector-chooser {
        width: 56px;
    }
}
