/**
 * Extra CSS for general utility classes.
 */


/* Helpful flexbox classes. */
.flex,
.flexbox {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-grow {
    flex: 1;
}

.flex-grow-children > * {
    flex: 1;
}
