{% extends "adminlte2_demo_css/main.html" %}


{% block content_header %}

  <h1>
    Demo CSS
    &nbsp; &#124; &nbsp;
    Boxes
    <small>Preview of Box Elements</small>
  </h1>

  {% block breadcrumbs %}
    {{ block.super }}
  {% endblock breadcrumbs %}

{% endblock content_header %}


{% block content %}

  {# Standard Boxes #}
  <div class="row">
    <div class="col-md-12">
      {% include 'adminlte2_demo_css/partials/boxes_standard.html' %}
    </div>
  </div>

  {# Button Examples within Standard Boxes #}
  <div class="row">
    <div class="col-md-12">
      {% include 'adminlte2_demo_css/partials/boxes_standard_buttons.html' %}
    </div>
  </div>

{% endblock content %}
