{% extends "adminlte2_demo_css/main.html" %}


{% block content_header %}

  <h1>
    Demo CSS
    &nbsp; &#124; &nbsp;
    Boxes
    <small>Preview of Box Elements</small>
  </h1>

  {% block breadcrumbs %}
    {{ block.super }}
  {% endblock breadcrumbs %}

{% endblock content_header %}


{% block content %}

  {# Color Palette #}
  <div class="row">
    <div class="col-md-12">
      {% include 'adminlte2_demo_css/partials/boxes.html' with bootstrap_types=bootstrap_types css_color_hex_keys=css_color_hex_keys %}
    </div>
  </div>

  {# Alerts and Callouts #}
  <div class="row">
    {% include 'adminlte2_demo_css/partials/boxes_solid.html' with bootstrap_types=bootstrap_types %}
  </div>

{% endblock content %}
