{% extends "adminlte2_demo_css/main.html" %}


{% block content_header %}

  <h1>
    Demo CSS
    &nbsp; &#124; &nbsp;
    Tables
    <small>Preview of Table Elements</small>
  </h1>

  {% block breadcrumbs %}
    {{ block.super }}
  {% endblock breadcrumbs %}

{% endblock content_header %}


{% block content %}

  {# Basic Table #}
  <div class="row">
    <div class="col-xs-12">
      {% include 'adminlte2_demo_css/partials/tables_basic.html' %}
    </div>
  </div>

  {# Full Tables #}
  <div class="row">
    <div class="col-xs-12">
      {% include 'adminlte2_demo_css/partials/tables_full.html' %}
    </div>
  </div>

{% endblock content %}


{% block page_javascript_body %}
  {{ block.super }}

  {# Create data tables for our "full table" examples. #}
  <script>
    $(function () {
      {% for bootstrap_type in bootstrap_types %}
        $('#datatable-full-table-{{ bootstrap_type }}').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "order": [],  // Disable initial ordering. Still allows ordering on user click.
          "info": true,
          "autoWidth": false
        });
      {% endfor %}
    });
  </script>

  {# Prevent our table carousel examples from changing if being hovered on. #}
  <script>
    $(function () {
      $('#carousel-basic-table').carousel({
          pause: "hover"
      });
      $('#carousel-full-table').carousel({
          pause: "hover"
      });
    });
  </script>

{% endblock page_javascript_body %}
