{% extends "adminlte2_demo_css/main.html" %}


{% block content_header %}

  <h1>
    Demo CSS
    &nbsp; &#124; &nbsp;
    General UI
    <small>Preview of UI Elements</small>
  </h1>

  {% block breadcrumbs %}
    {{ block.super }}
  {% endblock breadcrumbs %}

{% endblock content_header %}


{% block content %}

  {# Color Palette #}
  <div class="row">
    <div class="col-md-12">
      {% include 'adminlte2_demo_css/partials/color_palette.html' with bootstrap_types=bootstrap_types css_color_hex_keys=css_color_hex_keys %}
    </div>
  </div>

  {# Carousels #}
  <div class="row">
    <div class="col-md-6">

      <div class="box box-default color-palette-box">

        {# Start Box Head #}
        <div class="box-header with-border">

          <i class="fa fa-columns"></i>
          <h3 class="box-title">
            Carousels
          </h3>

          {% include 'adminlte2_demo_css/partials/box_tools.html' %}

        </div>
        {# End Box Head #}

        {# Start Box Body #}
        <div class="box-body">

          {% include 'adminlte2_demo_css/partials/carousels.html' %}

        </div>
        {# End Box Body #}

      </div>

    </div>
  </div>

{% endblock content %}
