{% extends "adminlte2_demo_css/main.html" %}


{% block content_header %}

  <h1>
    Demo CSS
    &nbsp; &#124; &nbsp;
    Widgets
    <small>Preview of Widget Elements</small>
  </h1>

  {% block breadcrumbs %}
    {{ block.super }}
  {% endblock breadcrumbs %}

{% endblock content_header %}


{% block content %}

  <div class="row">

    <div class="box box-default">

      {# Start Box Head #}
      <div class="box-header with-border">

        <i class="fa fa-warning"></i>
        <h3 class="box-title">
          Info Widgets
        </h3>

        {% include 'adminlte2_demo_css/partials/box_tools.html' %}

      </div>
      {# End Box Head #}

      {# Start Box Body #}
      <div class="box-body">

        <div class="col-sm-4">
          {% include 'adminlte2_demo_css/partials/info_boxes_clear.html' %}
        </div>
        <div class="col-sm-4">
          {% include 'adminlte2_demo_css/partials/info_boxes_solid.html' %}
        </div>
        <div class="col-sm-4">
          {% include 'adminlte2_demo_css/partials/small_boxes.html' %}
        </div>
      </div>
      {# End Box Body #}

    </div>

  </div>

  <div class="row">

    <div class="box box-default">

      {# Start Box Head #}
      <div class="box-header with-border">

        <i class="fa fa-warning"></i>
        <h3 class="box-title">
          State Widgets
        </h3>

        {% include 'adminlte2_demo_css/partials/box_tools.html' %}

      </div>
      {# End Box Head #}

      {# Start Box Body #}
      <div class="box-body">
        {% include 'adminlte2_demo_css/partials/state_widgets.html' %}
      </div>
      {# End Box Body #}

    </div>

  </div>

{% endblock content %}
