{# Full-Span-Links #}

<div class="box box-primary">

  {# Start Box Head #}
  <div class="box-header">

    <i class="fa fa-edit"></i>
    &nbsp;
    <h3 class="box-title">Alert Full-Span Links</h3>

    {% include 'adminlte2_demo_css/partials/box_tools.html' %}

  </div>
  {# End Box Head #}

  {# Start Box Body #}
  <div class="box-body pad">

    {# State Widget with full-span-link #}
    <div class="alert alert-primary alert-dismissible">

      {# This is what creates our link. #}
      <a class="full-span-link" href="#"></a>

      <button class="close" type="button" data-dismiss="alert" aria-hidden="true">x</button>
      <h4>
        <i class="fa fa-warning"></i>
        &nbsp;
        Alert with Full-Span link.
      </h4>
      Alert preview. This alert is dismissible.
    </div>
    {# Alert with full-span-link #}

    {# State Widget with full-span-link #}
    <div class="alert alert-navy alert-dismissible">

      {# This is what creates our link. #}
      <a class="full-span-link" href="#"></a>

      <button class="close" type="button" data-dismiss="alert" aria-hidden="true">x</button>
      <h4>
        <i class="fa fa-warning"></i>
        &nbsp;
        Alert with Full-Span link.
      </h4>
      Alert preview. This alert is dismissible.
    </div>
    {# Alert with full-span-link #}

    {# State Widget with full-span-link #}
    <div class="alert alert-blue alert-dismissible">

      {# This is what creates our link. #}
      <a class="full-span-link" href="#"></a>

      <button class="close" type="button" data-dismiss="alert" aria-hidden="true">x</button>
      <h4>
        <i class="fa fa-warning"></i>
        &nbsp;
        Alert with Full-Span link.
      </h4>
      Alert preview. This alert is dismissible.
    </div>
    {# Alert with full-span-link #}

  </div>
  {# End Box Body #}

</div>
