{# Full-Span-Links #}

<div class="box box-primary">

  {# Start Box Head #}
  <div class="box-header">

    <i class="fa fa-edit"></i>
    &nbsp;
    <h3 class="box-title">Callout Full-Span Links</h3>

    {% include 'adminlte2_demo_css/partials/box_tools.html' %}

  </div>
  {# End Box Head #}

  {# Start Box Body #}
  <div class="box-body pad">

    {# Callout Widget with full-span-link #}
    <div class="callout callout-primary">

      {# This is what creates our link. #}
      <a class="full-span-link" href="#"></a>

      <h4>Callout with Full-Span link.</h4>
      <p>
        This is a callout body.
      </p>
    </div>
    {# Callout with full-span-link #}

    {# Callout Widget with full-span-link #}
    <div class="callout callout-navy">

      {# This is what creates our link. #}
      <a class="full-span-link" href="#"></a>

      <h4>Callout with Full-Span link.</h4>
      <p>
        This is a callout body.
      </p>
    </div>
    {# Callout with full-span-link #}

    {# Callout Widget with full-span-link #}
    <div class="callout callout-blue">

      {# This is what creates our link. #}
      <a class="full-span-link" href="#"></a>

      <h4>Callout with Full-Span link.</h4>
      <p>
        This is a callout body.
      </p>
    </div>
    {# Callout with full-span-link #}

  </div>
  {# End Box Body #}

</div>
