{# Full-Span-Links #}

<div class="box box-primary">

  {# Start Box Head #}
  <div class="box-header">

    <i class="fa fa-edit"></i>
    &nbsp;
    <h3 class="box-title">Info-Box Full-Span Links</h3>

    {% include 'adminlte2_demo_css/partials/box_tools.html' %}

  </div>
  {# End Box Head #}

  {# Start Box Body #}
  <div class="box-body pad">

    <div class="col-xs-6">

      {# Info-Box with full-span-link #}
      <div class="info-box bg-primary">

        {# This is what creates our link. #}
        <a href="#" class="full-span-link"></a>

        <span class="info-box-icon">
          <i class="fa fa-envelope-o"></i>
        </span>
        <div class="info-box-content">

          <span class="info-box-text">
            Info-Box with Full-Span-Link
          </span>

          <span class="info-box-number">
            12345
          </span>

          <div class="progress">
            <div
              class="progress-bar"
              style="width: 25%"
            ></div>
          </div>

        </div>

      </div>
      {# End Info-Box with full-span-link #}

    </div>
    <div class="col-xs-6">

      {# Info-Box with full-span-link #}
      <div class="info-box bg-navy">

        {# This is what creates our link. #}
        <a href="#" class="full-span-link"></a>

        <span class="info-box-icon bg-navy">
          <i class="fa fa-envelope-o"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">
            Info-Box with Full-Span-Link
          </span>
          <span class="info-box-number">1,410</span>
          <div class="progress">
            <div
              class="progress-bar"
              style="width: 25%"
            ></div>
          </div>
        </div>
      </div>
      {# End Info-Box with full-span-link #}

    </div>

  </div>
  {# End Box Body #}

</div>
