{# Full-Span-Links #}

<div class="box box-primary">

  {# Start Box Head #}
  <div class="box-header">

    <i class="fa fa-edit"></i>
    &nbsp;
    <h3 class="box-title">Small-Box Full-Span Links</h3>

    {% include 'adminlte2_demo_css/partials/box_tools.html' %}

  </div>
  {# End Box Head #}

  {# Start Box Body #}
  <div class="box-body pad">

    <div class="col-xs-4">

      {# Small-Box with full-span-link #}
      <div class="small-box bg-primary">

        {# This is what creates our link. #}
        <a href="#" class="full-span-link"></a>

        <div class="inner">
          <h3>150</h3>
          <p>Small Box with Full-Span Link</p>
        </div>
        <div class="icon">
          <i class="fa fa-bar-chart"></i>
        </div>
        <div class="small-box-footer">
          Info Here!
        </div>
      </div>
      {# End Small-Box with full-span-link #}

    </div>

    <div class="col-xs-4">

      {# Small-Box with full-span-link #}
      <div class="small-box bg-navy">

        {# This is what creates our link. #}
        <a href="#" class="full-span-link"></a>

        <div class="inner">
          <h3>150</h3>
          <p>Small Box with Full-Span Link</p>
        </div>
        <div class="icon">
          <i class="fa fa-bar-chart"></i>
        </div>
        <div class="small-box-footer">
          Info Here!
        </div>
      </div>
      {# End Small-Box with full-span-link #}

    </div>
    <div class="col-xs-4">

      {# Small-Box with full-span-link #}
      <div class="small-box bg-blue">

        {# This is what creates our link. #}
        <a href="#" class="full-span-link"></a>

        <div class="inner">
          <h3>150</h3>
          <p>Small Box with Full-Span Link</p>
        </div>
        <div class="icon">
          <i class="fa fa-bar-chart"></i>
        </div>
        <div class="small-box-footer">
          Info Here!
        </div>
      </div>
      {# End Small-Box with full-span-link #}

    </div>

  </div>
  {# End Box Body #}

</div>
