{# Full-Span-Links #}

<div class="box box-primary">

  {# Start Box Head #}
  <div class="box-header">

    <i class="fa fa-edit"></i>
    &nbsp;
    <h3 class="box-title">State Widget Full-Span Links</h3>

    {% include 'adminlte2_demo_css/partials/box_tools.html' %}

  </div>
  {# End Box Head #}

  {# Start Box Body #}
  <div class="box-body pad">

    <div class="col-xs-3">

      {# State Widget with full-span-link #}
      <div class="box box-primary box-solid">

        <div class="box-header with-border state-widget">
          <h3 class="box-title">State Widget with Full-Span Link (Body Only)</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>

        <div class="box-body state-widget-body">

          {# This is what creates our link. #}
          <a class="full-span-link" href="#"></a>

          The body of the box.
        </div>

      </div>
      {# State Widget with full-span-link #}

    </div>
    <div class="col-xs-3">

      {# State Widget with full-span-link #}
      <div class="box box-navy box-solid state-widget">

        <div class="box-header with-border">
          <h3 class="box-title">State Widget with Full-Span Link (Full Element)</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>

        <div class="box-body">

          {# This is what creates our link. #}
          <a class="full-span-link" href="#"></a>

          The body of the box.
        </div>

      </div>
      {# State Widget with full-span-link #}

    </div>
    <div class="col-xs-3">

      {# State Widget with full-span-link #}
      <div class="box box-blue box-solid state-widget">

        <div class="box-header with-border">
          <h3 class="box-title">State Widget with Full-Span Link (Body Only)</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>

        <div class="box-body state-widget-body">

          {# This is what creates our link. #}
          <a class="full-span-link" href="#"></a>

          The body of the box.
        </div>

      </div>
      {# State Widget with full-span-link #}

    </div>
    <div class="col-xs-3">

      {# State Widget with full-span-link #}
      <div class="box box-teal box-solid state-widget">

        <div class="box-header with-border">
          <h3 class="box-title">State Widget with Full-Span Link (Full Element)</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>

        <div class="box-body">

          {# This is what creates our link. #}
          <a class="full-span-link" href="#"></a>

          The body of the box.
        </div>

      </div>
      {# State Widget with full-span-link #}

    </div>

  </div>
  {# End Box Body #}

</div>
