{# Block Quotes #}


<div class="col-sm-6">
  <div class="box box-default">

    {# Start Box Head #}
    <div class="box-header with-border">

      <i class="fa fa-text-width"></i>
      <h3 class="box-title">
        Block Quotes
      </h3>

      {% include 'adminlte2_demo_css/partials/box_tools.html' %}

    </div>
    {# End Box Head #}

    {# Start Box Body #}
    <div class="box-body">

      <blockquote>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        </p>
        <small>
          Someone famous in
          <cite title="Source Title">Source Title</cite>
        </small>
      </blockquote>

    </div>
    {# End Box Body #}

  </div>
</div>


<div class="col-sm-6">
  <div class="box box-default">

    {# Start Box Head #}
    <div class="box-header with-border">

      <i class="fa fa-text-width"></i>
      <h3 class="box-title">
        Block Quotes Pulled Right
      </h3>

      {% include 'adminlte2_demo_css/partials/box_tools.html' %}

    </div>
    {# End Box Head #}

    {# Start Box Body #}
    <div class="box-body">

      <blockquote class="pull-right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        </p>
        <small>
          Someone famous in
          <cite title="Source Title">Source Title</cite>
        </small>
      </blockquote>

    </div>
    {# End Box Body #}

  </div>
</div>
