{# Headlines #}


<div class="col-sm-4">
  <div class="box box-default">

    {# Start Box Head #}
    <div class="box-header with-border">

      <i class="fa fa-text-width"></i>
      <h3 class="box-title">
        Headlines
      </h3>

      {% include 'adminlte2_demo_css/partials/box_tools.html' %}

    </div>
    {# End Box Head #}

    {# Start Box Body #}
    <div class="box-body">

      <h1>Bootstrap Heading</h1>
      <h2>Bootstrap Heading</h2>
      <h3>Bootstrap Heading</h3>
      <h4>Bootstrap Heading</h4>
      <h5>Bootstrap Heading</h5>
      <h6>Bootstrap Heading</h6>

    </div>
    {# End Box Body #}

  </div>
</div>


<div class="col-sm-4">
  <div class="box box-default">

    {# Start Box Head #}
    <div class="box-header with-border">

      <i class="fa fa-text-width"></i>
      <h3 class="box-title">
        Centered Headlines
      </h3>

      {% include 'adminlte2_demo_css/partials/box_tools.html' %}

    </div>
    {# End Box Head #}

    {# Start Box Body #}
    <div class="box-body">

      <h1 class="text-center">Bootstrap Heading</h1>
      <h2 class="text-center">Bootstrap Heading</h2>
      <h3 class="text-center">Bootstrap Heading</h3>
      <h4 class="text-center">Bootstrap Heading</h4>
      <h5 class="text-center">Bootstrap Heading</h5>
      <h6 class="text-center">Bootstrap Heading</h6>

    </div>
    {# End Box Body #}

  </div>
</div>


<div class="col-sm-4">
  <div class="box box-default">

    {# Start Box Head #}
    <div class="box-header with-border">

      <i class="fa fa-text-width"></i>
      <h3 class="box-title">
        Headlines Pulled Right
      </h3>

      {% include 'adminlte2_demo_css/partials/box_tools.html' %}

    </div>
    {# End Box Head #}

    {# Start Box Body #}
    <div class="box-body">

      <h1 class="text-right">Bootstrap Heading</h1>
      <h2 class="text-right">Bootstrap Heading</h2>
      <h3 class="text-right">Bootstrap Heading</h3>
      <h4 class="text-right">Bootstrap Heading</h4>
      <h5 class="text-right">Bootstrap Heading</h5>
      <h6 class="text-right">Bootstrap Heading</h6>

    </div>
    {# End Box Body #}

  </div>
</div>
