{# Lists #}


<div class="col-sm-4">
  <div class="box box-default">

    {# Start Box Head #}
    <div class="box-header with-border">

      <i class="fa fa-text-width"></i>
      <h3 class="box-title">
        Unordered List
      </h3>

      {% include 'adminlte2_demo_css/partials/box_tools.html' %}

    </div>
    {# End Box Head #}

    {# Start Box Body #}
    <div class="box-body">

      <ul>
        <li>
          Lorem ipsum dolor sit amet
        </li>
        <li>
          Consectetur adipiscing elit
        </li>
        <li>
          Integer molestie lorem at massa
        </li>
        <li>
          Facilisis in pretium nisl aliquet
        </li>
        <li>
          Nulla volutpat aliquam velit
          <ul>
            <li>
              Phasellus iaculis neque
            </li>
            <li>
              Purus sodales ultricies
            </li>
            <li>
              Vestibulum laoreet porttitor sem
            </li>
            <li>
              Ac tristique libero volutpat at
            </li>
          </ul>
        </li>
        <li>
          Faucibus porta lacus fringilla vel
        </li>
        <li>
          Aenean sit amet erat nunc
        </li>
        <li>
          Eget porttitor lorem
        </li>
      </ul>

    </div>
    {# End Box Body #}

  </div>
</div>


<div class="col-sm-4">
  <div class="box box-default">

    {# Start Box Head #}
    <div class="box-header with-border">

      <i class="fa fa-text-width"></i>
      <h3 class="box-title">
        Ordered List
      </h3>

      {% include 'adminlte2_demo_css/partials/box_tools.html' %}

    </div>
    {# End Box Head #}

    {# Start Box Body #}
    <div class="box-body">

      <ol>
        <li>
          Lorem ipsum dolor sit amet
        </li>
        <li>
          Consectetur adipiscing elit
        </li>
        <li>
          Integer molestie lorem at massa
        </li>
        <li>
          Facilisis in pretium nisl aliquet
        </li>
        <li>
          Nulla volutpat aliquam velit
          <ol>
            <li>
              Phasellus iaculis neque
            </li>
            <li>
              Purus sodales ultricies
            </li>
            <li>
              Vestibulum laoreet porttitor sem
            </li>
            <li>
              Ac tristique libero volutpat at
            </li>
          </ol>
        </li>
        <li>
          Faucibus porta lacus fringilla vel
        </li>
        <li>
          Aenean sit amet erat nunc
        </li>
        <li>
          Eget porttitor lorem
        </li>
      </ol>

    </div>
    {# End Box Body #}

  </div>
</div>


<div class="col-sm-4">
  <div class="box box-default">

    {# Start Box Head #}
    <div class="box-header with-border">

      <i class="fa fa-text-width"></i>
      <h3 class="box-title">
        Unstyled List
      </h3>

      {% include 'adminlte2_demo_css/partials/box_tools.html' %}

    </div>
    {# End Box Head #}

    {# Start Box Body #}
    <div class="box-body">

      <ul class="list-unstyled">
        <li>
          Lorem ipsum dolor sit amet
        </li>
        <li>
          Consectetur adipiscing elit
        </li>
        <li>
          Integer molestie lorem at massa
        </li>
        <li>
          Facilisis in pretium nisl aliquet
        </li>
        <li>
          Nulla volutpat aliquam velit
          <ul>
            <li>
              Phasellus iaculis neque
            </li>
            <li>
              Purus sodales ultricies
            </li>
            <li>
              Vestibulum laoreet porttitor sem
            </li>
            <li>
              Ac tristique libero volutpat at
            </li>
          </ul>
        </li>
        <li>
          Faucibus porta lacus fringilla vel
        </li>
        <li>
          Aenean sit amet erat nunc
        </li>
        <li>
          Eget porttitor lorem
        </li>
      </ul>

    </div>
    {# End Box Body #}

  </div>
</div>
