{% load sidebar_menu %}


{% if allowed %}
  <li class="treeview{% if node.active %} active{% endif %}">
    <a
      {% if node.url %}
        href="{{ node.url }}"
      {% else %}
        href="#"
      {% endif %}
      class="node-link{% if node.class %} {{ node.class }} {% endif %}"
      {% for attr, value in node.attributes.items %}
        {{ attr }}="{{ value }}"
      {% endfor %}
    >
      <i class="{{ node.icon }}"></i>
      <span class="treeview-text" title="{{ node.text }}">{{ node.text }}</span>
      <span class="treeview-caret pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu" {% if add_display_block %}style="display:block;"{% endif %}>
      {% render_nodes node.nodes %}
    </ul>
  </li>
{% endif %}
