{% extends "adminlte2/base.html" %}
{% load i18n static adminlte_helpers %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    {% include "admin/partials/_breadcrumb_home.html" %}
    <li>
      {% trans 'Password change' %}
    </li>
  </ol>
{% endblock breadcrumbs %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block page_name %}
  <h1>
    {{ title }}
  </h1>
{% endblock page_name %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-body">
        <form method="post">
          {% csrf_token %}
          {% if form.errors %}
            <p class="errornote">
              {% if form.errors.items|length == 1 %}
                {% trans "Please correct the error below." %}
              {% else %}
                {% trans "Please correct the errors below." %}
              {% endif %}
            </p>
          {% endif %}
          <p>
            {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
          </p>
          {% render_form form %}
          <div class="col-sm-12">
            <button type="submit" class="btn btn-success">Change my password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
