name: Publish Release
on:
  push:
    tags:
      - "*"
    # branches:
    #   - github_actions

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pipenv
          pipenv install --dev
          echo "Pipenv installed Django version:"
          pipenv run django-admin --version

      - name: build release distributions
        run: |
          pipenv run flit build

      - name: upload release distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: release
      url: https://pypi.org/project/django-adminlte2-pdq
    needs:
      - release-build
    permissions:
      id-token: write

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://pypi.org/legacy/

  # test-pypi-publish:
  #   name: Upload release to Test PyPI
  #   runs-on: ubuntu-latest
  #   environment:
  #     name: release
  #     url: https://test.pypi.org/p/django-adminlte2-pdq
  #   needs:
  #     - release-build
  #   permissions:
  #     id-token: write

  #   steps:
  #     - name: Retrieve release distributions
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: release-dists
  #         path: dist/

  #     - name: Publish release distributions to TestPyPI
  #       uses: pypa/gh-action-pypi-publish@release/v1
  #       with:
  #         repository-url: https://test.pypi.org/legacy/
  #         skip-existing: true
  #         verbose: true
